// Makes all the CSS3 mixins available
@import "compass/css3";

// Makes all the Float mixins available
@import "compass/utilities/general/float";

// Makes all the Clearfix mixins available
@import "compass/utilities/general/clearfix";

// HTML5 and personal resets.
@import "partials/reset";

// My custom mixins as well as blueprint configuration
@import "partials/base";

// Import custom fonts
@include font-import;

// Import Treatment-specific styles for Squared Away
@import "partials/planners";

// Import Treatment-specific styles for stacked bar
@import "partials/stacked-bar";



/*	Primary Stylesheet						     
	Author: Tito Bottitta + Upstatement			 */ 



/* !============================================= */

/* ! Target Your Retirement 				      */

/* !============================================= */


/* ! Universal ========================== */ 


.advanced-btn-container {
	position: relative;
	height: 30px;
	margin-bottom: 16px;
	}
	
.how-much-container,
.will-you-be-short-container,
.three-things-container,
.target-main-container,
.congrats-container {
	@include ui-grid-2(40%, 60%, 5%);
	}


/* ! Index: Plan Now ========================== */ 




/* ! How Much You'll Need ========================== */ 

.how-much-container {
	width: 960px;
	margin: auto;
	
	.graph-container {
		height: 425px;
		}

	}

#how-much-output {
	.graph-overall-container {
		@include ui-grid-2(50%, 50%, 4%);
		}
	}

.enter-info-label {
	@extend .form-label-h1;
	margin-bottom: 21px;
	}

#target-how-much-form {
	@include text-graphic-med;
	@extend .basic-form;
	position: relative;
	
	.info-box {
		display: inline-block;
		}
	
	.tooltip {
		width: 300px;
		}
	
	.earnings,
	.monthly-contributions {
		@include ui-grid-2(50%, 50%, 5%);
		}
	
	.earnings {
		.field-mod-txt {
			top: 0;
			}	
		}
	
	.annual-income-field,
	.monthly-income-field,
	.ret-savings-amt,
	.monthly-mtg-payment-field {
		margin-bottom: 5px;
		}
	
	.monthly-income-field {
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
			}
		}

	.ret-savings-amt-group,
	.monthly-mtg-payment-group {
		.dollar {
			top: 18px;
			}
		}
	
	
	.planned-ret-age-group {
		@include clearfix;/* <-- I cause problems with cutting off tool tips*/
		/*height:48px;*/
		overflow:visible;
		
		.form-label {
			float:left;
			margin-right:36px;
			padding-top:17px;
		}
		#planned_ret_age {
			float:left; 
			width:150px;
		}
	}
	
	.other-income-fieldset,
	.extra-expenses-fieldset {
		.dollar {
			top: 42px;
			}
		}
	
	.monthly-income-field {
		width: 60%;
		display: inline-block;
		margin-bottom: 11px;
		}
	
	.ret-savings-rate-group {

		.pct {
			@extend .unit-default;
			position: absolute;
			top: 14px;
			left: 20%;
			width:15px;
			}

		}
	
	.ret-savings-rate {
		width: 45%;
		}
	
	.advanced-btn-container {
		margin-bottom: 40px;
		}

	.note-advanced {
		bottom: -59px;
		left: 36%;
		width: 63%;
		
		.note-arrow {
			@include rotate(207deg);
			@include float-left;
			position: relative;
			left: -2px;
			top: 9px;
			}
		
		> p {
			@include float-right;
			width: 79%;			
			}
	
		}
	
	.standard-of-living-fieldset {
		.slider-input-container {
			width: 99%;
			margin: 10px auto 0;
			padding-top: 30px;
			background: transparent url(../_images/standard-of-living-slider.png) no-repeat 1px 7px; 
			}
		}
	

	} /* end #target-how-much */



/* ! Will You Be Short ========================== */ 

#target-short-form {
	position: relative;
	@extend .basic-form;
	
	.age-fieldset,
	.ret-savings-fieldset,
	.employer-cont-fieldset,
	.pension-fieldset {
		@include ui-grid-2(50%, 50%, 5%);
		}
	
	.empl-match-pct-group {

		.pct {
			@extend .unit-default;
			position: absolute;
			top: 16px;
			left: 35%;
			width: 10px
			}
		
		input {
			width: 54%;
			}

		}

	.ret-savings-group,
	.empl-match-amount-group,
	.pension-group {
			
		.dollar {
			top: 18px;
			}

		}

	#ret_savings_self,
	#ret_savings_spouse,
	#empl_match_amount_self,
	#empl_match_amount_spouse {
		margin-bottom: 5px;
		}
	
	.mortgage-yrs-fieldset {
		
		.years {
			@extend .dollar-default;
			position: absolute;
			left: 43px;
			top: 42px;
			}
		
		input {
			width: 47.5%;
			}
		
		}
	
	.ss-benefit-intro {
		@include text-graphic-med;
		margin-bottom: 16px;
		}
	
	#ss-claim-table {
		text-align: left;
		vertical-align: middle;
		
		.age-header-label {
			width: 12%;
			}
	
		.age-label {
			@extend .form-label-h2;
			font-weight: 300;
			text-align: center;
			vertical-align: middle;
			}
		
		.dollar {
			left: 18px;
			top: 23px;		
			}
		
		input {
			margin: 0;
			}
		
		td, th {
			padding: 10px 10px 0 10px;
			}
		
		}
	
	} /* end #target-short */

#empl_match_percent_spouse {
	
	}



/* Graph */

#graph-ret_savings_combined {
	background-color: $green-bar-dark;
	}

#graph-hh_pension_income {
	background-color: $green-bar-light;
	}

#graph-ssa_benefit_amount {
	background-color: $green-bar-reg;
	}

#graph-monthly_income_rm {
	background-color: $green-bar-lighter;
	}

#graph-short_by {
	border: 3px solid $orange-dark;
	background-color: #fff;
	}

#graph-downsizing_savings {
	background-color: $blue-bar-reg;
	}

#short-output {

	.graph-container {
		height: 525px;
		}
	
	.graph-header {
		margin-bottom: 21px;
		}

	.bar-graph-bar {
		width: 60%;
		}

	.estimate-note {
		width: 60%;
		}

	}

.target-ret-income-group,
.target-short-group,
.target-ret-estimate-group {
	position: absolute;
	left: 65%;
	}

.target-ret-income-group {
	top: 0;
	}

.target-ret-estimate-group {
	top:160px;
	}
	
.target-short-group {
	top: 80px;
		
	.graph-key-number {
		color: $orange-dark;
		}

	.surplus {
		color: $green; //#86C82A
		}
	
	}
	

/* ! Three Things You Can Do ========================== */ 

.effect-container {
	.tip-trigger .tooltip {
		width: 300px;
		}
	}

.effect-group {
	padding: 0 30px 14px 0;
	border-bottom: 1px solid $light-gray;
	margin-bottom: 20px;
	}

.effect-header {
	@extend .form-label-h1;
	margin-bottom: 12px;
	display: inline-block;
	}

.effect-text {
	@extend .text-graphic-large;
	font-size: 15px;
	margin-bottom: 20px;
	}

.effect-btn-container {
	height: 30px;
	}

.effect-button {
	@extend .btn-light;
	&:hover,
	&.active {
		@include box-shadow(#fff 0 1px 0 0, rgba(0, 0, 0, 0.05) 0px -7px 6px 4px inset);
		}
	
	&.active {
		@extend .btn-light-active;
		color: $med-gray;
		}
	}

.make-plan-btn {
	@extend .btn-dark-arrow;
	}

.graph-overlay-group {
	position: relative;
	}

.graph-overlay {
	@extend .hover-box;
	@include text-graphic-med;
	width: 50%;
	z-index: 900;
	padding: 10px 15px;
	display: none;

	position: absolute;
	left: 5%;
	right: 5%;
	top: -470px;
	}

/* Use when the original Target value is lowered  */

.graph-category-orig {
	color: $med-gray;
	position: absolute;
	top: -23px;
	width: 58%;
	}


/* ! Target Calculator: Main ========================== */ 

.effect-subheader {
	@extend .text-graphic-med;
	color: $text-black;
	margin-bottom: 12px;
	}

#target-main-form {

	.effect-header {
		margin-bottom: 6px;
		}
	
	.tip-trigger {		
		.tooltip {
			width: 300px;
			}
		}

	.cys-fieldset {
		.dollar {
			top: 18px;
			}
		}

	.effect-group {
		@include ui-grid-2(33%, 67%, 5%);
		}

	.spendless-slider-group,
	.retire-age-slider-group {
		padding-top: 30px;
		}
	
	.spendless-slider-group {
		background: transparent url(../_images/spendless-slider.png) no-repeat 6px 50%
		}
	
	.retire-age-slider-group {
		background: transparent url(../_images/retirement-age-slider.png) no-repeat 50% 50%
		}
		
	.effect-house-list {
		@extend .inset-box-small;
		margin-bottom: 16px;
		}
	
	.effect-house-item {
		@extend .checkbox-container;
		padding: 12px 4px;
		margin: 0;

		.effect-house-checkbox {
			top: -5px;
			}

		&:first-child {
			padding-top: 0;
			}

		&:last-child {
			padding-bottom: 0;
			}
				
		&:not(:last-child) {
			border-bottom: 1px solid $light-gray;
			}
		}
	
	.effect-house-label {
		@extend .info-box;
		@extend .checkbox-label-large;
		display: inline-block;
		}
	
	
	
	.effect-risk-item {
		@extend .checkbox-container;	
		display: inline-block;
		width: 45%;
		
	
		
		&:not(:nth-child(2n)) {
			margin-right: 5%;
			}
		
		}
	
	.effect-risk-checkbox {
		top: -3px;
		}
	
	.effect-risk-label {
		@extend .checkbox-label-med;
		}
	
	.effect-house-label,
	.effect-risk-label {
		font-weight: 500;
		}
	
	.house-fieldset {
		.form-field-med-dollar .dollar {
			top: 29px;			
			}
		}
	
	.effect-house-advanced {
		fieldset {
			margin-bottom: 25px;
			}

		input {
			width: 50%;
			}
		}

	.advanced-trigger {
		padding-top: 4px;
		height: 30px;
		}
	
	.make-plan-btn {
		margin-left: 12px;
		}
	
	} /* end #target-main-form */


/* ! I Have a Plan / Congratulations ========================== */ 

.congrats-container {
	min-height: 625px;

	.make-plan-btn {
		margin-left: 12px;
		}

	}

.summary-box {
	@include shadow-box;
	text-align: center;
	margin-bottom: 35px;
	}

.target-income-container {
	padding: 18px 18px 21px;
	}

.target-income-text {
	font: normal 100 30px/140% $museo-sans;
	}

.target-income-money {
	font-size: 35px;
	font-weight: 700;
	color: $green;
	
	> .dollar {
		@extend .dollar-default;
		position: relative;
		top: -3px;
		margin-right: 3px;
		}
	
	}

.how-overline {
	@extend .frame-title;
	margin: -8px 0 16px 45px;
	width: 265px;
	
		&:after,
		&:before {
			display: none;
			}
	
	}

.how-header {
	font: normal 700 19px $museo-sans;
	margin-bottom: 6px;
	}

.how-text {
	font: normal 300 17px $museo-sans;
	
	.money-number {
		font-weight: 700;
		}
	
	}

.how-list {
	padding: 0;
	}

.how-item {
	padding: 18px 18px 24px;

	&:not(:last-child) {
		border-bottom: 1px solid $light-gray;
		}
	}





/* !============================================= */

/* ! Navigation						   			 */ 

/* !============================================= */

.global-hdr {
	background: $grey-blue-dark url(../_images/noise-bg-dark.gif) repeat 0 0;
	z-index: 800;
	width: 100%;
	height: 65px;
	margin: 0 0 45px 0;	
	}

.global-hdr-col-group {
	width: 960px;
	margin: auto;
	@include ui-grid-lr;
	}

.hdr-logo-container {
	width: 196px;
	position: relative;
	margin: 16px 0 0 0;

	> a {
		@include trans;
		display: block;
		}
	
	> a:hover {
		@include opacity(0.9);
		}
	
	}

.global-nav-list {
	}

.global-nav-basics {
	display: inline;
	
	> a {
		@include trans;
		display: block;
		@include float-right;
		padding: 21px 15px;
		text-align: center;
		
		color: #fff;
		@include text-shadow(#000, 0, -1px, 0);
		}
	
	}

.global-nav-item {
	@extend .global-nav-basics;
	
	> a {
		font: normal 300 16px $museo-slab;
		}
	
	> a:hover {
		color: $yellow-highlight;
		}
	
	}

#global-nav-login {
	@extend .global-nav-basics;

	> a {
		@include trans;
		font: normal 500 11px $museo-sans;
		padding: 5px 13px;
		margin: 19px 0 0 12px;
		background-color: rgba(255, 255, 255, .2);
		border-top: 1px solid rgba(255, 255, 255, .1);
		border-right: 1px solid rgba(255, 255, 255, .1);
		border-bottom: 1px solid rgba(255, 255, 255, .25);
		border-left: 1px solid rgba(255, 255, 255, .1);
		@include border-radius(100px);
		@include box-shadow(#000, 0, -1px, 0);
		}
	
	> a:hover {
		background-color: rgba(255, 255, 255, .25);
		}	
	
	}













/* !============================================= */

/* ! Print Styles							     */
/*	Inline to avoid required HTTP connection     */

/* !============================================= */
 
@import "partials/print";

