// Makes all the CSS3 mixins available
@import "compass/css3";

// Makes all the Float mixins available
@import "compass/utilities/general/float";

// Makes all the Clearfix mixins available
@import "compass/utilities/general/clearfix";

// HTML5 and personal resets.
@import "partials/reset";

// My custom mixins as well as blueprint configuration
@import "partials/base";

// Import custom fonts
@include font-import;

// Import Treatment-specific styles for Squared Away
@import "partials/planners";

// Import Treatment-specific styles for stacked bar
@import "partials/stacked-bar";


/*	Primary Stylesheet						     
	Author: Tito Bottitta + Upstatement			 */ 



/* !============================================= */

/* ! Drawdown				 				      */

/* !============================================= */

$viz-height: 305px;

/* ! Universal ========================== */ 

.frame-h2 {
	b {
		font-weight: 100;
		}
	}

.drawdown-wrap {
	position: relative;
	&.with-viz {
		padding-top: $viz-height;
		}
	}

/* Remove extraneous headline spacing when interactive chart is present */

.make-a-plan,
.consider-your-options {
	.frame-hgroup,
	.frame-hgroup .frame-h2 {
		margin-bottom: 0;
		}
	}

/* Interactive Chart */

#drawdown-viz-wrap {
	@include trans(.6s);
	box-shadow:0px -4px 2px rgba(0, 0, 0, 0);
	&.fixed {
		box-shadow:0px 7px 12px rgba(0, 0, 0, .1);
	}
}

.viz-container {
	@include ui-grid-2(74%, 26%, 3%);
	width: 920px + 920;
	height: $viz-height;
	padding: 20px 460px 25px;
	margin-left: -460px;
	background: #F0F0F0 url(../_images/noise-bg.gif) repeat 50% 50%;
	z-index: 200;
	position: absolute;
	top: 0;
	}

.graph-fixed {
	position: fixed;
	@include box-shadow(rgba(0, 0, 0, .1), 0, 3px, 4px, 1px);
	}

.viz-graph-h {
	@extend .form-label-h1;
	margin-bottom: 15px;
	
	.dollar {
		font-size: 100%;
		}
	}

.consider-your-options {
	.viz-savings-field {
	
	width:160px;
	
	
			}

	.viz-graph-h-options {
		display: block;
		height: 20px;
		overflow: hidden;
		}
	}

.make-a-plan {
	.viz-graph-h-dash {
		display: block;
		}
	}

.viz-graph-sub-h {
	font-weight: 300;
	font-size: 12px;
	color: $med-gray;
	display: none;
	}

.viz-graph-h3 {
	margin-bottom: 6px;
	z-index: 303;
	}

.retirement-age {
	width: 70% !important;
	margin-left: 4% !important;
}

.savings-page-2 {
	font-size: 16px;
	font-weight: 700;
	padding-left: 5px;
	margin-top: 5px;
	&#income_goal {
		display:inline;
	}
	&#drawdown_need_from_savings_cys {
		display:inline;
	}
}

/* Age Selector  */

.viz-age-selector {
	position: absolute;	
	top: -7px;
	left: 60px;
	z-index:-100;
	}

.viz-age-thumb,
.viz-age-selector-bar {
	@include trans;
	}

.viz-age-thumb {
	@include trans;
	font: normal 700 16px $museo-sans;
	color: #000;
	text-align: center;
	width: 37px;
	height: 37px;
	padding: 7px 5px 0;
	@include border-radius(100px);
	background-color: rgba(255, 255, 255, .8);
	z-index: 301;
	left:-2px;
	position:relative;
	border: 1px solid #ccc;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
	cursor: hand;
	cursor: -webkit-grab;
	&:hover,
	.viz-age-selector:hover & {
		border-color: $med-gray;
		background-color: rgba(255, 255, 255, 1);
		cursor: hand;
		cursor: -webkit-grabbing;
		}
	}

.viz-age-selector-bar {
	height: 180px;
	width: 13px;
	position: relative;
	z-index:305;
	left: 10px;
	top: -2px;
	background-color: rgba(255, 255, 255, 0.5);
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	&:hover,
	.viz-age-selector:hover & {
		background-color: rgba(255, 255, 255, 1);
		border-color: $med-gray;
		}
	}
	
/* ---------------------- New Bethany Styles ------------------------ */

.slider-control-container {
	width:20px;
	height:26px;
	display:inline-block;
	position:relative;
	float:right;
	margin-top:-24px;
}

.sliderUp {
	background-image:url("/wp-content/themes/shebang/_images/sliderUp.png");
	border:0px;
	background-color:transparent;
	height:13px;
	width:20px;
	background-repeat:no-repeat;
	display:inline-block;	
	position:absolute;
	top:0px;
}

.sliderDown {
	background-image:url("/wp-content/themes/shebang/_images/sliderDown.png");
	border:0px;
	background-color:transparent;
	height:13px;
	width:20px;
	background-repeat:no-repeat;
	display:inline-block;	
	position:absolute;
	bottom:0px;
}

.sliderUp:hover, .sliderDown:hover {
	background-color:#e6e9ea;
	@include border-radius(3px);
}

.ret-savings {
	position:relative;
	width:120px !important;
	float:right;
	margin-top:-7px !important;
}

.initial-savings-label {
	padding-top:5px;
	display:inline;
}

.lable-padding {
	padding-top:9px;
}


.viz-graph-header {
	@include ui-grid-2(64%, 36%);
}

.initial-savings-dollar {
		top: 3px;
		left:127px;
		z-index:1000;
		color:#999;
		font-weight:100;
			font-size: 15px;
	
		}
	
	.uys {
		position:absolute;
		top: 18px !important;
		left:127px;
		z-index:1000;
		color:#999;
		font-weight:100;
			font-size: 15px;
	}
			
.viz-figure-col-container {
	background-color:white;
	margin-top:-7px;
	padding:5px;
	@include border-radius(3px);
}

.viz-figure {
	@include trans;
}

html .viz-figure-alive-group {
	div.graph-col-fig.col-1 {
		width:30%;
	}
	div.graph-col-txt.col-2 {
		width:68%;
		 
	}
}

.viz-figure-col-container-header {
	background-color:#464D56;
	text-align:center;
	padding:11px;
	color:white;
	margin-bottom:20px;
		@include border-radius(3px);
		text-transform:uppercase;

}

#likely_income {
	font-size:26px !important;
}

#likely_savings {
	color:#CCC !important;
	font-size:18px !important;
	margin-top:-2px;
}

.consider.badly {
	display:none;
}

.badly {
	color:#999 !important;
}

.input-offset {
	position:relative;
	margin-top:2px;
}

.form-have-group .col-2 {
	padding-top:3px;
}

.your-info {
	@include ui-grid-2(50%, 50%, 5%);
	
}

.graph-tooltip {
	background-color:white;
	@include box-shadow(rgba(0, 0, 0, .1), 0, 3px, 4px, 1px);
	width:185px;
	height: 180px;
	padding-bottom:10px;
	display:none;
	position: fixed;
	z-index: 1000;
}

.graph-tooltip .viz-figure-col-container-header {
	margin-bottom:5px;
	background-color:#999;
	@include border-top-radius(3px);
}

.graph-tooltip #likely_income {
	font-size:16px !important;
}

.graph-tooltip #likely_savings {
	font-size:11px !important;
}

.graph-tooltip .dollar {
	font-size	:11px;
}

.graph-tooltip .viz-legend-group {
	margin-left:10px;
	margin-right:10px;
}

.chances-figures {
	background-image:url("/wp-content/themes/shebang/_images/malefemale.png");
	display:inline-block;
	background-repeat:no-repeat;
	float:left;
	width:46px;
	height:43px;
	margin-left:5px;
	margin-right:10px;
}

#estimator-output {
	background-color:white;
	text-align:center;
	
	h4 {
		color:black !important;
	}
}

#estimator-output .your-info {
	padding-bottom:36px;
	border-bottom:10px rgb(247,247,247)solid;
}

#estimator-output .your-income {
	
	border-bottom:10px rgb(247,247,247)solid;
	padding:35px 15px;
	.yearly-income-total {
		font-size:36px;
		color:#CCC;
		padding-top:10px;
	}
}

#estimator-output .your-expenses {
	padding:30px 15px;
	border-bottom:10px rgb(247,247,247)solid;
	
		.yearly-expenses-total {
		font-size:36px;
		color:#CCC;
		padding-top:10px;
	}
}

#estimator-output .your-savings-needs {
	padding:30px 15px;
	
		.yearly-savings-needs-total {
		font-size:36px;
		color: $green-bar-reg;
		padding-top:10px;
	}
}

.make-a-plan-button {
	width:300px;
	margin:0 auto;
}

.viz-figure-col-female {
	padding-left:10px;
}
	 
/* Drawdown Bars */

.dd-bar  {
	border-right: 1px solid $whitesmoke;
	width: 100%;
	text-indent: -10000em;
	}	

.drawdown-savings-graph,
.drawdown-income-graph {
	width: 100%;
	border: 0;
	height:120px;
	td {
		vertical-align: bottom;
		}
	td.last div {
		border: 0;
		}
	}

.drawdown-savings-graph {
	td {
		height: 80px;
		}
	.savings-badly {
		@include bar-gradient;
		.bar-active & {
			color: darken($green-bar-dark, 35%);
			}
		}
	.savings-remaining {
		background: $green-bar-dark;
		.bar-active & {
			color: darken($green-bar-reg, 35%);
			}
		}
	}
	.text-badly {
		margin-left: 7px;
		top: 1px;
	}

.drawdown-income-graph {
	td {
		height: 120px;;
		}
	.yearly-income-badly {
		@include bar-gradient;
		.bar-active & {
			color: darken($green-bar-dark, 35%);
			}
		}
	.yearly-income {
		background: $green-bar-dark;
		.bar-active & {
			color: darken($green-bar-reg, 35%);
			}
		}
	}

.income-graph-bar,
.savings-graph-bar {
	@include opacity(.75);
	&.bar-active {
		@include opacity(1);
		}
	}


/* Info Input Column */

.viz-info-col {
	@extend .inset-box;
	padding: 15px;
	margin-top: -10px;
	.form-field-small input,
	.form-field-small-dollar input {
		height: 31px;	
		}
	}

.viz-savings-field {
	margin-bottom: 2px;
	float:right;
	width:100%;
	text-align:right;
	.initial-savings-dollar {
		.consider-your-options & {
			top: 25px;
			font-size: 15px;
			}
		}
	}
.viz-savings-field-cys {
	@extend .viz-savings-field;
	color: #999;
	font-size:14px;
	margin-top:10px;
	.initial-savings-dollar {
		font-size:14px;
	}
	h2 {
		font-size:14px;
	}
}

.viz-retire-age-field {
	@include ui-grid-2(60%, 40%);
	height: 40px;
	.tooltip {
		width: 160px;
		margin-left: -31px;
		}
	select {
		background-position: 87% 55%;
		padding-right: 27px;
		padding-left: 7px;
		margin-bottom: 0;
		}
	}

.retire-age-label {
	margin-top: 16px;
	}


/* Graph Column */

.viz-graph-col {
	.slider-input {
		width: 102%;
		margin-left: -1%;
		background-image: none;
		background-color: transparent;
		border: 0;
		height: 0;
		position: relative;
		top: 20px;
		z-index: 300;
		&::-webkit-slider-thumb {
			display: none;
			} 
		}
	}

.viz-age-wrap,
.viz-savings-wrap {
	position: relative;
	}

.age-tick-marks {
	width: 100%;
	position:relative;
	z-index:-200;
	}

.age-tick-td {
	font-size: 11px;
	color: $med-gray;
	height: 13px;
	border-bottom: 1px solid #ccc;
	vertical-align: bottom;
	position: relative;
	&:nth-child(5n-1) .age-tick {
		height: 13px;
		}
	&.first {
		width: 10px;
		border-left: 1px solid #ccc;
		}
	&.last {
		.age-tick {
			height: 13px;
			}	
		}
	}

.age-tick {
	height: 7px;
	border-right: 1px solid #ccc;
	}

.age-tick-yrs-group {
	position: absolute;
	top: 15px;
	.age-tick-txt {
	   display: none;
	   }
	.age-tick-td.first &,
	.age-tick-td.last & {
		width: 60px;
		display: block;
		top: -16px;
		}
	.age-tick-td.first & {
		left: -5px;
		}
	.age-tick-td.last & {
		text-align: right;
		right: -10px;
		}
	}




.income-graph-wrapper {
	width: 100%;
	position: relative;
	
	#what_you_need_line,
	#really_need_line {
		height: 0;
		border-top: 1px solid $med-gray;
		position: absolute;
		top: 6px;
		z-index: 5;
		width: 103%;
		margin-left: -3%;
		text-indent: -1000px;
	}
	#what_you_need_line {
		top: 2px;
		border-style: dashed;
		}
	}

.viz-need-group,
.viz-really-need-group {
	position: relative;
	.form-label {
		position: absolute;
		width: 155px;
		left: -185px;
		text-align: right;
		font-size: 12px;
		}
	.form-label-light {
		color: $med-gray;
		font-weight: 700;
		}
	.need-label {
		top: -5px;
		}
	.really-need-label {
		bottom: -30px;
		}
	}

/* Output Column */

html .drawdown-graph-num-col > .col-2, html .drawdown-graph-num-col > .col.second {
	padding-top:0px;
}

.drawdown-graph-num-col {
	@include ui-grid-2(65%, 25%, 3%);
	margin-left:5px;
	> .col.second {
		padding-top:0px;	
	}
	.col.second {
		padding-top:0px;
	}
}

.graph-col-fig {
	font-size: 24px;
	font-weight: 700;
	.dollar {
		@extend .unit-default;
		position: relative;
		top: -3px;
		margin-right: 4px;
		}
	}

.graph-col-txt {
	font-size: 11px;
	font-weight: 700;
	color: $text-black;
 
	}

.viz-legend-group {
	&:not(:last-child) {
		margin-bottom: 18px;
		}
	}

.viz-odds-alive-group {
	margin: 25px 0 14px;
	.graph-col-fig,
	.graph-col-txt {
		color: $med-gray;
		margin-top: 0px;
		}
	.graph-col-fig {
		padding-left: 12px;
		font-weight: 100;
		}
	.info-box {
		width:140px;
	}
	.info-box:after {
		
		}
	.tooltip {
		width: 300px;
		margin-left: -180px;
		&:before {
			left: 220px;
			}
		&:after {
			left: 222px;
			}
		}
	}
	#alive-percentage {
		color:$black;
	}

.viz-likely-savings-group {
	color: darken($green-bar-dark, 6%);
	}

.viz-bad-savings-group {
	color: darken($green-bar-reg, 10%);
	}

.viz-likely-income-group {
	color: $green-bar-dark;
	}

.viz-bad-income-group {
	color: darken($green-bar-reg, 2%);
	}



/* !============================================= */

/* ! Using Your Savings in Retirement			  */

/* !============================================= */

.estimator-wrap {
	@include ui-grid-2(70%, 30%, 5%);
	}
	
	.form-need-group {
	@include ui-grid-2(50%, 50%, 5%);
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:1px #CCC solid;
	}
	
	.form-have-group {
	@include ui-grid-2(50%, 50%, 5%);
	padding-bottom:0px;
	margin-bottom:30px;
	border-bottom:1px #CCC solid;
	}
	
		
	.form-info-group {
	@include ui-grid-3(28%, 23%, 47%, 8%);
	margin-bottom:30px;
	padding-bottom:25px;
	border-bottom:1px #CCC solid;
	
	}
	
	.other-income #current_monthly_consumption {
		margin-top:10px;
		padding-left:20px;
	}
	
	.savings-dollar {
		position:absolute;
		top:85px !important;
	}
	
	.other-income #marital_status_gender {
		margin-top:10px;
	}
	
	.form-field-large .current-age input {
		width:70px !important;
	}
	
	.form-button-group {
	margin-bottom:20px;
	padding-bottom:80px;
	
	}
	
	.form-info-group .col-2, .form-info-group .col-3 {
		padding-top:30px;
	}
	
.group-spouse {
	padding-top:0px !important;
}

/* Estimator Inputs */

.drawdown-estimator-form {
	@extend .basic-form;
	
	.dollar {
		top: 19px;
		}
	}

.enter-info-label {
	margin-bottom: 12px;
	}

.form-need-group {
	margin-bottom: 36px;
	}

.form-need-group,
.other-income {
	input {
		display: inline-block;
		width: 40%;
		margin-right: 10px;
		}
	.time-element {
		top: 4px;
		display: inline-block;
		position: relative;
		}
	}

.form-have-group {	
	.form-label {
		display: inline-block;
		}
	.form-label-txt {
		display: inline;
		}
	}

.ss-group {
	.form-label {
		margin-bottom: 8px;
		}
	}

.other-income-group {
	.form-label {
		margin-bottom: 0;
		}
	}

.ss-dbl-input-group {
	@include ui-grid-2(50%, 50%, 5%);
	margin-bottom: 10px;
	.dollar {
		top: 34px;
		}
	}

.marital-status-select {
	margin-bottom: 0 !important;
	}


/* Estimator Graph */

#estimator-output {
	.graph-container {
		height: 525px;	
		}
	}

#graph-drawdown,
.total-mo-expenses-h {
	width: 40%;
	}

.total-mo-expenses-h {
	.graph-category {
		margin: 0 0 6px 0;
		}
	}

.estimator-key {
	.graph-key-number {
		@include ui-grid-2(50%, 50%, 5%);
		}
	.graph-key-label {
		font-weight: 700;
		margin-bottom: 4px;
		color: $text-black;
		}
	}

.key-fig {
	color: $orange;
	}

.time-element {
	font-size: 13px;		
	color: $text-black;
	margin-left: 4px;
	}

.graph-key-yr {
	.key-fig {
		color: lighten($orange, 15%);
		font-size: 20px;		
		}
	.time-element {
		color: $med-gray;
		}
	.dollar {
		font-size: 15px;
		top: -2px;
		}
	}
	



/* Graph Color Key */

#graph-other_income {
	background-color: $green-bar-light;
	}

#graph-ss_benefit_amount_combined {
	background-color: $green-bar-dark;
	}

/*
#graph-ssa_benefit_amount {
	background-color: $green-bar-reg;
	}
*/

#graph-monthly_income_rm {
	background-color: $green-bar-lighter;
	}

#graph-gap {
	border: 3px solid $orange-dark;
	background-color: #fff;
	}

#graph-downsizing_savings {
	background-color: $green-bar-reg;
	}

.estimator-key {
	position: absolute;
	left: 44%;
	top: 0;
	width: 56%;
	}



/* !============================================= */

/* ! Consider Your Options				 		  */

/* !============================================= */


/* ! Downpage ========================== */ 

.drawdown-list-h {
	font: normal 700 15px $museo-sans;
	display: block;
	@include border-radius(3px);
	padding: 7px 12px 8px;
	background-color: $grey-blue;
	color: #fff;
	}
	
.other-income .form-field-large text-input {
	width:50px !important;
}

.drawdown-option-item {
	@include trans;
	@include ui-grid-2(6%, 94%);
	padding: 18px 12px;
	&:not(:last-child) {
		border-bottom: 1px solid $light-gray;
		}
	&:last-child {
		margin-bottom: 20px;
		}
	.select-input-large, 
	.form-field-large select {
		font-weight: 700;
		}
	&:hover {
		background-color: rgba(255, 255, 255, .6);	
		}
	&.option-active {
		background-color: rgba(255, 255, 255, .75);
		}
	}

.option-description {
	@include pie-clearfix;
	margin-top: 5px;
	}

.option-label {
	@include trans;
	@include float-left;
	width: 72%;
	}

.option-fieldset {
	@include float-right;
	width: 23%;
	display: none;
	.option-active & {
		display: block;
		}	
	}

.option-label-h {
	@include trans;
	@extend .site-section-h;
	display: block;
	margin-bottom: 8px;
	color: $med-gray;
	.option-active &,
	.drawdown-option-item:hover & {
		color: $text-black;
		}
	}

.option-txt {
	@include trans;
	@extend .text-graphic-large;
	color: #aaa;
	display: none;
	.option-active &,
	.drawdown-option-item:hover & {
		color: $dark-gray;
		}
	.option-active & {
		display: block;
		}
	}

.option-form-label {
	font: normal 500 14px $museo-sans;
	color: $med-gray;	
	}

.option-list-radio-btn {
	@include trans;
	-webkit-appearance: none;
	width: 33px;
	height: 33px;
	display: block;
	@include border-radius(4px);
	background: #fff url(../_images/check-checkbox.png) 50% 0% no-repeat;
	border: 1px solid $med-gray;
	@include opacity(.5);
	&:hover {
		@include opacity(1);
		}
	&:checked {
		background-position: 50% 97%;
		@include opacity(1);
		}
	}


/* !============================================= */

/* ! Make a Plan / Drawdown Dashboard			   */

/* !============================================= */


/* ! Dashboard / Option Table ========================== */ 

.option-table {
	width: 100%;
	border: 0;
	position: relative;
	margin-bottom: 30px;
	
	tr {
		@include trans;
		td {
			background-color: rgba(255, 255, 255, .35);
			min-height:30px;
			}
		&:hover:not(.total-row) {
			td {
				@include trans;
				background-color: rgba(255, 255, 255, .5);
				}
			}
		}
	
	th, td {
		text-align: left;
		vertical-align: middle;
		&:not(:last-child) {
			padding-right: 2%;
			}
		}
	
	td {
		padding: 16px 0;
		}
	
	th {
		background-color: $grey-blue;
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		padding: 8px 0;
		}
	
	td {
		border-top: 1px solid $light-gray;
		}
	
	.option-name,
	.option-name-th {
		padding-left: 10px;
		vertical-align:middle;
		}
	
	.option-name {
		width: 40%;
		font-size: 16px;
		}
	
	.option-name-h {
		@extend .section-h2;
		font-size: 16px;	
		}
	
	.option-slider {
		position: relative;
		width: 20%;
		padding-right: 3% !important;
		background-image: url(/wp-content/themes/shebang/_images/dd-slider-ticks2.png);
		background-position: 20% 29px;
		background-repeat: no-repeat;	
		}
	.option-slider-amount
		 {
		width: 10%;
		
		}
		
		.option-initial-savings, {
	width:40%;	.total-pct-label {margin-right: 20px;}
	}

	.option-fig,
	.total-pct {
		@extend .section-h2;
		}

	.option-initial-savings,
	.option-initial-income {
		color: $med-gray;
		}

	.set-amt-row,
	.set-pct-row {
		td {
			padding-top:5px !important;
			padding-bottom: 5px;
			}
		.option-slider {
			background-position: 20% 31px;
			}
		}

	.set-pct-fieldset,
	.set-amt-fieldset {
		.select-input-tiny {
			width: 27%;
			display: inline-block;
			}
		.field-mod-txt {
			font: normal 500 12px $museo-sans;
			color: $med-gray;
			display: inline-block;
			}
		}

	.total-row {
		td {
			background-color: rgba(255, 255, 255, 0.85);
			border-top-color: #ccc;
			border-bottom-color: #ccc !important;
			border-bottom:1px;
			}
		.option-name-h {
			display: inline-block;
			margin-right: 6px;
			}
		.total-pct {
			display: inline-block;
			}
		.total-pct-label {
			font: normal 500 12px $museo-sans;
			color: $med-gray;
			display: inline-block;
			position: relative;
			top: -2px;
			}
		.option-slider {
			background-image: none;
			}
		}

	.inactive-slider-row {
		@include opacity(.4);
		background-color: rgba(255, 255, 255, 0);
		&:hover {
			@include opacity(1);
			}
		}
	
	.dollar {
		@extend .unit-default;
		position: relative;
		top: -3px;
		margin-right: 2px;
		}
	
	} /* end .option-table */

.dd-flag {
	}

.dd-flag-txt {
	@extend .text-graphic-med;
	color: $orange;
	font-weight: 700;
	}

#exceed-notice {
	@include trans;
	display: inline-block;
	text-align: center;
	@include opacity(0);
	}

.exceed-active {
	#exceed-notice {
		@include opacity(1);
		}
	#total_pct,
	#total_amount,
	#total_initial_savings,
	#total_initial_income {
		color: $orange;	
		}	
	}


/* ! What Next ========================== */ 

.what-next-group {
	text-align: center;
	@include inset-box;
	width: 200%;
	padding: 75px 50% 70px;
	margin-left: -50%;
	margin-bottom: 100px;
	}

.what-next-h {
	@extend .frame-h2;
	margin-bottom: 11px;
	}

.what-next-item {
	.what-next-h {
		font-weight: 500;
		> a {
			font-weight: 100;
			}
		}
	}




/* inexplicable humanoid bargraphs */

.figure-graph {
   float: left;
   height: 43px;
	margin-right:10px;
   td {
      width: 18px;
      background: #dcdcdc;
      height: 100%;
      vertical-align: bottom;
      position: relative;
   
      #female_bar {
         width: 100%;
         height: 50%;
         background: #eda4b3;
         text-indent: -1000em;
      }
      #male_bar {
         width: 100%;
         height: 50%;
         background: #b7d4de;
         text-indent: -1000em;
      }
      
      #male_mask {
         position: absolute;
         text-indent: -1000em;
         z-index: 10;
         background: url('/wp-content/themes/shebang/_images/malemask.png') top left no-repeat;
         top: 0;
         left: 0;
         width: 18px;
         height: 43px;
      }
      #female_mask {
         position: absolute;
         text-indent: -1000em;
         z-index: 10;
         background: url('/wp-content/themes/shebang/_images/femalemask.png') top left no-repeat;
         top: 0;
         left: 0;
         width: 18px;
         height: 43px;
      }
   }
}

/* ---------------------- New Jared Styles ------------------------ */

input#other_income {
	width:231px;
}

#drawdown_cut_pct_label {
	font-size: 27px;
	position: absolute;
	color: rgba(68, 68, 68, 0.3);
	font-weight: 300;
	top: 9px;
	left: 110px;
}

#drawdown_cut_pct {
	width:35%; 
}

.note-drawdown-options {
	width:137px;
	left:-150px;
	margin-top:-10px;
	-webkit-transform:rotate(-7deg);
	p {
		top:32px;
		position:relative;
	}
}

/* !============================================= */

/* ! Print Styles							     */
/*	Inline to avoid required HTTP connection     */

/* !============================================= */
 
@import "partials/print";

