// Makes all the CSS3 mixins available
@import "compass/css3";

// Makes all the Float mixins available
@import "compass/utilities/general/float";

// Makes all the Clearfix mixins available
@import "compass/utilities/general/clearfix";

// HTML5 and personal resets.
@import "partials/reset";

// My custom mixins as well as blueprint configuration
@import "partials/base";

// Import custom fonts
@include font-import;

// Import Treatment-specific styles for Squared Away
@import "partials/planners";


/*	Primary Stylesheet						     
	Author: Tito Bottitta + Upstatement			 */ 



/* !============================================= */

/* !Control Your Spending			   			  */ 

/* !============================================= */


/* !== Intro ===================================== */ 

.intro-illo {
	display: block;
	}

.intro-illo-img {
	@extend .placeholder-block;
	height: 350px;
	}


/* !== 1.1 Where the Money Goes ====================== */ 

.where-money-goes .enter-income-note {
	width: 15%; 									/* 155/1160 - 13.362069 */
	@include rotate(-5deg);
	left: -19%;
	top: 26%;
	}

#cex-age-income-form {
	/* 	Hide until we hook up the logic to make figures relative to salary */
	display: none;

	padding: 15px 18px;
	width: 102%;
	margin: 0px 0 45px -8px;
	position: relative;
	background-color: $bg-blue;
	border: 1px solid $bg-blue-dark;
	@include border-radius(4px);
	
	.monthly-savings-label {
		margin-bottom: 6px;
		}

	.monthly-income-group,
	.annual-income-group {
		position: relative;
		
		> .dollar {
			top: 30px;
			}

		}
	
	}


@media screen and (min-width: 700px) {
	#cex-age-income-form {
		@include ui-grid-3(30%, 39%, 30%, 5%);
		}
	}/* mediaquery */

.cex-form-intro {
	font: normal 500 11px $museo-sans;
	margin-top: 28px;
	}


#cex-annual-input {
	@extend .text-input-med-dollar;
	margin-bottom: 0;
	}

#cex-life-stage-select {
	@extend .select-input;
	margin-bottom: 0;
	padding-left: 10px;
	font-weight: 700;
	}

#cex-monthly-input {
	@extend .text-input;
	width: 60%;
	padding-left: 19px;
	}

.cex-annual-label,
.cex-life-stage-label {
	@extend .form-label-small;
	}

.cex-monthly-label {
	@extend .form-label;
	}

#cex-income {
	.dollar-annual {
		@extend .dollar-form;
		}

	.dollar-monthly {
		@extend .dollar-form-small;
		}
}


/* !Chart annotations & brackets */

.cex-container {
	@include ui-grid-rl(20%, 80%, 3%);
	margin-bottom: 25px;
	}

.bracket,
.bracket-left,
.bracket-right {
	@include border-radius(6px);
	border: 1px solid $med-gray;
	position: relative;
	width: 10px;
	
	&:after {
		content: '\0020';
		position: absolute;
		top: 25px;
		width: 6px;
		border-top: 1px solid $med-gray;
		}
	
	}

.bracket-left {
	border-left: 0;
	@include border-left-radius(0);
	float: left;
	margin-right: 15px;

	&:after {
		left: 10px;
		}
	}

.bracket-right {
	border-right: 0;
	@include border-right-radius(0);
	float: right;
	margin-left: 15px;

	&:after {
		right: 10px;
		}
	}

.small-savings-note,
.large-savings-note {
	@include pie-clearfix;
	}
	
.small-savings-note {
	margin: 28px 0 7px;
	
	strong {
		color: $orange;
		}

	.bracket {
		@extend .bracket-left;
		height: 283px;
		}
	
	}

.large-savings-note {

	strong {
		color: $orange;
		}

	.bracket {
		@extend .bracket-left;
		height: 75px;
		}
	}



/* !CEX Chart */

#cex-canvas {
	font-family: $museo-sans;
	}

.cex-category,
.cex-amount,
.cex-category-total,
.cex-amount-total {
	@include text-graphic-med;
	}

.cex-category {
	font-weight: 500;
	}

.cex-category-total,
.cex-amount-total {
	font-weight: 700;
	}

.small-cat-bar,
.large-cat-bar {
	@include opacity(.75);
	}

.small-cat-bar {
	background-color:$blue-bar-2;
	}

.large-cat-bar {
	background-color:$green-bar-2;
	}

.muted-cat-bar {
	background-color: #fff;
	}


/* !== 1.1 Index/Introduction =================== */ 

#cys-intro-list {
	@extend .intro-list;
	}

.post-107 .frame-h2,
.where-money-goes .frame-h2 {
	position: relative;
	}

.headline-star {
	@extend .note-large;
	position: absolute;
	top: 28px;
	}

.star-spacer {
	display: inline-block;
	margin-right: 18px;
	}

.headline-footnote {
	@extend .note;
	text-align: center;
	margin-top: 55px;
	@include rotate(-2deg);
	}

/* !== 2.1 Make a Plan - Goals =================== */ 

.make-a-plan {

	.big-money {
		color: $green;
		
		.dollar {
			@extend .dollar-default;
			position: relative;
			top: -5px;
			margin-right: 4px;
			}
		
		}
	
	}

#plan-form {

	.form-field {
		position: relative;
		@extend .col-50;
		}

	.big-number-input {
		padding-left: 30px;
		padding-right: 90px;
		}
	
	.dollar {
		font-size: 25px;
		color: $med-gray;
		font-weight: 100;
		position: absolute;
		left: 10px;
		top: 38px;
		}
		
	#month-year {
		position: absolute;
		top: 42px;
		right: 15px;
		color: $med-gray;
		}
	
	}
	
/* !Choose Goal: Enter data */

.enter-goal-container {
	padding-bottom: 30px;
	width: 750px;
	}

.enter-goal-header {
	width: 45%;
	margin: 0 auto 50px;
	@include pie-clearfix;
	padding-bottom: 5px;
	}
	
.change-goal-link {
	@include trans;
	font: normal 300 12px $museo-sans;
	color: $dark-gray;
	display: block;
	margin-top: 10px;
	@include text-shadow(rgba(255,255,255,1), 0, -1px, 0);
	
		&:hover {
			color: $orange;
			}
	}

.enter-goal-h1,
.custom-goal-h1 {
	@extend .frame-h3-strong;
	text-align: left;
	margin-bottom: 0;
	}

.goal-label-prefix {
	margin-right: 7px;
	}

#goal-select {
	@extend .select-input-large;
	}

#goal-select,
#custom-goal-input,
#big-ticket-input {
	width: 80%;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	margin: -5px 0 0;
	}

#big-ticket-input,
#custom-goal-input {
	@extend .text-input-large;
	}

.enter-goal-h2 {
	@extend .text-graphic-med;
	margin-bottom: 25px;
	}

.enter-goal-body {
	@include inset-box;
	@include bg(white-50);
	}

/* !Enter Goal: Tabs/Toggle */

.enter-goal-toggle {
	width: 57%;
	margin: -47px auto 30px;
	display: block;
	@include pie-clearfix;
	}

.enter-goal-toggle-item {
	
	> a {
		@include trans(.2s, color, ease-in);
		display: block;
		padding: 7px 20px 8px;
		text-align: center;
		font: normal 300 13px $museo-sans; 
		border: 1px solid $med-gray;
		background-color: #fff;
		@include border-radius(6px);
		@include linear-gradient(color_stops(#fff 0%, #fff 30%, #d6d6d6 93%, #d6d6d6 100%));
		//@include background-image(linear-gradient(#fff, #fff 30%, #d6d6d6 93%, #d6d6d6));	
		color: $dark-gray;
		}
	
	> a:hover {
		color: #000;
		}

	> a.active,
	> a.active:hover,
	&.active > a,
	&.active > a:hover {
		@include box-shadow(rgba(0,0,0,0.25), 1px, 1px, 3px, 0, inset);	
		@include linear-gradient(color_stops(#ccc 0%, #ccc 5%, #fff 100%));
		color: #000;
		cursor: default;
		}

	}

.enter-goal-toggle-item	> a {
	@include float-left;
	width: 50%;
	}

#save-by-date-toggle > a {
	@include border-right-radius(0px);
	border-right: 0;
	}

#save-by-month-toggle > a {
	@include border-left-radius(0px);
	}



.enter-goal-summary {
	font: normal 300 19px $museo-sans;
	text-align: center;
	margin: 40px auto;

	.todo-target {
		@extend .money-number-med;
		}

	}

/* !Goal bar */

.enter-goal-bar-stage {
	@extend .shadow-box;
	margin-bottom: 30px;
	display: none;
	}

@media screen and (min-width: 700px) {
	.enter-goal-bar-text {
		@include ui-grid-lr;
		}
}/* mediaquery */


.enter-goal-number {
	@extend .money-number;
	font-size: 24px;
	font-weight: 700;

	.dollar {
		@extend .dollar;
		@extend .dollar-default;
		position: relative;
		top: -3px;
		margin-right: 2px;
		}
	
	}

.enter-goal-bar-month {
	font-size: 16px;
	font-weight: 700;
	}

.enter-goal-bar-title {
	@extend .nav-head-h2-alt;
	margin-top: 6px;
	}

.enter-goal-bar {
	$h: 35px; //height of prog-bar

	margin-top: 10px;
	height: $h;	
	width: 100%;
	background-color: $almost-white;
	border: 1px solid $light-gray;
	display: block;
	@include box-shadow(rgba(0,0,0,.3), 1px, 1px, 2px, 0px, inset);
	@include pie-clearfix;	
	
	&:hover .enter-goal-bar-leader {
		width: 33.333333%;		
		}

		.enter-goal-bar-leader {
			display: block;
			float: left;
			height: $h - 2px;
			width: 3%;
			background-color: $green;
			@include linear-gradient(color_stops(#92c039 0%, #b0d235 100%));
			@include trans(.5s);			
			}
	
	.tooltip {
		margin-top: 37px;
		max-width: 300px;	
		}
	
	}

/* !Enter goal form */

#enter-goal-form {
	//margin-bottom: 30px;
	
	.date-label {
		@extend .form-label-h1;
		margin-bottom: 16px;
		}
	
	#save-by-date,
	#save-by-month {
		position: relative;
		}

	#save-by-date {
		width: 60%;
		margin: auto;
		}

	.save-by-date-split {
		@include ui-grid-2(35%, 65%, 5%);
		margin-bottom: 20px;
		}

	.overall-savings-wrap {
		#overall-savings-input {
			width: 86%;
			}

		.dollar {
			top: 19px;
			}
		}

	#cys-interest-rate-group {
		.pct {
			right: 70%;
			top: 11px;		
			}

		.int-rate-input {
			margin-top: 0;
			width: 40%;
			}

		}

		
	#save-by-month {
		width: 40%;
		margin: auto;
		
		.monthly-income-group,
		.annual-income-group {
			@extend .form-field-large-dollar;
			margin-bottom: 10px;
			
			.time-tag {
				top: 43px;
				right: 30px;
				}
			
			.dollar {
				top: 41px;
				}
			
			}

		.annual-income-group {
			.dollar {
				top: 18px;
				}

			.time-tag {
				top: 20px;
				}
			}
		
		#monthly-savings-input,
		#goal-annual-input {
			padding-right: 70px;
			}

		}
	
	.monthly-savings-label,
	.overall-savings-label,
	.finish-label,
	.int-rate-label {
		@extend .form-label-block;
		}

	.overall-savings-label,
	.finish-label,
	.int-rate-label {
		margin-top: 16px;
		text-align: right;
		}

	.int-rate-label {
		margin-top: 10px;
		}

	.monthly-savings-label {
		display: inline-block;
		margin-bottom: 6px;
		}

	.time-tag {
		@extend .unit-default;
		font-weight: 500;
		position: absolute;
		}

	.tip-trigger.tip-active .monthly-savings-label:after {
		background-color: $med-gray;
		}
	
	.tooltip {
		max-width: 86%;		
		}

	.monthly-income-group,
	.annual-income-group {
		position: relative;
		}

	#overall-savings-input,
	#monthly-savings-input {
		@extend .text-input-large-dollar;
		}
	
	#monthly-savings-input {
		margin-bottom: 8px;
		}
	
	#goal-annual-input {
		@extend .text-input;
		width: 60%;
		padding-left: 19px;
		}
	
	.goal-annual-label {
		@extend .form-label;
		}

	.finish-month-year-select {
		@extend .select-input-large;
		display: inline-block;
		width: 40%;
		margin-top: 0;
		margin-bottom: 0;
		}	

	#finish-month-select {
		margin-right: 8px;
		}
	
	} /* end enter-goal-form */

.enter-goal-btn {
	@extend .btn-dark-big;
	margin: auto;
	width: 25%;
	padding: 11px 0;
	font-size: 16px;

	.arrow-right-large {
		top: 3px;
		}

	}

/* !Tips */

.goal-tips-group {
	@extend .double-line-top;
	padding-top: 35px;
	}

.goal-tips-h1 {
	@extend .form-label-h1;
	margin-bottom: 10px;
	}

.goal-tips-text {
	@extend .text-graphic-med;
	}

.enter-goal-footer {
	}


/* !== 2.2 Take the Money Out ==================== */ 

.checkbox-stage {
	@include shadow-box;
	text-align: center;
	margin: 25px auto 40px;
	padding: 15px 15px 20px;
	position: relative;
	
	.checkbox-input {
		position: relative;
		top: -4px;
		margin-right: 10px;
		}

	.todo-target {
		@extend .money-number-med;
		}
	}

.click-me-note {
	width: 25%;
	@include rotate(-8deg);
	left: -34%;
	top: 26%;

	.right {
		margin-right: -20%;	
		}
	}

@media screen and (min-width: 700px) {
	.checkbox-stage {
		width: 55%;
		}

	.click-me-note {
		> p {
			text-align: right;
			}		
		}

	}/* mediaquery */


.how-illo-group {
	@extend .ui-grid-2;
	width: 75%;
	margin: 0 auto 40px;
	text-align: center;
	}

.how-illo {
	height: 175px;
	margin-bottom: 12px;
	}

.how-illo-text {
	@include text-graphic-large;
	}



/* !== 2.3 Cut Your Spending =================== */ 

/* !The Little Things */

.spending-row {
	td,
	.money-number {
		color: $med-gray;
		}		
	}

.add-another {
	@include opacity(.5);
	display: block;
	color: #000;
	
	&:hover {
		@include opacity(.7);
		cursor: pointer;
		color: #000;
		}
	}

.plus-sprite {
	@include sprite;
	display: inline-block;
	height: 14px;
	width: 14px;
	margin-right: 4px;
	background-position: 0 -16px;
	position: relative;
	top: 3px;
	}


/* !Cut Spending */

.cut-your-spending-text {
	margin-bottom: 50px;
	}

/* !Cut spending interactive */

@media screen and (min-width: 700px) {
	.cut-your-spending-interactive {
		@include pie-clearfix;
	
		> .col,	
		> .col-1,
		> .col.first,
		> .col:first-child {
			width: 24%;
			@include float-left;
			margin-right: 1px;
			}
	
		> .col-2,	
		> .col.second,
		> .col:nth-child(2n) {
			width: 75%;
			@include float-left;
			margin-right: 0;
			}
		}

	}/* mediaquery */


/* !Category color definitions */

	$big-cat: $orange;
	$small-cat: $green;
	$style-cat: $yellow;

/* !Category note */

.cut-your-spending-interactive .enter-estimate-note {
	width: 26%; 									/* 155/1160 - 13.362069 */
	@include rotate(5deg);
	right: 7px;
	top: 142px;
	text-align: center;
	
	.note-arrow {
		float: right;
		@include rotate(56deg);
		margin-top: -16px;
		left: -18px;
		position: relative;
		}
	
	}

/* !Spending Category: Tabs */

#spending-cat-tabs {
	margin-top: 35px;
	position: relative;
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid #fff;
		
	.radio-btn {
		display: none;
		}
	
	}

.spending-cat-tab {

	> a {
		font: normal 300 15px $museo-sans;
		color: $dark-gray;
		@include trans(.2s, color);
		padding: 10px 12px 11px;
		display: block;
		border-bottom: 1px solid $light-gray;
		position: relative;
		@include text-shadow(#fff, 0, 1px, 0);		
		}
	
	> a:hover {
		color: $orange-dark;
		
		.spending-cat-tab-icon {
			@include opacity(.9);
			}
		}

	> a.active,
	> a.active:hover,
	&.active > a,
	&.active > a:hover {
		cursor: default;
		color: $grey-blue;
		font-weight: 500;
		background-color: #fff;
		border: 1px solid $light-gray;
		border-right: 1px solid #fff;
		margin-right: -1px;
		padding-left: 13px;
		
		.spending-cat-tab-icon {
			@include opacity(.9);
			}
		}

	.filter-label {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		}
	}

#sct-all,
#sct-health-care,
#sct-utilities,
#sct-smart,
#sct-popular {
	&.spending-cat-tab > a {
		//border-bottom: 0;
		}
	}

@media screen and (max-width: 700px) {
	.spending-cat-tab {
		display: inline-block;
		width: 49%;		
		}
}/* mediaquery */

@media screen and (min-width: 700px) {
	.spending-cat-tab {
		display: block;
		}
}/* mediaquery */


.spending-cat-tab-label {
	font: normal 700 12px $museo-sans;
	color: $orange-dark;
	padding: 20px 12px 9px;
	border-bottom: 1px solid $light-gray;
	border-top: 1px solid #fff;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	@include text-shadow(rgba(255,255,255,1), 0, -1px, 0);
	
		&:first-child {
			margin-top: 0px;
			}
	}

.spending-cat-hgroup {
	@include pie-clearfix;
	margin-bottom: 24px;
	}

.banner-label {
	font: normal 700 11px $museo-slab;
	color: #fff;
	text-transform: uppercase;
	background-color: $orange-dark;
	padding: 5px 11px;
	letter-spacing: 0.03em;
	margin: 12px 12px 0 -8px;
	position: relative;
	display: inline-block;
	//@include box-shadow(rgba(0,0,0,1), -1px, 1px, 0);
	//@include text-shadow(rgba(0,0,0,1), 0, -1px, 0);
	
		&:first-child {
			margin-top: 4px;
			}
	
	}

.banner-label-triangles {
	content: '\0020';
	position: absolute;
	border-top-width: 0;
	z-index: 1;
	width: 0;
	height: 0;
	}

/* Banner bite-in triangle */

.banner-label:after {
	@extend .spending-cat-label-triangles;
	border-top: 10px solid transparent; 
	border-bottom: 10px solid transparent;
	border-right: 10px solid #fff;
	left: 0;
	top: 2px;
	}


.note-cys-cuts {
	right:-51px;
	top: 22px;
	width:200px;
	height:0px;
	p {
		-webkit-transform:rotate(8deg);
	}
	.note-arrow span {
		-webkit-transform: rotate(123deg);
		left: -25px;
		position: relative;
		top: -31px;
	}
}

/* Spending Category Labels */

.spending-cat-label {
	@extend .banner-label;
	}

.spending-cat-sub {
	font: normal 700 13px $museo-sans; 
	color: $grey-blue;
	display: inline-block;
	margin-top: 9px;
	}



.spending-cat-tab-icon {
	height: 17px;
	width: 17px;
	display: block;
	@include float-left;
	margin-right: 7px;
	@include opacity(.6);
	@include trans(.2s);
	}


/* !Spending Categories */

#spending-cats {
	@include shadow-box;
	margin-bottom: 30px;
	min-height: 875px;

	&.filter-mode .spending-cat-box {
		display: none;
	}

	&.filter-mode .spending-cat-box.keep {
		display: block;
	}

	.tooltip {
		max-width: 35%;	
		}

} /* end spending-cats */

.spending-cats-header {
	position: relative;
	} 

.spending-cats-table-header {
	@include ui-grid-lr;
	font: normal 700 11px $museo-sans; 
	padding: 7px 10px 8px 10px;
	border-bottom: 1px solid $light-gray;
	margin: -10px 0 40px;
	display: none;
	}

.spending-cat-box {
	display: block;
	@include trans(.3s);
	}

.spending-cat-box {
	
	.table-lined {
		margin-top: 5px;
		}
	}

.spending-cat-header {
	@include pie-clearfix;
	}

.spending-cat-h1 {
	font: normal 700 21px/110% $museo-sans;
	letter-spacing: -0.03em;
	color: $grey-blue;
	@include trans(.2s);
	
	> a {
		position: relative;
		display: inline-block;
		@include trans(.2s);
		color: $grey-blue;
		}
	
	> a:hover {
		color: $orange-dark;
		
		&:after {
			//@include opacity(1);
			}
		
		}
	
	> a.more-link:after {
		content: "\00A0\279C\00A0\See More";
		font: normal 14px/110% $symbol-droid;
		position: absolute;
		top: 6px;
		margin-left: 3px;
		color: $grey-blue;
		width:99px;
		@include opacity(.4);
		@include trans(.2s);
		}
	
	}

.spending-cat-savings {
	text-align: center;
	width: 85px;
	height: 85px;
	background-color: $green;
	@include border-radius(100px);
	@include opacity(.85);
	@include float-right;
	padding-top: 21px;
	margin-top: -40px;
	@include rotate(11deg);
	display: none;
	
	h5 {
		font: normal 500 9px $museo-sans;
		color: #000;
		text-transform: uppercase;
		}

	.spending-cat-number {
		font: normal 700 18px/120% $museo-sans;
		color: #fff;
		margin-top: 3px;
		}
	
	.dollar {
		//font-size: 15px;
		margin-right: 2px;
		position: relative;
		top: -4px;
		}

	}

.spending-cat-more-old,
.spending-cat-back-old {
	@include text-graphic-small;
	@include border-radius(40px);
	padding: 4px;
	background-color: $light-gray;
	display: block;
	@include trans(.2s);
	text-align: center;
	position: relative;
	margin: auto;
	color: #000;
	width: 100%;
	border: 1px solid #bababa;
	
		&:hover {
			background-color: #ccc;
			}
	}

.spending-cat-more,
.spending-cat-back {
	@extend .btn-light-small;
	display: block;
	width: 95%;
	margin: auto;
	}


.spending-cat-header .spending-cat-more {
	padding: 4px 26px 4px 16px;
	display: inline-block;
	text-align: center;
	margin-top: 2px;
	@include float-right;
	}
	
.spending-cat-more-text,
.spending-cat-back-text {
	position: relative;
	display: inline-block;
	}

.spending-cat-more-text:after,
.spending-cat-back-text:before {
	@include trans(.3s);
	color: #000;
	content: "\00A0\279C";
	font: normal 7px $symbol;
	position: absolute;
	top: 4px;
	}

.spending-cat-more-text:after {
	margin-left: 3px;
	}

.active .spending-cat-more-text:after {
	@include rotate(-90deg);
	top: 13px;	
	}

.spending-cat-back-text:before {
	left: -12px;
	@include rotate(180deg);
	}
	

.small-cat .spending-cat-savings {
	background-color: $small-cat;	
	}

.big-cat .spending-cat-savings {
	background-color: $big-cat;
	}

.style-cat .spending-cat-savings {
	background-color: $style-cat;
	}

.spending-cat-icon {
	display: block;
	float: left;
	margin: 2px 6px 7px 0;
	width: 19px;
	height: 19px;
	}

#spending-cat-all {
	
	.table-body tr {
		display: none;	
		}

	div:not(#sc-big) .table-head {
		display: none;
		}

/*
	div:not(#sc-popular) th.spending-action,
	div:not(#sc-popular) th.spending-savings {
		border-top: 0;
		text-indent: -9999em;
		overflow: hidden;
		}
*/
 
	.table-body .row-1, 
	.table-body .row-2 {
		display: table-row;
		}

	.table-body .row-1 {
		border-top: 1px solid $light-gray;
		}

	.spending-cat-box {
		margin-bottom: 55px;
		}

	}

.spending-table {
	@include trans(.3s);
	height: 0px;
	
	th.spending-action,
	th.spending-savings {
		width: 50%;
		}

	.th.checkbox-container {
		width: 0;
		padding: 0;
		}
	
	td {
		width: auto;
		padding-bottom: 5px;
		}
	
	.spending-savings {
		text-align: right;
		}
	
	td.spending-savings,
	input.spending-savings {
		@extend .money-number-med;
		
		.dollar {
			top: -4px;
			}
		}

	.add-your-own-amount {
		padding: 0;
		width: 70%;
		margin-top: -6px;
		}
	
	}

.active .spending-table {
	@include trans(.3s);
	height: 500px;
	
	tr {
		display: table-row;
		}

	}


/* !Spending Cats Footer */

.spending-cats-footer {
	margin: 40px auto 20px;
	}

.finished-cutting-btn {
	@include btn-dark-big;
	margin: 0 auto;
	width: 33%;
	}

.spending-cats-footer-msg {
	@extend .footer-next-msg;
	margin-bottom: 20px;
	color: $grey-blue;
	}

.spending-table td + td {
	width: 88%;
	}


/* !== 3.1 Action Plan ========================== */ 


// Adjust spacing on "Take $$ out of your pocket" to account for large dollar figure
.todo-move tr:first-child {
	.checkbox-input {
		margin-top: 4px;
		}
	
	.checkbox-label {
		top: -2px;
		}

	}

.todo-change-goal-btn {
	margin-top: 0;
	}

.todo-hgroup {
	.dollar {
		font-size: 100%;
		}
	}


/* Hide one-time/everyday change headers until we hook that up */
.todo-changes .one-time-table-head th {
	display: none;	
	}

.everyday-table-head th,
.one-time-table-head th {
	border-top: 0;
	}


.help-me-do-it {
	display:none;
}



/* !============================================= */

/* ! Jared Ish								     */

/* !============================================= */


input.plain {
	border:0px solid white; padding:5px; margin:0px; outline:none;
	}

input.plain:focus {
	background-color:#F9F9B9
	}

body .gray {
	color:#ccc;
	}

.index-menu {
	display:none;
	}	

.action-item {
	color:#CCC;
	}
.sailor {
	border:4px solid #333;
	}











/* !============================================= */

/* ! Print Styles							     */
/*	Inline to avoid required HTTP connection     */

/* !============================================= */
 
@import "partials/print";

