// Makes all the CSS3 mixins available
@import "compass/css3";

// Makes all the Float mixins available
@import "compass/utilities/general/float";

// Makes all the Clearfix mixins available
@import "compass/utilities/general/clearfix";

// HTML5 and personal resets.
@import "partials/reset";

// My custom mixins as well as blueprint configuration
@import "partials/base";

// Import custom fonts
@include font-import;
 
.gsa-selections {
	display:block;
	margin:auto;
	@include clearfix;
	width:33%;
	@include trans;
}

.gsa-selection {
	display: block;
	float:left;
	width: 100%;
	margin-right:0%;
	@include trans;
}

.frame-title-container {
	text-align: center;
	}

.frame-title {
	font: normal 700 11px $museo-slab;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	@include text-shadow(#444, -1px, -1px, 0px);
	display: inline-block;
	background-color: $orange-dark;
	padding: 7px 30px 9px;
	margin: 0 auto 35px;
	position: relative;

		&:after,
		&:before {
			@include simple-transform(1, 20deg, 0, 0, 20deg, 0, 0, 0);	
			height: 15px;
			width: 30px;
			background-color: $orange-darker;
			content: '\0020';
			position: absolute;
			text-align: left;
			z-index: -1;
			}
		
		&:after {
			@include linear-gradient(color_stops($orange-darkest 0%, $orange-darker 100%));			
			left: 0;
			bottom: -1px;
			}

		&:before {
			@include linear-gradient(color_stops($orange-darker 0%, $orange-darkest 100%));
			right: -2px;
			top: -12px;
			}

	}
  
  .gsa-h1 {
	  text-align:center !important;
	  display:block;
	  margin:0 auto;
	  padding-bottom:20px;
  }
  
  .gsa-intro {
	  text-align:center;
	  font-size:21px;
	  font-weight:100;
	  padding-bottom:40px;
  }
 
  
  .gsa-selection-container {
  	@include trans;
	 width: 200%;
     margin-left: -50%;
     padding-left: 50%;
     padding-right: 50%;
	  background-color:#FFF;
	  padding-top:40px;
	  padding-bottom:40px; 
	  text-align:center;
	  border-top:1px solid $light-gray;
	  border-bottom:1px solid $light-gray;
	  @include ui-grid-3;	
	  margin-bottom:50px;
  }
  
  .gsa-selection-container h3 {
	  font-size:28px;
	  font-weight:500;
	  padding-bottom:5px;
  }
  
    .gsa-selection-description {
	  display:block;
	  width:80%;
	  margin:0 auto;
	  font-size:13px;
	 
  }
  
  .gsa-selection ul {
	  padding-top:30px;
	  width:70%;
	  margin:0 auto;
  }
  
    .gsa-selection-item {
	  border-bottom:1px solid $light-gray;
	  width:100%;
	  display:block;
	  color:#999;
	  font-weight:700;
  }
  
	.gsa-selection-item a {
		width:100%;
		display:block;
		padding:8px;
		color:inherit;
	}
  
  .gsa-selection-item:hover {
	  color:rgba(113,162,50, 1) !important;
	  
  }
  
   .gsa-active {
	color:rgba(113,162,50, 1) !important;
	background-image:url(../_images/check.png);
	background-repeat:no-repeat;
	background-position:1% 45%;
  }
  
  .gsa-selection-container ul li:first-child {
	  border-top:1px solid $light-gray;
	  border-bottom:1px solid $light-gray;
  }
  
   .gsa-selection-container img {
	 margin-bottom:20px;
	
  }
  
	.gsa-results-container {
  		position:relative;
		@include ui-grid-lr(26.5%, 73.5%, 5%);	
		display:block;
		&:not(:last-child) {
			border-bottom: 1px solid $light-gray;
			margin-bottom: 40px;
			padding-bottom: 40px;
		}
	}
  
  .gsa-results-description h3 {
	  font-weight:100;
	  font-size:28px;
	  color:#999;
	  padding-bottom:30px;
  }
  
   .gsa-results-description h2 {
	  font-weight:700;
	  font-size:21px;
	  padding-bottom:10px;
  }
  
  .gsa-results-description-link {
	  display:block;
	  padding-top:20px;
	  color:$orange !important;
	  @include trans;
  }
  
   .gsa-results-description-link:hover {
	 color:$orange-darker !important;
  }
  

  

a.edit-button, 
.edit-button, 
.edit-button:link, 
.edit-button:visited, 
.edit-button:link:visited {
	@include btn-dark;
	@include border-radius(8px);
	color: white;
	a {
		color: white;
	}
}

.planner-entry-utility {
	width: 920px;
	margin: auto;
}

.listing-square-group {
	height:220px;
	overflow:hidden;
	.square-tease.nth-3 {
		margin-right: 0px !important;
	}
	
	.square-tease {
		/*margin-bottom: 20px;
		margin-right:0px;
		margin:0px;*/
		z-index:500;
		position:relative;
		display:block;
		margin-bottom:20px;
	}
}



.gsa-no-results-container {
	margin-top:30px;
}

.gsa-before-finished {
  text-align:center;
  width:100%;
  padding-top:40px;
  padding-bottom:80px;
  margin-bottom:200px;
}

.gsa-before-finished-h {
  font-size:24px;
  font-weight:100;
  color:#999;
}
  
.gsa-no-results {
  font-size:24px;
  font-weight:100;
  color:#999;
  text-align:center;
}
  
.gsa-bottom-container {
  width:100%;
  margin:0 auto;
  text-align:center;
  @include ui-grid-2(50%, 50%, 10%);
}

.footer-nav-button {
	@include btn-big;
	}
	
.footer-nav-button.print {
	background-image: url(/wp-content/themes/shebang/_images/printer.png);
	background-repeat: no-repeat;
	background-position: 8% 45%;
	width: 370px;
	float: center;
	margin-left: 50px;
	
}
html .footer-nav-button {
	display:inline-block;
}

.footer-nav-button.bookmark {
	background-image: url(/wp-content/themes/shebang/_images/bookmark.png);
	background-repeat: no-repeat;
	background-position: 8% 45%;
	width: 360px;
	float:center;
	margin-left: 50px;
} 
