// Makes all the CSS3 mixins available
@import "compass/css3";

// Makes all the Float mixins available
@import "compass/utilities/general/float";

// Makes all the Clearfix mixins available
@import "compass/utilities/general/clearfix";

// HTML5 and personal resets.
@import "partials/reset";

// My custom mixins as well as blueprint configuration
@import "partials/base";

// Import custom fonts
@include font-import;

// Import Treatment-specific styles for Squared Away
@import "partials/planners";

// Import Treatment-specific styles for stacked bar
@import "partials/stacked-bar";


/*	Primary Stylesheet						     
	Author: Tito Bottitta + Upstatement			 */ 



/* !============================================= */

/* ! Drawdown				 				      */

/* !============================================= */



.credits-container {
	margin-bottom:40px;
	padding-bottom:40px;
	@include ui-grid-lr(70.5%, 29.5%, 5%);
}

.credits-h1 {
	font: normal 700 38px/120% "museo-sans-rounded-1", "museo-sans-rounded-2", Arial, Helvetica, Lucida Grande, Verdana, sans;
	margin-bottom: 10px;
}

.credits-h2 {
	font: normal 700 18px/120% "museo-sans-rounded-1", "museo-sans-rounded-2", Arial, Helvetica, Lucida Grande, Verdana, sans;
	margin-bottom: 15px;
	margin-top:20px;
}

.credits-logo-img {
	display: block;
	margin-top:10px;
	
	margin-bottom:20px;
	
	}

.credits-names {
	font-size:15px;
	font-weight:500;
	line-height:22px;
	padding-bottom:10px;
}

.credits-overview {
	font-size:15px;
	font-weight:300; 
}

.credits-organizations {
	font-size:15px;
	font-weight:300;
	color:#999;
}


/* !============================================= */

/* ! Print Styles							     */
/*	Inline to avoid required HTTP connection     */

/* !============================================= */
 
@import "partials/print";

