// Makes all the CSS3 mixins available
@import "compass/css3";

// Makes all the Float mixins available
@import "compass/utilities/general/float";

// Makes all the Clearfix mixins available
@import "compass/utilities/general/clearfix";

// HTML5 and personal resets.
@import "partials/reset";

// My custom mixins as well as blueprint configuration
@import "partials/base";

// Import custom fonts
@include font-import;

// Import Treatment-specific styles for Squared Away
@import "partials/planners";

// Import Treatment-specific styles for stacked bar
@import "partials/stacked-bar";


/*	Primary Stylesheet						     
	Author: Tito Bottitta + Upstatement			 */ 



/* !============================================= */

/* ! Drawdown				 				      */

/* !============================================= */


.about-header-container {
	border-bottom:1px #CCC solid;
	margin-bottom:40px;
	padding-bottom:40px;
	@include ui-grid-lr(36.5%, 63.5%, 5%);
}

.about-header-img {
	display:block;
	padding-top:25px;
	width:320px;
	height:250px;
	margin:0 auto;
}

.about-header-intro {
	font-size:21px;
	font-weight:100;
	line-height:32px;
}

.about-fsplogo-img {
	display: inline;
	float: left;
	margin-right: 12px;
	margin-left:-3px;
	}

.about-first-container {
	border-bottom:1px #CCC solid;
	margin-bottom:40px;
	padding-bottom:40px;
	@include ui-grid-lr(63.5%, 36.5%, 5%);
}

.about-testimonial {
	background-color:rgba(43,48,58, 1);
	padding:40px;
	margin-bottom:30px;
	@include border-right-radius(8px);
	margin-left:-200%;
	padding-left:200%;
}

.about-testimonial h3 {
	color:white;
	font-size:27px;
	font-weight:100;
	padding-bottom:15px;
}

.about-testimonial p {
	color:white;
	font-size:18px;
	font-weight:700;
}

.about-director-h3 {
	font: normal 700 18px/120% "museo-sans-rounded-1", "museo-sans-rounded-2", Arial, Helvetica, Lucida Grande, Verdana, sans;
	color: #F4761F;
	margin-bottom: 10px;
}

.about-director p {
	font-size:18px;
	line-height:26px;
	font-weight:300;
	padding-bottom:10px;
	margin-top:-10px;
}

.about-director-img {
	display: inline;
	float: left;
	width: 29%;
	margin-right: 12px;
	}


.about-director-sig {
	display: inline;
	float: left;
	width: 30%;
	clear:both;
	padding-bottom:8px;
	}

.about-second-container {
	border-bottom:1px #CCC solid;
	margin-bottom:20px;
	padding-bottom:90px;
	@include ui-grid-3;	
}

.about-experience-img {
	padding-bottom:30px;
	display:block;


	margin:0 auto;
}

.about-experience h3 {
	font-size:21px;
	font-weight:700;
	text-align:center;
	padding-bottom:20px;
}

.about-experience p {
	font-size:15px;
	font-weight:300;
}

.about-bottom-container {
	margin-bottom:40px;
	padding-bottom:40px;
	text-align:center;
	border-bottom:1px #CCC solid;
}

.about-plan-button {
	width:400px;
	margin:0 auto;
	display:block;
}

.about-button-mask {
	padding:20px;
	margin:0 auto;
	margin-top:-65px;
	width:500px;
	background: #f0f0f0 url(../_images/noise-bg.gif) repeat 50% 50%;
	margin-bottom:15px;
}

.about-bottom-container p {
	display:block;
	width:600px; 
	margin:0 auto;
	line-height:27px;
	text-align:center;
	font-size:19px;
	font-weight:100;
}

.link-underline {
	border-bottom: 1px dotted #999;
	color: inherit;
	}
	

.about-partners-header-container {
	margin:0 auto;
	text-align:center;
}

.about-partners-header {
	font-size:18px;
	font-weight:500;
	padding-bottom:40px;
}

.about-partners-container {
	margin-bottom:50px;
	width:80%;
	margin:0 auto;
	@include ui-grid-4;
	text-align:center;
}

.about-partners-img {
	padding-bottom:20px;
	display:block;
	width:100px;
	height:100px;
	margin:0 auto;
}

.about-partners-names {
	display:block;
	text-align:center;
	font-size:16px;
	font-weight:500;
	color: $link;

}


/* !============================================= */

/* ! Print Styles							     */
/*	Inline to avoid required HTTP connection     */

/* !============================================= */
 
@import "partials/print";

