// Makes all the CSS3 mixins available 
@import "compass/css3";

// Makes all the Float mixins available
@import "compass/utilities/general/float";

// Makes all the Clearfix mixins available
@import "compass/utilities/general/clearfix";

// Makes all Text mixins available
@import "compass/utilities/text";

// HTML5 and personal resets
@import "partials/reset";  

// My custom mixins as well as blueprint configuration
@import "partials/base";

// Import custom fonts
@include font-import;



/*	Primary Stylesheet						     
	Author: Tito Bottitta + Upstatement			 */ 


/* !============================================= */

/* ! Tag Page									  */

/* !============================================= */

.tag-page-h {
	min-width: 28.5%;
	}

.tag-page-body {
	@include ui-grid-rl(26.5%, 73.5%, 5%);
	margin-bottom: 50px;
	}

.tag-page-square-group {
	overflow: hidden;
	}

.tag-page-square-filter-item,
.tag-page-square-filter-item-h {
	> a {
		@include trans;
		font-size: 16px;
		display: block;
		padding: 5px 14px;
		color: $med-gray;
		}
	
	> a:hover {
		color: $grey-blue;
		}
	
	&.filter-active > a {
		@extend .btn-inset;
		padding: 5px 14px;
		color: $grey-blue;
		}	
	}

.tag-page-square-filter-item {
	display: block;
	> a {
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		}
	> a,
	&.filter-active > a {
		display: block;
		@include border-radius(4px);
		padding: 8px;
		}
	&:not(:last-child) > a {
		border-bottom: 1px solid #e5e5e5;
		}
	&:not(:first-child) > a {
		border-top: 1px solid #fff;
		}
	}

.tag-page-square-filter-item-h {
	display: inline;
	> a {
		display: inline-block;
		}		
	&:not(.last) > a,
	&:not(:last-child) > a {
		margin-right: 4px;
		}
	}

.aside-h {
	@extend .section-h3;
	}

.aside-text {
	@extend .text;
	@extend .default-text-styles;
	
	p:first-child {
		font-size: 15px;
		line-height: 150%;
		}	
	}

.aside-section {
	&:not(:last-child) {
		margin-bottom: 24px;
		}
	.ie6 &,
	.ie7 &,
	.ie8 &,
	.ie9 & {
		margin-bottom: 24px;	
		}
	}

.tag-page-square-group {
	min-height: 705px;	
	}




/* !============================================= */

/* ! Tool Page									  */

/* !============================================= */

.tool-page-body {
	@extend .generic-page-body;	
	}

.tool-page-square-group {
	min-height: 500px;
	overflow: hidden;
	}

/* !============================================= */

/* ! Listing Page								  */

/* !============================================= */

.listing-group {
	@include ui-grid-lr(26.5%, 73.5%, 5%);	
	padding-bottom: 70px;
	&:not(:last-child) {
		border-bottom: 1px solid $light-gray;
		margin-bottom: 40px;
		}
	}

.listing-title-group {
	margin-top: 7px;
	}

.listing-title-h {
	@include trans;
	font: normal 500 21px/140% $museo-sans;
	margin-bottom: 6px;
	a {
		color: $grey-blue;
		}
	a:hover {
		color: $grey-blue-dark;
		}
	}

.listing-description {
	@include text;
	margin-bottom: 20px;
	}

.listing-title-link {
	@include trans;
	font-size: 12px;
	color: $med-gray;	
	&:hover {
		color: $blue-grey;
		}
	}


/* !============================================= */

/* ! About Page								  	  */

/* !============================================= */

.about-aside-img {
	@include float-left;
	width: 30%;
	margin-right: 12px;
	}






/* !============================================= */

/* ! Print Styles							     */
/*	Inline to avoid required HTTP connection     */

/* !============================================= */
 
@import "partials/print";

