# Created by Redirection Module: Apache
# Wed, 27 Jul 2011 12:04:17 +0000
# Redirection 2.2.5 - http://urbangiraffe.com/plugins/redirection/

<Files .htaccess,.svn>
order allow,deny
deny from all
</Files>
Options +FollowSymlinks

<IfModule mod_rewrite.c>
</IfModule>

# End of Redirection

# BEGIN WordPress

# WPhtc: Begin Custom htaccess
RewriteCond %{REQUEST_URI} !^/CFIDE/*
# WPhtc: End Custom htaccess

# BEGIN Wordpress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/CFIDE/*
RewriteRule . /index.php [L]
</IfModule>
# END Wordpress


# END WordPress
