.navbar-toggler {
	padding-top: 10px;
	cursor: pointer;
}
.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(30, 60, 124, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.jumbotron {
	/* padding: 4rem 2rem 0rem 2rem;	*/
	padding: 0;
	background-image: url("../img/hero.jpg");
	background-size: cover;
	background-repeat:   no-repeat;
  background-position: center center; 	
	height: 450px;
	position: relative;
	margin-bottom: 0rem;
	border-radius: 0px;
}
.logo {
	width: 200px;
	height: 43px;
}
.nav-item-logo {
	height: 40px;
}
.fixed-top {
	/* background-color: rgba(255,255,255,.7); */
	background-color: white;
}
navbar a {
	font-weight: bold;
}
.nav-link-text {
	font-weight: bold;
}
.orange {
	color: #F4640A;
}
.blue {
	color: #115e99;
}
.bold {
	font-weight: bold;
}
.right {
	text-align: right;
}
.cta-label {
	font-size: 1.2rem;
}
.btn {
	cursor: pointer;
}
.btn-success {
	background-color: #f07a3c;
	border-color: #f07a3c;
	font-weight: bold;
}
.btn-success:hover {
	margin-left: 5px;
	background-color: #DB6F37;
	border-color: #DB6F37;
}
.btn, .custom-select, .form-control {
	border-radius: 0px;
	padding: .54rem .75rem;
}
a, a:hover {
	color: #354662;
}
.white {
	color: white;
}
.form-title {
	margin-right: 1em;
	font-size: 1.2em;
	width: 100%;
}
.promo-content {
	margin-bottom: 2rem;
	

}
.gradient {
	background-image: linear-gradient(-180deg, #4675CB 0%, #1A3A74 96%);
}
.banner-form.hidden-sm-down {
	background-color: rgba(17, 94, 153, .7);
}
.banner-form.hidden-sm-down .btn {


}
.banner-form-mobile {
	background-color: #115e99;
	padding: 15px;
}
/*
.banner-form-mobile {
	background-color: rgba(53,70,98, .7);
	padding: .5rem 0rem;
	position: absolute;
	bottom: 0rem;
	right: 15px;
	width: 100%;
}
*/
.banner-form .form-inline {
	padding-left: 15px;
	padding-right: 15px;
}
.overview {
	padding-top: 1rem;
}
.overview h2 {
	color: #354662;
	font-size: 1.5rem;
	font-weight: bold;
}
.overview p {
	color: white;
}
.success-stories {
	/* background-color: #1e3c7c;
	background-color: rgba(17,94,153,.5); */
	color: white;
	padding: .8rem;
	font-size: 1rem;
	text-align: center;
}
.success-stories p {
	margin-top: 1rem;
}
.success-stories h2 {
 	display: inline;
	border-bottom: 2px solid #f07a3c;
	margin-bottom: 20px;
}
.success-stories img {
margin: 0 auto;

	width: 220px;
	height: 220px;
	border-radius: 50%;
	border: 3px solid #F4640A;
}
.success-stories .first-paragraph {
	padding-top: 10px;
}

.site-footer {
	background-color: #fcfcfc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
@media (min-width: 576px) {
	.btn-success {
			margin-left: 5px;
	}
	.logo {
		width: 250px;
		height: 54px;
	}
	.form-title {
		padding-top: .4rem;
		width: auto;
	}
	
	.banner-form {
		text-align: center;
		display: inline-block	;
		width: auto;
		/* background-color: rgba(17,94,153,.5); */
	}
	
	.jumbotron {
		height: 600px;
	}
	.banner-form .form-inline {
		padding-left: 0px;
	}	
		
	.overview {
		padding-top: 0rem;
	}	
	.promo-content {
		padding-top: 1rem;
	}
}

@media (min-width: 768px) {
	.nav-link-text {
		padding-top: 25px;
	}
	form .btn {
		height: 39px;
	}
	.overview h2 {
		font-size: 1.8rem;
		line-height: 1.5;
	}
	.jumbotron {
		height: 700px;
		/* margin-bottom: 1rem; */
	}
	.overview {
		/* padding-top: .6rem; */
		font-size: 1.3rem;
	}
		
	.banner-form {
		/* background-color: rgba(53,70,98, .7); 
		background-color: #115e99;
		*/
		/* background-color: rgba(17,94,153,.7);*/

		/*
		padding: .5rem 0rem;
		position: absolute;
		top: 120px;
		left: 15px;
		left: 40px;
		width: 650px;
		*/
		
		
		position: absolute;

		top:78px;
		left: 0;
		right: 0;
	}
	.banner-form .form {
		display: inline-block;
		margin: 0 auto;
		padding: 15px;
	}
	banner-form .form span {
		padding-right: 30px;
	}
	.form-control {
		display: inline;
		width: auto;
		margin-left: 1rem;
	}
	.promo-content {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}	
}

@media (min-width: 992px) { 
	.overview {
		padding-top: 1.6rem;
	}	
}

@media (min-width: 1200px) { 
	.overview {
		padding-top: 2rem;
	}
	.overview h2 {
		font-size: 2.1rem;
	}
}

.ng-invalid{
	border: 1px solid red;
}

/*
Original BCU Footer
*/
.btn-purple {
	border-color: #74489D;
	background-color: #74489D;
	color: white;
}
.site-footer {
  background-color: #fcfcfc;
  font-size: 1em;
  padding-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); }

.site-footer .site-logo {
  text-align: center;
  margin-bottom: 20px; }

.site-footer hr {
  margin-bottom: 35px; }

.site-footer h4 {
  text-align: center;
  margin-bottom: 30px;
  font-size: .9em;
  font-weight: normal; }

.site-footer #menu-main-menu {
  padding: 0px;
  margin-bottom: 40px; }

.site-footer #menu-main-menu li {
  list-style: none;
  color: #f37637;
  line-height: 1.0;
  padding-bottom: 5px; }

.site-footer #menu-main-menu li:before {
  content: "• ";
  color: #f37637;
  left: 13px;
  position: absolute;
  padding: 5px 0;
  font-size: .7em; }

.site-footer #menu-main-menu li a {
  font-size: .8em;
  font-weight: normal; }

.site-footer #menu-main-menu li > a {
  color: #f37637;
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px 0; }

.site-footer #menu-main-menu li > a:hover {
  background: none;
  color: #f37637; }

.site-footer #menu-main-menu .sub-menu {
  padding-left: 14px; }

.site-footer #menu-main-menu .menu-item-has-children {
  border-right: 1px solid #dedede;
  padding: 0 1% 0 1%;
  width: 15%;
  margin: 0 1% 0 0;
  display: inline-block;
  vertical-align: top;
  text-align: left; }

.site-footer #menu-main-menu .menu-item-has-children > a {
  color: #000; }

.site-footer #menu-main-menu .menu-item-has-children > a:hover {
  color: #f37637; }

.site-footer #menu-main-menu .menu-item-2443 {
  border-right: 0px;
  margin-right: 0px;
  padding-right: 0px; }

.site-footer .social-media-bar {
  margin-bottom: 20px; }

.site-footer .social-media-bar .footer-donate-tray {
  float: right;
  display: inline-block; }

.site-footer .social-media-bar .footer-donate-tray > a {
  margin-bottom: 0; }

.site-footer .social-media-bar .footer-donate-tray-mobile {
  text-align: center;
  margin-top: 1em; }

.site-footer .footer-intro .col-sm-12 p {
  text-align: center; }

footer.site-footer .social-media-bar .footer-social-media-tray {
  border-right: 1px solid #dedede;
  display: inline-block;
  float: left;
  margin-right: 15px;
  padding-right: 15px;
  overflow: hidden; }

footer.site-footer .social-media-bar .footer-social-media-tray > a {
  text-decoration: none; }

footer.site-footer .social-media-bar .footer-social-media-tray > a:hover {
  opacity: .5; }

footer.site-footer .social-media-bar .footer-social-media-tray p {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  margin-right: 7px; }

footer.site-footer .social-media-bar .footer-social-media-tray .footer-facebook-icon {
  background: url("https://www.ncoa.org/wp-content/themes/ncoa2015/images/footer-fb-icon.svg") no-repeat 0 0;
  height: 33px;
  width: 33px;
  display: inline-block;
  padding: 0 22px; }

footer.site-footer .social-media-bar .footer-social-media-tray .footer-twitter-icon {
  background: url("https://www.ncoa.org/wp-content/themes/ncoa2015/images/footer-twitter-icon.svg") no-repeat 0 0;
  height: 33px;
  width: 33px;
  display: inline-block;
  padding: 0 22px; }

footer.site-footer .social-media-bar .footer-social-media-tray .footer-linkedin-icon {
  background: url("https://www.ncoa.org/wp-content/themes/ncoa2015/images/footer-linkedin-icon.svg") no-repeat 0 0;
  height: 33px;
  width: 33px;
  display: inline-block;
  padding: 0 22px; }

footer.site-footer .social-media-bar .footer-social-media-tray .footer-group-icon {
  background: url("https://www.ncoa.org/wp-content/themes/ncoa2015/images/footer-group-icon.svg") no-repeat 0 0;
  height: 33px;
  width: 33px;
  display: inline-block;
  padding: 0 22px; }

footer.site-footer .social-media-bar .footer-social-media-tray .footer-youtube-icon {
  background: url("https://www.ncoa.org/wp-content/themes/ncoa2015/images/footer-youtube-icon.svg") no-repeat 0 0;
  height: 33px;
  width: 33px;
  display: inline-block;
  padding: 0 22px; }

footer.site-footer .social-media-bar .footer-enews-tray {
  display: inline-block;
  overflow: hidden; }

footer.site-footer .social-media-bar .footer-enews-tray p {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  margin-right: 5px; }

footer.site-footer .social-media-bar .footer-enews-tray .footer-enews-icon {
  background: url("https://www.ncoa.org/wp-content/themes/ncoa2015/images/footer-enews-icon.svg") no-repeat 0 0;
  height: 33px;
  width: 33px;
  display: inline-block;
  padding: 0 22px; }

footer.site-footer .social-media-bar .footer-enews-tray .footer-enews-icon:hover {
  opacity: .5; }

footer.site-footer .footer-bottom-wrapper {
  background: #f3f3f3; }

footer.site-footer .footer-bottom-wrapper .footer-aux-site-network {
  padding-top: 20px; }

footer.site-footer .footer-bottom-wrapper .footer-aux-site-network h2 {
  font-size: 1em;
  font-weight: normal; }

footer.site-footer .footer-bottom-wrapper .footer-aux-site-network a {
  color: #f37637;
  font-size: .8em;
  text-decoration: none; }

footer.site-footer .footer-bottom-wrapper .footer-aux-site-network a:hover {
  color: #f37637; }

footer.site-footer .footer-bottom-wrapper #menu-footer-network-of-sites {
  list-style-type: none;
  display: inline-block;
  padding-left: 0px; }

footer.site-footer .footer-bottom-wrapper #menu-footer-network-of-sites li {
  /* display: inline-block; */
  list-style-type: none;
  width: 46%;
  min-width: 160px;
  padding: 0;
  margin: 0 1% 0 0; }

@media screen and (max-width: 520px) {
  footer.site-footer .footer-bottom-wrapper #menu-footer-network-of-sites li {
    width: 100%;
    display: block;
    padding: 0; }
  footer.site-footer .footer-bottom-wrapper #menu-footer-network-of-sites li a {
    text-decoration: none; } }

footer.site-footer .footer-bottom-wrapper .footer-aux-nav {
  margin-bottom: 10px;
  background: #dcdcdc; }

footer.site-footer .footer-bottom-wrapper .footer-aux-nav .site-footer-inner {
  padding-top: 15px; }

footer.site-footer .footer-bottom-wrapper .footer-aux-nav .site-footer-inner hr {
  display: none; }

footer.site-footer .footer-bottom-wrapper .footer-aux-nav .site-footer-inner .purple-btn {
  vertical-align: top;
  margin-top: 8px;
  display: inline-block;
  margin: 8px 0;
  padding: 4px 25px; }

footer.site-footer .footer-bottom-wrapper .footer-aux-nav .site-footer-inner .purple-btn:after {
  content: none; }

footer.site-footer .footer-bottom-wrapper .footer-aux-nav .site-footer-inner div.navbar-collapse {
  display: inline-block; }

footer.site-footer .footer-bottom-wrapper .footer-aux-nav .menu-item a {
  font-family: calibri, Helvetica, sans-serif;
  font-size: .9em;
  color: #323232;
  margin: 15px 0px 7px 0px;
  padding: 0; }

footer.site-footer .footer-bottom-wrapper .footer-aux-nav .menu-item a:hover {
  background: transparent;
  color: #f37637; }

footer.site-footer .footer-bottom-wrapper .footer-aux-nav .menu-item a:after {
  content: "\2022";
  color: #fdb813;
  font-size: 16px;
  padding: 0 11px 0 11px; }

footer.site-footer .footer-bottom-wrapper .footer-aux-nav .menu-item-137 a:after {
  content: none; }

footer.site-footer .footer-bottom-wrapper .site-footer-address {
  margin: 20px 0;
  font-size: .77em; }

footer.site-footer .footer-bottom-wrapper .site-footer-address a {
  color: #f37637; }

footer.site-footer .footer-bottom-wrapper .site-footer-address a:hover {
  color: #000; }

footer.site-footer .trust-icon-container {
  margin-top: 20px; }

footer.site-footer .trust-icon-container .trust-icon {
  display: inline-block;
  margin: 10px;
  vertical-align: bottom; }

footer .btn-purple {
  padding-top: 8px; }

@media (min-width: 0px) and (max-width: 767px) {
  footer.site-footer {
    padding-top: 0px; }
  footer.site-footer .footer-intro {
    display: none; }
  footer.site-footer .site-footer-inner {
    padding-top: 23px;
    text-align: center; }
  footer.site-footer .site-footer-inner hr {
    display: visible;
    margin-top: 25px; }
  footer.site-footer .footer-bottom-wrapper {
    background: white; }
  footer.site-footer .footer-bottom-wrapper .footer-aux-site-network {
    background: #f3f3f3; }
  footer.site-footer .footer-bottom-wrapper .footer-aux-nav {
    background: white; }
  footer.site-footer .footer-bottom-wrapper .footer-aux-nav div.navbar-collapse {
    display: block; }
  footer.site-footer .footer-bottom-wrapper .footer-aux-nav #menu-footer-aux li a:after {
    content: "";
    color: #f37637; }
  footer.site-footer .footer-bottom-wrapper .site-footer-address-container {
    background: url("https://www.ncoa.org/wp-content/themes/ncoa2015/images/footer-address-bg.jpg") no-repeat 0 0;
    background-size: cover;
    min-height: 200px; }
  footer.site-footer .footer-bottom-wrapper .site-footer-address-container .site-footer-address {
    color: white;
    padding: 80px 40px 40px 40px; }
  footer.site-footer .footer-bottom-wrapper .site-footer-address-container .site-footer-address p {
    margin: 40px; }
  footer.site-footer .social-media-bar .footer-enews-tray {
    display: none; }
    /*
  footer.site-footer .social-media-bar .footer-social-media-tray {
    border-right: 0px;
    text-align: center;
    display: block;
    padding-right: 0px;
    padding-top: 20px;
    margin-right: 0px; }
    */
  footer.site-footer .social-media-bar .footer-social-media-tray {

    display: block;
    padding-top: 20px; } 
	footer.site-footer .social-media-bar .footer-social-media-tray {
	  border-right: none;  }
footer.site-footer .social-media-bar .footer-social-media-tray {
	padding-right: 0px;
}	  
  footer.site-footer .social-media-bar .footer-social-media-tray p {
    margin: 0 0 20px 0;
    padding: 0px;
    text-align: center;
    display: block; }
  .super-footer {
    padding-top: 25px; }
  .menu-footer-network-of-sites-container {
    padding-top: 21px;
    padding-bottom: 42px; }
  footer.site-footer .footer-bottom-wrapper #menu-footer-network-of-sites li {
    padding-bottom: 13px; }
  footer.site-footer .trust-icon-container {
    padding-bottom: 28px; } }

.super-footer-inner {
  display: inline-block; }

@media (max-width: 991px) {
  .super-footer-inner {
    padding-bottom: 20px; } }

.super-footer {
  text-align: center; }

@media (max-width: 991px) {
  .super-footer hr {
    display: none; } }

.super-footer-copyright {
  margin-right: 20px; }

@media (max-width: 991px) {
  .super-footer-copyright {
    display: block; } }

.super-footer-spacer {
  margin: 0 10px; }

.super-footer-link a {
  text-decoration: none;
  color: #1888de;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.super-footer-link a:hover {
  color: #1888de;
  text-decoration: underline; }