### Miscellaneous
.DS_Store
Thumbs.db
htdocs/content/themes/ncoa/node_modules/*
.env

### Composer
composer.lock
vendor/

### Config
/config/environment.php
/config/ncoa.dev.conf
/config/local/.env
/config/local/ncoa.dev.conf

### IDE
.idea/
*.iml

### Wordpress
/htdocs/cms/*
!/htdocs/cms/.gitkeep
/htdocs/content/mu-plugins/themosis-framework/
/htdocs/content/themes/themosis-theme/
/htdocs/content/uploads/
/htdocs/content/upgrade/
/htdocs/content/plugins/


### Environment Credentials
.env.*.php
!.env.local.php
/logs/
/storage/
