.BottomToolBar
{
    FONT-SIZE: 10pt
}
A.TopToolBar:link
{
    COLOR: white
}
A.TopToolBar:visited
{
    COLOR: white
}
A.TopToolBar:hover
{
    COLOR: red
}
TD.TopToolBar
{
    FONT-SIZE: 10pt;
    COLOR: white
}
SPAN.Tagline
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: white;
    FONT-STYLE: italic;
    FONT-FAMILY: Times New Roman, Times, serif
}
