



/* structure
--------------------------------- */
html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

div {
	margin: 0px;
	padding: 0px;
}

.clear { clear: both; line-height: 0px}

#pageContainer {
	margin-left: auto;
	margin-right: auto;
	color : #000000;
	background: #FFFFFF;
	width: 770px;
	_border-left: solid 1px #6B6B6B; /* that's not a typo */
	_border-right: solid 1px #6B6B6B; /* that's not a typo */
}


/* ie centering hack */
#iehackwrap { text-align: center;  }
#pageContainer { text-align: justify; }     

#header {
	margin: 0px;
	padding: 0px;
}

#footer {
	padding: 0px;
	clear: both;
}


/* columns
--------------------------------- */
#columnsFloat {
	float: left;
	width: 610px;
}

#centerColumnWrap {
	float: right;
	width: 430px;
}

#leftColumnWrap { 
	margin-right: 430px;
}

#rightColumnWrap {
	margin-left: 602px;
}

#leftColumn, #centerColumn, #rightColumn {
	padding: 0px;
	margin: 0px;
	border: none;
}

#leftColumn {
	margin-left: 7px;
}

#rightColumn {
	margin-right: 5px;
}

/* gutters */
#centerColumn {
	margin-left: 5px;
	margin-right: 5px;
}

/* vertical padding on header */
#header
	{ margin-bottom: 0px; }

#pageContainer, #columnsFloat, #leftColumn, #centerColumn, #rightColumn, 
#header, #languageToggle, #brandingSearch, #logo, 
#subtopicPromos, div.even, div.odd
	{ position: relative; }

div.clearer {
	clear: both;
	line-height: 0px
}


/* links
--------------------------------- */
a:link {
	color: #000099;
	padding: 2px;
}

a:visited {
	color: #990099;
	padding: 2px;
}

a:hover {
	color: #FFFFFF;
	padding: 2px;
	background-color: #000099;
	text-decoration: none;
}

a:active {
	color: #FFFFFF;
	padding: 2px;
	background-color: #990099;
	text-decoration: none;
}

a.button:link, a.button:hover, a.button:active, a.button:visited, 
div.wideAd a:link, div.wideAd a:hover, div.wideAd a:active, div.wideAd a:visited,
div.fixedAd a:link, div.fixedAd a:hover, div.fixedAd a:active, div.fixedAd a:visited,
div.sideAd a:link, div.sideAd a:hover, div.sideAd a:active, div.sideAd a:visited {
	padding: 0px;
	text-decoration: none;
	background-color: transparent;
}



/* typography
--------------------------------- */
body {
	margin: 0;
	padding: 0;
	font-size: 76%;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	background-color: #C6C6C6;
	background-image: url(/images/pagecontainer_border.gif);
	background-repeat: repeat-y;
	background-position: center center;
}

* {
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

h1 {
	font: normal 1.86em/1.45em Arial, Verdana, Helvetica, sans-serif;
	letter-spacing: -0.05em;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

h2 {
	font: normal 1.65em/1.4em Arial, Verdana, Helvetica, sans-serif;
	letter-spacing: -0.04em;
	margin: 0px 0px 1.2em 0px;
	text-align: left;
}

h3 {
	font: normal 1.4em/1.4em Arial, Verdana, Helvetica, sans-serif;
	margin: 1.2em 0em 0px 0em;
	text-align: left;
}

h4 {
	font: bold 1.2em/1.1em Arial, Verdana, Helvetica, sans-serif;
	margin: 1.2em 0em 1.2em 0em;
	text-align: left;
}

h5 {
	font: bold 1.0em/1.4em Arial, Verdana, Helvetica, sans-serif;
	margin: 1.2em 0em 1.2em 0em;
	text-align: left;
}

h6 {
	font: bold 0.8em/1.4em Arial, Verdana, Helvetica, sans-serif;
	margin: 1.2em 0em 1.2em 0em;
}

img {
	border: 0;
}

ol, ul, li {
	font: 1.0em/1.8em Arial, Verdana, Helvetica, sans-serif;
	margin-top: 0.2em;
	margin-bottom: 0.1em; 
	text-align: left;
}

p {
	font: 1.0em/1.8em Arial, Verdana, Helvetica, sans-serif;
	margin: 1.2em 0em 1.2em 0em;
	text-align: left;
}

li > p {
	margin-top: 0.2em;
}

pre {
	font-family: monospace;
	font-size: 1.0em;
}

strong, b, em {
	font-weight: bold;
}


/* global.html styles (page container, header, toolbar, and footer)
--------------------------------- */
#globalNav {
	background-color: #6B6B6B; 
	color: #FFFFFF;
	font-size: 0.99em;
	padding: 2px;
}

#globalNav a:link, #globalNav a:visited {
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: bold;
	padding: 2px;
}

#globalNav a:hover, #globalNav a:active {
	color: #6B6B6B;
	background-color: #FFFFFF;
}

#languageToggle {
	float: right;
}

#brandingSearch {
	border-top: dotted 2px #333333;
	padding: 6px 11px;
	text-align: right;
	color: #424141;
	background-color: #FFFFFF;
}

#brandingSearch a:link, #brandingSearch a:visited {
	padding: 2px;
	color: #424141;
}

#brandingSearch a:hover, #brandingSearch a:active {
	padding: 2px;
	color: #FFFFFF;
	background-color: #424141;
}

#logo {
	float: left;
}

#brandingSearch #search {
	margin-top: 20px;
	font-size: 1.0em;
	color: #000000;
}

#brandingSearch #keywords {
	width: 205px;
	font-size: 11px;
	font-weight: normal;
}

#brandingSearch #go {
	vertical-align: top;
	width: 42px;
	height: 24px;
}

#topicNav {
	margin: 0px;
	padding: 0px;
	border: none;
}

ul#toolbar, ul#toolbar li {
	margin: 0px;
	padding: 0px;
	border: none;
}

ul#toolbar {
	list-style-type: none;
}

ul#toolbar li {
	float: left;
}

ul#toolbar li a {
	display: block;
	height: 50px;
}

ul#toolbar li a span {
	display: none;
}

ul#toolbar li#n-msd a {
	width: 121px;
	background-image: url(/images/toolbar.gif);
}

ul#toolbar li#n-msd a:hover,  ul#toolbar li#n-msd a.active {
	background-position: 0px -50px;
}

ul#toolbar li#n-leg a {
	width: 90px;
	background: url(/images/toolbar.gif) -125px 0px;
}

ul#toolbar li#n-leg a:hover, ul#toolbar li#n-leg a.active {
	background: url(/images/toolbar.gif) -125px -50px;
}

ul#toolbar li#n-learntech a {
	width: 91px;
	background: url(/images/toolbar.gif) -219px 0px;
}

ul#toolbar li#n-learntech a:hover, ul#toolbar li#n-learntech a.active {
	background: url(/images/toolbar.gif) -219px -50px;
}

ul#toolbar li#n-health a {
	width: 85px;
	background: url(/images/toolbar.gif) -314px 0px;
}

ul#toolbar li#n-health a:hover, ul#toolbar li#n-health a.active {
	background: url(/images/toolbar.gif) -314px -50px;
}

ul#toolbar li#n-life a {
	width: 90px;
	background: url(/images/toolbar.gif) -403px 0px;
}

ul#toolbar li#n-life a:hover, ul#toolbar li#n-life a.active {
	background: url(/images/toolbar.gif) -403px -50px;
}

ul#toolbar li#n-money a {
	width: 91px;
	background: url(/images/toolbar.gif) -497px 0px;
}

ul#toolbar li#n-money a:hover, ul#toolbar li#n-money a.active {
	background: url(/images/toolbar.gif) -497px -50px;
}

ul#toolbar li#n-travel a {
	width: 85px;
	background: url(/images/toolbar.gif) -592px 0px;
}

ul#toolbar li#n-travel a:hover, ul#toolbar li#n-travel a.active {
	background: url(/images/toolbar.gif) -592px -50px;
}

ul#toolbar li#n-leisure a {
	width: 84px;
	background: url(/images/toolbar.gif) -681px 0px;
}

ul#toolbar li#n-leisure a:hover, ul#toolbar li#n-leisure a.active {
	background: url(/images/toolbar.gif) -681px -50px;
}

#quickClicks {
	background-color: #F7F7F7;
	border: 1px solid #D5D5D5;	
	padding: 0px;
	margin: 0px;
}

#quickClicks h3 {
	color: red;
	font-weight: bold;
	border-bottom: 1px dotted #000000;	
	margin: 5px;
	padding: 0;
}

#quickClicks p {
	margin: 0px 5px 0.5em 5px;
	padding: 0;
	line-height: 1.4em;	
}

#quickClicks h5 {
	margin: 1.0em 5px 0px 5px;
}

#quickClicks ul {
	list-style: none;	
	margin: 0px;
	padding: 0px;
}

#quickClicks ul li{
	background: url(/images/bullet_black.gif) no-repeat 0.5em 0.7em;	
	margin: 0px 5px 0.8em 0px;
	padding: 0px 0px 0px 1.0em;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	line-height: 1.4em;
}

#quickClicks a:link {
	color: #000000;
	padding: 0px;
}

#quickClicks a:visited {
	color: #990099;
}

#quickClicks a:hover, #quickClicks a:active {
	color: #990099;
	text-decoration: none;
	background-color: #F7F7F7;
}

#footer {
	text-align: center;
}

#footerContent {
	margin: 0px;
	padding: 20px 0px 10px 0px;
}

#footerContent p.topicLinks {
	margin: 0px 150px;
	color: #333333;
	font-size: 1.0em;
	line-height: 1.4em;
	padding: 10px 0px;
	border-bottom: dotted 1px #343434; 
	text-align: center;
}

#footerContent p.siteLinks {
	color: #333333;
	font-size: 0.94em;
	line-height: 1.4em;
	text-align: center;
}

#footerContent p.copyright {
	color: #626262;
	font-size: 0.85em;
	text-align: center;
}

#footerContent a:link {
	color: #333333;
	padding: 0px;
}

#footerContent a:visited {
	color: #990099;
	padding: 0px;
}

#footerContent a:hover, #footerContent a:active {
	padding: 0px;
	background: #FFFFFF;
	color: #990099;
	text-decoration: none;
}



/* article styles
--------------------------------- */
#articleBody {
	width: 410px;
}

#articleBody p, p.articlebody, p.articleBody {
	line-height: 1.4em;
	margin-top: 0px;
	margin-bottom: 1.0em;
}

#articleBody p.author, #articleBody p.byline {
	font-size: 0.95em;
	margin-top: -1.0em;
}

#articleBody div.tools {
	width: 405px;
	background-color: #EEEEEE;
	padding: 5px;
	text-align: center;
	border-bottom: solid 4px #999999;
}

#articleBody div.tools img {
	vertical-align: text-bottom;
}

#articleBody h1 {
	font-weight: bold;
	letter-spacing: normal;
	font-size: 1.5em;
	line-height: 1.2em;
	padding-top: 5px;
	margin-bottom: 0.7em;
}

#articleBody h1.subtitle {
	font-weight: normal;
	letter-spacing: normal;
	font-size: 1.5em;
	line-height: 1.2em;
	margin-top: -0.9em;
	margin-bottom: 0.7em;
}

#articleBody h2, p.articlesection, p.articleSection {
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.2em;
	margin-top: 1.2em;
	margin-bottom: 0px;
	text-align: left;
	padding-top: 5px;
}

#articleBody li {
	line-height: 1.4em;
}

#articleBody ul {
	margin-top: 0px;
	margin-bottom: 1.0em;
}

#articleBody p.disclaimer {
	font-size: 0.9em;
}

#articleBody div.contentGroup, #articleBody div.contentGroup-lesson,
#articleBody div.contentGroup-steps {
	width: 177px;
	position: relative;
	float: right;
	margin: 8px 0px 10px 8px;
	background: #FFFFFF url(/images/contentGroup_lesson.gif) no-repeat top center;
	padding-top: 25px;
	border-bottom: solid 1px #666666;
}

#articleBody div.contentGroup-steps {
	background-image: url(/images/contentGroup_steps.gif);
}

#articleBody div.contentGroup h3, #articleBody div.contentGroup-lesson h3,
#articleBody div.contentGroup-steps h3 {
	display: none;
}

#articleBody div.contentGroup ul, #articleBody div.contentGroup-lesson ul,
#articleBody div.contentGroup-steps ul {
	list-style: none;	
	margin: 0px;
	padding: 0px;
}

#articleBody div.contentGroup ul li, #articleBody div.contentGroup-lesson ul li,
#articleBody div.contentGroup-steps ul li {
	background: url(/images/bullet_black.gif) no-repeat 0.45em 0.5em;	
	margin: 0px 5px 0.5em 0px;
	padding: 0px 0px 0px 1.0em;
}

#articleBody div.contentGroup ul li.current, #articleBody div.contentGroup-lesson ul li.current,
#articleBody div.contentGroup-steps ul li.current {
	background: url(/images/arrow_neutral.gif) no-repeat 0.4em 0.4em;	
}

div.callOut, div.callout, div.pullQuote, div.pullquote,
div.callOut-left, div.callout-left, div.pullQuote-left, div.pullquote-left,
div.sidebar-left, div.sideBar-left {
	width: 150px;
	float: left;
	position: relative;
	margin: 5px 5px 5px 0px;
	padding: 0px 5px 0px 0px;
}

div.callOut-right, div.callout-right, div.pullQuote-right, div.pullquote-right,
div.sidebar, div.sideBar, div.sidebar-right, div.sideBar-right {
	width: 150px;
	float: right;
	margin: 5px 0px 5px 5px;
	padding: 0px 0px 0px 5px;
}

div.sideBar, div.sidebar, div.sidebar-right, div.sideBar-right, 
div.sidebar-left, div.sideBar-right {
	width: 146px;
	padding: 0px;
	background: #999999 url(/images/sidebar_bg.gif) no-repeat top center;	
}

div.callOut p, div.pullQuote p, div.callout p, div.pullquote p,
div.callOut-right p, div.pullQuote-right p, div.callout-right p, div.pullquote-right p {
	font-size: 1.7em;
	line-height: 1.0em;
	font-weight: bold;
	letter-spacing: -0.05em;
	margin: 0px;
	color: #666666;
}

div.sidebar h1, div.sideBar h1, div.sidebar-right h1, div.sideBar-right h1, div.sideBar-left h1, div.sidebar-left h1,
div.sidebar h2, div.sideBar h2, div.sidebar-right h2, div.sideBar-right h2, div.sideBar-left h2, div.sidebar-left h2,
div.sidebar h3, div.sideBar h3, div.sidebar-right h3, div.sideBar-right h3, div.sideBar-left h3, div.sidebar-left h3 {
	font-size: 1.25em;
	line-height: 1.1em;
	margin: 8px 8px 0px 8px !important;
	padding: 0px !important;
	color: #FFFFFF;
	font-weight: bold;
}

div.sidebar p, div.sideBar p, div.sidebar-right p, div.sideBar-right p, div.sideBar-left p, div.sidebar-left p {
	font-size: 1.25em;
	line-height: 1.1em;
	margin: 0px 8px 8px 8px;
	padding: 0px;
	color: #FFFFFF;
}

div.sidebar a:link, div.sidebar a:hover, div.sidebar a:active, div.sidebar a:active, div.sidebar a:visited {
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: bold;
}

div.sidebar a:hover {
	color: #000099;
	background-color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

p.small, li.small, span.small, p.smaller, p.articlesmall {
	font-size: 80%;
}

p.right {
	text-align: right;
}

.noBottomMargin, p.noBottomMargin, #articleBody p.noBottomMargin, 
h1.noBottomMargin, h2.noBottomMargin, h3.noBottomMargin, 
ul.noBottomMargin, ol.noBottomMargin {
	margin-bottom: 0px;
}

.noTopMargin, p.noTopMargin, h3.noTopMargin, #articleBody p.noTopMargin,
#articleBody ul.noTopMargin, #articleBody ol.noTopMargin {
	margin-top: 0px;
}

.floatRight, p.floatRight, p.floatright, h1.floatRight, h2.floatRight, h3.floatRight, div.floatRight {
	float: right;
}

.floatLeft, p.floatLeft, p.floatleft, h1.floatLeft, h2.floatLeft, h3.floatLeft, div.floatLeft {
	float: left;
}

#articleBody div.floatRight {
	float: right;
	margin: 0px 0px 8px 8px;
}

#articleBody div.floatLeft, #articleBody div.featureImage {
	float: left;
	margin: 0px 8px 8px 0px;
}

#articleBody div.featureImage {
	width: 145px;
}

#articleBody div.floatLeft p, #articleBody div.floatRight p, #articleBody div.featureImage p,
#articleBody div.caption, #articleBody p.caption {
	font-size: 0.9em;
	line-height: 1.2em;
	margin: 0px;
	color: #666666;
	text-align: left;
}

#articleBody div.endNote, #articleBody div.endnote {
	margin-top: 1.5em;
	padding-top: 0.2em;
	border-top: solid 1px #D6D6D6;
}

#articleBody div.endNote h1, #articleBody div.endNote h2, #articleBody div.endNote h3 {
	font-weight: bold;
	font-size: 1.0em;
	line-height: 1.4em;
	margin: 0px;
	text-align: left;
}



/* about / membership toggle box
--------------------------------- */
#membershipAbout {
	margin-bottom: 5px;
	border-bottom: solid 1px #CCCCCC;
	text-align: left;
}

#membershipAbout h3#membershipAboutToggle {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

#membershipAbout h3 img {
	margin: 0px;
	padding: 0px;
	border: none;
}

#membershipAbout ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 8px 0px;
}

#membershipAbout ul li {
	margin: 0px 5px 5px 5px;
	line-height: 1.2em;
}

#joinButton {
	padding: 0px 0px 6px 0px;
	margin: 0px;
}

#joinButton img {
	margin: 0px;
	padding: 0px;
	border: none;
}

#joinButton a:link, #joinButton a:hover,
#joinButton a:active, #joinButton a:visited {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

#membershipAbout a:link {
	color: #000000;
	padding: 0px;
}

#membershipAbout a:visited {
	color: #990099;
	padding: 0px;
}

#membershipAbout a:hover, #membershipAbout a:active {
	color: #990099;
	padding: 0px;
	text-decoration: none;
	background-color: transparent;
}

#membershipAbout {
	background: #FFFFFF url(/images/toggletab_membership.gif) no-repeat top center;
}

#toggleList_about {
	display: none;
}




