/*
TITLE  : NCOA BCU Results Page Styles - SCREEN MEDIA
AUTHOR : JACOB ROSENFELD
UPDATED: 2006509
*/

body {
background-color: #fff;
}

/* ----[ primary links ]--------------------------  */
a:link {
    color: #012A5C !important;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
a:visited {
	color: #012A5C !important;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
a:hover {
	font-family: sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #0a50ff;
	text-decoration: underline;
}

.specialtext {
    color: #012A5C !important;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 5px !important;
    margin: 0 0 20px;
}
.warningtext {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	font-style: italic;
	color: #CC0000;
}
.pb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	font-style: italic;
	color: #000;
	text-decoration: underline;
}





