<p show-event-handler="" ng-show="" ng-model="$root.div_af[answer_field.code]">
    <input type="radio" id="id_{{answer_field.code}}_y" ng-model="$root.af[answer_field.code]" name="{{answer_field.code}}" value="Y">Yes&nbsp
    <input type="radio" id="id_{{answer_field.code}}_n" ng-model="$root.af[answer_field.code]" name="{{answer_field.code}}" value="N" checked>No
    <input type="radio" id="id_{{answer_field.code}}_ns" ng-model="$root.af[answer_field.code]" name="{{answer_field.code}}" value="NS" checked>Not Sure
</p>