.testimonial {
  display: flex !important;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  position: relative;
  min-height: 160px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    min-height: 180px;
  }

  // position: absolute;
  // left: 0;
  // opacity: 0;
  //
  // &.active {
  //   opacity: 1;
  // }

  &-carousel {
    margin-top: 30px;
    margin-bottom: 40px;

    @media screen and (min-width: 992px) {
      margin-top: 0;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 7%; // custom grid columns for the hero
    }

    &.slick-dotted.slick-slider {
      margin-bottom: 60px;
    }
  }

  &-carousel ul.slick-dots {
    // margin-top: 15px;
    display: block;
    width: 20px;
    height: 90px;
    margin: 0;
    bottom: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translatey(-50%);

    li {
      display: block;
      margin: 0;
      width: 20px;
      height: 20px;
      margin: 5px 0;
    }

    li button:before {
      color: white;
      font-size: 10px;
    }
  }


  img {
    // display: inline-block;
    height: 100px !important;
    width: 100px !important;
    border-radius: 100%;
    display: block;
    margin: 0;

    @media screen and (min-width: 768px) {
      height: 160px !important;
      width: 160px !important;
    }

    @media screen and (min-width: 1200px) {
      height: 180px !important;
      width: 180px !important;
    }
  }

  .hero & figcaption {
    margin-left: 0;
    padding: 0;
    text-align: left;
    max-width: none;
    padding-right: 40px;

    @media screen and (min-width: 768px) {
      // padding-top: 15px;
      // padding-left: 30px;
      padding-top: 20px;
      padding-left: 30px;
    }

    @media screen and (min-width: 1200px) {
      //padding-left: 220px;
    }

    h4 {
      color: white;
      font-weight: 700;
      font-size: 1em;
    }

    p {
      display: inline-block;
      color: white;
      font-size: .9005em;
      font-weight: 400;
      margin-bottom: 0;
    }
  }


  &-carousel.slick-dotted.slick-slider {
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
}

.slick-list {
  overflow-y: visible;
}
