$brand-blue: #1F3D7D;
$brand-yellow: #FFB902;
$brand-light-blue: #1888de;
$brand-orange: #F4640A;
$brand-red: #E54243;
$brand-light-green: #77C43A;
$brand-dark-green: #389C78;
$brand-purple: #74489D;
$brand-charcoal: #323232;
$brand-light-grey: #ECECEC;
$brand-green: #389C78;
$brand-light-green: #77C339;
$bg-color: #f6f6f6;
$link-hover-blue: #1473bc;
$footer-btn-container: #fbfbfb;
$light-grey-bg: #F9F9F9;
$grey-accent: #CCCCCC;

$about-hr-margin: 50px;
$about-banner-bg: #F3F8FC;

$body-base: #444;

$error-bg-color: #fcf3f3;

$container-lg: 1350px;
