/* Bootstrap Overrides */


body {
	font-family: "Trebuchet MS", arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	background: url("images/bl_grdnt_bg.gif") repeat-x scroll center top #FFFFFF;
}


a {
  color: #0082D1;
  text-decoration: none;
}

a, a:hover, a:focus {color:#0379C4;}
a:visited {color: purple;}
b, strong {font-weight:500;}

.container {  background:#fff;border: 1px solid #CCCCCC; border-top:none;}
#top-bar.container { border:none; }
#header.container {padding-bottom:1em;}
#footer.container { border:none; padding:1em 0; background:none;}

#top-logo {	width:100%; background: url(images/bcu-top-bkg.png) repeat-x; height:35px; text-align:right; z-index:999; margin:0;}
#header_logo img {}
@media (min-width:50em){ #header_logo img {margin-left:1em;} }

#content {font-size:.95em; line-height:1.35em; padding:.5em;}
@media (min-width:50em){ #content {padding:1em;}}

h1, h2, h3, h4, body, p, ul, li {font-family: 'Roboto', sans-serif; }
/* fonts per style sheet  */
h1 {font-size:2em; color:#02426b; font-weight:300; }
h2 {font-size:1.3em; line-height:1.4em; color:#4a8a16; font-weight:400;} 
h3 {font-size:1.2em; line-height:1.4em; color:#041019; font-weight:400;}
h4 {font-size:.97em; line-height:1.4em; color:#02426B; font-weight:400;}
p, input, button, select, textarea {font-size:.97em; line-height:1.4em; color:#041019; font-weight:300;}

h5,h6 {
  font-family: "Trebuchet MS", arial, sans-serif;
  color: #64bb1e;
  font-weight: normal;
  margin: 10px 0;
  line-height: 20px;
  text-rendering: optimizelegibility;
}


h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #64bb1e;
}
pre {
	font-family: "Trebuchet MS", arial, sans-serif;
}
textarea {
  font-family: "Trebuchet MS", arial, sans-serif;
}
.statistics {
	font-family: "Trebuchet MS", arial, sans-serif;
	color: #666666;
	font-weight: normal;
	margin: 10px 0;
	line-height: 20px;
	text-rendering: optimizelegibility;
	font-size: 17.5px;
}

/*MQC3 */

#tr_mqc_not_receiving_parta {
margin-left: 20px;
}

#tr_mqc_not_eligible_parta{
margin-left: 20px;
}


/* footer ------------------------------ */
@media (min-width:50em){ul#footer_links {text-align:right;}}
ul#footer_links {margin-left:0; margin-right:0;}
#footer_links li{display: inline;padding: 0 5px 0 0;}
#footer_links li a {color: #000000;}
#footer_links li a:hover{color: #B1CAD8; }
.footer_divider{color: #B7D4E4;	font-size: 18px;}

#socialnetwork_links {display:none}


/* Adjust the table cells  */

.table th, .table td  {padding:.5em; font-size:.95em} 
@media (max-width:26em){.table th, .table td {padding:.2em; font-size:.85em;}}
@media (max-width:23em){.table th, .table td {padding:.05em; font-size:.75em; font-weight:normal}}


/* Form updates -------------------------------------- */
form h2 {font-size:1.8em; line-height:1.1em; }
form .well, #commentForm.well, #apply.well, .whitewell {border-style:solid; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; padding:0 19px 0 0; margin-bottom:0; background:none;}

.whitewell.span12 { /*hiding the border in the process subset page caused by the .whitewell border above*/
border: none;
}

.well.sidebar-nav{ /*showing a gray box around the state carrier pages (and background from earlier)*/
border-style: solid;
border-width: 1px;
border-color: #DDDDDD;
background:none;
}

.sidebar-nav{
padding: 7px;
}


.well fieldset {border-bottom:1px solid #ccc; padding-bottom:1em}
.well fieldset.triage {border-bottom:0px solid #ccc; padding-bottom:1em}
.well fieldset .clearfix .row-fluid:last-child {padding-bottom:1em;}
#summary .well.cmxform {background:#e2f0f9; border-radius: 0; padding: 15px 20px;}
section#iep, section#apply.well {margin-top: 30px; border-top: 1px solid #CCC; padding-top: 15px;}
section#sep, section#apply.well {margin-top: 30px; border-top: 1px solid #CCC; padding-top: 15px;}
section#recs, section#apply.well {margin-top: 30px; border-top: 1px solid #CCC; padding-top: 15px;}
section#ways, section#apply.well {margin-top: 30px; border-top: 1px solid #CCC; padding-top: 15px;}
.radio .btn-group {margin-left:-10px;}
.leading {font-size:1.05em; font-weight:500;}
#recs ol li {margin-bottom:1em;}
#recs ol li ul {margin-top:1em;}
#recs ol li .leading {font-size:1.05em; font-weight:500;}
recs ol li .impact {font-size:1.05em; font-weight:500;}
/* do not display the quick check image */
.page_wrapper  img[title='MedicareQuickCheck'] {display:none}

a:hover .icon-question-sign {text-decoration:none;} 
.popover-title {background: #B7D4E5;}

.btn {font-family: 'Roboto Condensed', sans-serif; color:#fff; text-transform:uppercase; font-weight:300; background: #54b001; margin-top:15px;}
.btn:hover, .btn:focus {background: #54b001; opacity:.9;}

.btn:hover, .btn:focus {color:#fff;}
.btn .icon-chevron-right {display:none;}

@media (max-width:979px){.btn-group > .btn-large {font-size:15px;}} 
@media (max-width:767px){ 
#commentForm .btn-group > .btn-large:last-child {margin-left:-1em}
.btn-group > .btn-large {font-size:14px; padding:4px 8px;}
}

.sup {vertical-align:top;font-size:.75em}

#your-report.well {z-index: 999;position: static; max-width:300px; top: 191px;}

@media (max-width:767px) {
.modal-body { max-height:300px; padding:10px;}
}

/* Tighten up popup for small */
@media (max-width:767px){ 
	.popover.right .arrow {display:none}
	.popover.right { margin-left:-10px }
	.popover-content {padding:5px 7px }
$sectionLegend = apply_filters('the_content', get_post_field('post_content', 3403));
}

.printButton {

margin-left: 60px;

}

.btn-recs, .btn-recs:hover, .btn-recs:visited, .btn-recs:active {

background: #214E96;

}

.printButton .btn {

background: #214E96;

}

 .inPrint {
   display: none;
}

#imageToPrint {
display:none;
}

@media print {
  a[href]:after {
    content: none !important;
  }

 .inPrint {
   display: block;

#imageToPrint {
display:block;
}


} 

}

label { /*Lynna Cekova: for removing clickable white space near checkboxes and radio buttons */

display: inline-block;

}

#tr_mqc_birth_day, #label_mqc_birth_year, #label_mqc_birth_day, #label_mqc_birth_month {
display: inline;
}

ol.noNumbering {

list-style-type: none;

}

td.carrierPhone {

width: 40%;

}

td.carrierSite {

width: 60%;
}




}
