#ncoaHeader {
	width: 900px;
}
#clientHeader {
	margin: 0px;
	padding: 5px 0px 5px 0px;
	text-align: center;
}
.navLeftC {
	float:none;
	display:inline;
}
.navULwrapper {
	display:inline;
}
.navRightC {
	float:none;
	display:inline;
}