body {
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    margin:0 0px; 
    padding:0px;
  }

table {
    font-size: 14px; 
}

#copyright {
  font-size: 10px; 
  text-align: center;
}

#copyrightMain {
  font-size: 10px; 
  text-align: center;
}

.requiredText {
    font-weight: bold;
    font-size: 12px;
    color: #660000;  
}

.optionalText {
	font-weight: bold;
    font-size: 12px;
    color: #000000;  
}

.attentionText {
    font-weight: bold;
    font-size: 12px;
    color: #FF0000;  
}
  
.ERROR {
    font-weight: bold;
    font-size: 14px;
    color: #FF3300;  
}
.WARNING {
    font-weight: bold;
    font-size: 14px;
    color: #FF3300;  
}
.INFORMATION {
    font-weight: bold;
    font-size: 14px;
    color: #33CC00;  
}

h1 {     
    font-size: 18px;
    font-weight: bold;
    color: #052C6A;
    white-space: nowrap;
}

h2 {   
  font-size: 16px;
  font-weight: bold;
  color: #052C6A;
}

caption {   
  font-size: 16px;
  font-weight: bold;
  color: #052C6A;
}
 .h2white {     
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
  }
 
.h2black {     
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
 
h3 {   
  font-size: 14px;
  font-weight: bold;
    color: #000000;
}

.h3white {     
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

.h3black {     
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
 
h4 {   
  font-size: 10px;
  font-weight: bold;
  color: #000000;
} 

.breadcrumbLink { 
	font-weight: bold; 
    font-size: 10px;   
    color: #660000;
    text-decoration:none;
}

.buttonText {
    display:none
  }
  
#noprint {
    display:none
  }
  
.smallButtonText {
    display:none
  }

.smallBold {   
  font-size: 10px;
  font-weight: bold;
  color: #000000;
} 

.smallBlueBold {   
  font-size: 14px;
  font-weight: bold;
  color: #000099;
  text-decoration:none;
}

.smallHeaderTextBold {   
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
}

.largeHeaderTextBold {   
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

#discussionSummaryLinks {
  background-color: #052C6A; 
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

td.discussionSummary { 
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

th.discussionSummary { 
  background-color: #052C6A; 
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

#noLinkEmailLarge {
  font-weight: bold;
  color: #FFFFFF;
  text-decoration:none;
  color: #FFFFFF;
} 

#noLinkEmail {
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration:none;
  color: #FFFFFF;
} 

#small{   
  font-size: 10px;
} 

input {
  font-size: 14px;
  font-weight: bold;
}

textarea {
  font-size: 14px;
  font-weight: bold
}

option {
  font-size: 14px;
}

a.greenbutton {
    background-color: #009900; 
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    text-align: center;
    min-width: 95px;
    color: #FFFFFF; 
}

a.orangebutton {
    background-color: #FF9900; 
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    text-align: center;
    min-width: 95px;
    color: #FFFFFF; 
}
a.bluebutton {
    background-color: #052C6A; 
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    text-align: center;
    min-width: 95px;
    color: #FFFFFF; 
}

a.mediumWhiteLink {
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      text-decoration:underline;
}

table.button {
 height: 40px;
}
td.button {
 height: 80px;
}

#mainNavLinks {
    display:none
   } 

#secondaryNavLinks {
    display:none
   } 

#tertiaryNavLinks{
    display:none
   } 
/* End of stylesheet-small */

#header {
    position: relative;
    top: 0;
    right: 0;
    padding-right: 25px;
   }

#textsize {
    display:none
   }
   
.noprint {
    display:none
   }

#footer {
    clear: both;  
    width:900px; 
   }

/* Start Holly Hack, hidden from MacIE. \*/
* html  ul li {
height: 1%;
}
/* End Holly Hack. */



.color1 {
    background-color: #FFFFCC;
}

.color2 {
    background-color: #FFFFFF;
}

table.blueborder{
  border: 2px solid #003B62;
  background-color: #B5CFE0;
  width: 95%
}

table.bluetoplessborder{
  border-right: 2px solid #003B62;
  border-bottom: 2px solid #003B62;
  border-left: 2px solid #003B62;
  background-color: #B5CFE0;
  width: 95%
}

#niceyellowborder{
    border: 2px solid #003B62;
    background-color: #FFFFCC;
    padding: 7px;
    margin: 5px;
    width: 95%;
  }

th {
    text-align: left;
    vertical-align:bottom;
}

.red {      
    color: #660000;
}

.white {      
    color: #FFFFFF;
}
.boldRed {
  font-weight: bold;
  color: #660000;
}

.white {      
  color: #FFFFFF;
}

.boldwhite {      
  color: #FFFFFF;
  font-weight: bold;
}

.dta {      
    font-weight: bold;
}

.lastUpdated {      
    font-weight: bold;
}

.lastVisited {      
    font-weight: bold;
}
.data {      
}
.multdata {
}

.labeltext {
    color: #660000;  
}

h1.headingred,h2.headingred,h3.headingred,h4.headingred {
      color: #C00200;
}

h1.nicebackground, h2.nicebackground,h3.nicebackground,h4.nicebackground  
{ 
    background-color: #FFFFCC ;
    padding:3.75pt 3.75pt 3.75pt 3.75pt;
}

#page {
  margin:0px auto;
  text-align:left;
  padding:15px 25px 15px 25px;
  }

#contents {
  margin:5px 0px 0px 5px;
  }

div.niceborder{
  border: 2px solid #003B62;
  background-color: #B5CFE0;

}

.learningcenterborder {
    border-width: 2px;
    border-style: solid;
    border-color: #336699;
    }
	
.discussioncenterborder {
    border-width: 2px;
    border-style: solid;
    border-color: #990000;
    }
    
.mytoolsborder {
    border-width: 2px;
    border-style: solid;
    border-color: #CC6600;
    }
    
 .todoborder {
    border-width: 2px;
    border-style: solid;
    border-color: #006633;
    }	   
.browntableborder {
    border-width: 2px;
    border-style: solid;
    border-color: #993300;
    }

.bluetableborder {
  border-width: 2px;
  border-style: solid;
  border-color: #000099;
  }

.bluetableborder li  {
  margin: 0px 0px 0px 35px; 
  padding:5px 5px 5px 5px;
  }

#header {
  margin-left:5px;
  position:relative;
  top:-4px;
  /*width:900px;*/
  margin-top:0;
  background-color: #FFFFFF;
  }
  
#header .topleft
  {
  position:relative;
  float:left;
  margin:5px 5px 0px 10px;
  width:600px;
  }
  
#header .topright
  {
    display:none
  } 
 
.colFull  {width:854px;} 
.fl {float:left}

#noSecondaryNavLinks {
    display:none
   } 
#mainSUNavLinks {
    display:none
   } 
#noSecondarySUNavLinks {
    display:none
   } 
#secondarySUNavLinks {
    display:none
   } 
    
#navigation {
    display:none
} 

#headerNavLinks {
    display:none
} 
 
#footerNavLinks {
    display:none
  } 
 
a.whitelink
{
color: #FFFFFF;
}

table.messageTable { 
border-collapse: collapse; 
border: 1px solid #052C6A;
}
 

a.messageLink {
color: #000000;
      text-decoration:none;
}
td.messageLinkBold {
	color: #000000;
	font-weight:bold;
}
a.messageLinkBold {
	color: #000000;
    text-decoration:none;
	font-weight:bold;
}
  
td.messageNavigation { 
  border: 1px solid #052C6A;
  font-size: 14px;
}

td.messageNavigationActive { 
  border: 1px solid #052C6A;
  font-size: 14px;
  background-color: #052C6A;
}

td.messageNavigationInactive { 
  border: 1px solid #052C6A;
  font-size: 14px;
  background-color: #CCCCCC;
}

.messageCenterHighlight { 
  font-size: 14px;
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: bold;
  padding:5px 5px 5px 5px;
}

a.messageCenterHighlightLink { 
      font-size: 14px;
      color: #FFFFFF;
      text-decoration:none;
      background-color: #FF0000;
      font-weight: bold;
}

a.largeGrayLink {
      font-size: 16px;
      font-weight: bold;
      color: #666666;
      text-decoration:none;
}
a.largeWhiteLink {
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      text-decoration:none;
}
 
 .nfactsbord {
	border:1px solid #000000;
	background: #FFFFFF;
	padding: 3px;
	
}

.nfacts td strong, .nfacts p strong {
	font-family: 'arial black', san-serif;
	font-weight: normal;
}
.nfacts p {
	margin: 0;
}
.nline {
	border-bottom: 1px solid #000000;
	padding: 0 2px;
}

.nfacts p.indent {
	margin-left: 20px;
}