body {
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #000000;
    background-color: #FFFFFF;
    margin:0 0px; 
    padding:0px;
  }

table {
    font-size: 22px;
}

#copyright {
  font-size: 18px; 
  text-align: center;
  margin-left:5px;
  padding-bottom:10px;
}

#copyrightMain {
  font-size: 18px; 
  text-align: center;
  margin-left:5px;
}

#textsize {
  font-size: 22px;
  font-weight: bold;
  clear: both; 
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-left:5px;
 }
#textsizeMain {
  font-size: 22px;
  font-weight: bold;
  clear: both; 
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-left:5px;
 }
.requiredText {
    font-weight: bold;
    font-size: 20px;
    color: #660000;  
}

.optionalText {
	font-weight: bold;
    font-size: 20px;
    color: #000000;  
}

.attentionText {
    font-weight: bold;
    font-size: 20px;
    color: #FF0000;  
}  
  
.ERROR {
    font-weight: bold;
    font-size: 22px;
    color: #FF3300;  
}
.WARNING {
    font-weight: bold;
    font-size: 22px;
    color: #FF3300;  
}
.INFORMATION {
    font-weight: bold;
    font-size: 22px;
    color: #33CC00;  
}

h1 {     
      font-size: 26px;
      font-weight: bold;
      color: #052C6A;
      white-space: nowrap;
  }
  
.h1black {     
  font-size: 26px;
  font-weight: bold;
  color: #000000;
} 

h2 {   
    font-size: 24px;
    font-weight: bold;
    color: #052C6A;
  }
 
 caption {   
  font-size: 24px;
  font-weight: bold;
  color: #052C6A;
}
 
 .h2black {     
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
 
 .h2white {     
      font-size: 24px;
      font-weight: bold;
      color: #FFFFFF;
  }  
 
h3 {   
    font-size: 22px;
    font-weight: bold;
    color: #000000;
  }
  
.h3black {     
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}

.h3white {     
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

h4 {   
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }
  
.breadcrumbLink { 
	font-weight: bold; 
    font-size: 18px;   
    color: #660000;
    text-decoration:none;
}
  
.buttonText {
    font-size: 22px;
    color: #000000;
  }
  
.tableText {
    font-size: 22px;
    color: #000000;
  }
  
.smallButtonText {
    font-size: 16px;
    color: #000000;
  }
  
.smallBold {   
  font-size: 16px;
  font-weight: bold;
  color: #000000;
} 

.small {   
  font-size: 16px;
}

.smallBlueBold {   
  font-size: 16px;
  font-weight: bold;
  color: #000099;
}
.smallHeaderTextBold {   
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}
.large {   
  font-size: 24px;
}
.largeHeaderTextBold {   
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

#discussionSummaryLinks {
  background-color: #052C6A; 
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

td.discussionSummary {  
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

th.discussionSummary { 
  background-color: #052C6A; 
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}
#noLinkEmailSmall {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration:none;
  color: #FFFFFF;
}

#noLinkEmail {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration:none;
  color: #FFFFFF;
} 

#small {   
  font-size: 18px;
} 

input {
  font-size: 22px;
  font-weight: bold;
}

textarea {
  font-size: 22px;
  font-weight: bold
}

option {
  font-size: 22px;
}

a.greenbutton {
    background-color: #009900; 
    font-weight: bold;
    font-size: 24px;
    padding: 8px 16px;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    text-align: center;
    min-width: 95px;
    color: #FFFFFF; 
}

a.orangebutton {
    background-color: #FF9900; 
    font-weight: bold;
    font-size: 24px;
    padding: 8px 16px;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    text-align: center;
    min-width: 95px;
    color: #FFFFFF; 
}
a.bluebutton {
    background-color: #052C6A; 
    font-weight: bold;
    font-size: 24px;
    padding: 8px 16px;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    text-align: center;
    min-width: 95px;
    color: #FFFFFF; 
}

a.mediumWhiteLink {
      font-size: 24px;
      font-weight: bold;
      color: #FFFFFF;
      text-decoration:underline;
}

table.button {
 height: 42px;
}

td.button {
 height: 70px;
} 

#mainSUNavLinks {
  font-size:13px;
}
  
#secondarySUNavLinks {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  position:relative;
  height:30px;
  border-bottom:1px #052C6A solid;
  border-left:1px #052C6A solid;
  border-right:1px #052C6A solid;
  border-top: 1px #052C6A solid;
  background-color: #9EB5D4;
  z-index:1;
  font-size:13px;
}

#secondarySUNavLinks li {
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px; 
  display: inline;
  list-style-type: none;
  }
  
#mainNavLinks {
  margin:0px 0px 0px 0px;
  padding:20px 0px 0px 0px;
  position:relative;
  background-color: #FFFFFF;
  z-index:2;
  font-size:18px;
}

#mainNavLinks li {
  margin: 0px -5px 0px 0px; 
  padding: 0px 0px 0px 0px; 
  display: inline;
  list-style-type: none;
  }

#secondaryNavLinks {
  margin:2px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  position:relative;
  height:30px;
  border-bottom:1px #052C6A solid;
  border-left:1px #052C6A solid;
  border-right:1px #052C6A solid;
  border-top: 1px #052C6A solid;
  background-color: #9EB5D4;
  z-index:1;
  font-size:13px;
} 

#tertiaryNavLinks {
  margin:2px 0px 0px 5px;
  padding:0px 0px 0px 0px;
  position:relative;
  height:30px;
  background-color: #FFFFFF;
  z-index:0;
  font-size:13px;
}

td.messageNavigation { 
  border: 1px solid #052C6A;
  font-size: 22px;
}

td.messageNavigationActive { 
  border: 1px solid #052C6A;
  font-size: 22px;
  background-color: #052C6A;
}

td.messageNavigationInactive { 
  border: 1px solid #052C6A;
  font-size: 22px;
  background-color: #CCCCCC;
}

.messageCenterHighlight { 
  font-size: 22px;
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: bold;
  padding:5px 5px 5px 5px;
}

a.messageCenterHighlightLink { 
      font-size: 22px;
      color: #FFFFFF;
      text-decoration:none;
      background-color: #FF0000;
      font-weight: bold;
}

a.largeGrayLink {
      font-size: 24px;
      font-weight: bold;
      color: #666666;
      text-decoration:none;
}
a.largeWhiteLink {
      font-size: 24px;
      font-weight: bold;
      color: #FFFFFF;
      text-decoration:none;
}

.ntitle {
	font-size: 20pt; 
	font-weight: bold;
}
.nsizesmall {
	font-size: 12pt; 
}
.nsizesmallbold {
	font-size: 12pt; 
	font-weight: bold;
}
.nfacts td, .nfacts p  {
	font-family: arial;
	font-size: 14pt;
	padding: 1px;
}
