/* overriding styles for sponsor layout - do not need to copy */

body {background: url("../images/bl_grdnt_bg.gif") repeat-x scroll center top #FFFFFF;}


/* All new styles are here  - include this file or copy it into your theme css  */
/* The main content font for the site will be Arial instead of Trebuchet MS because of all the issue with the fuzzy lettering. 
/* note: Trebuchet MS display issues will occur in IE for font size less than 17px. To fix this - add font-weight:bold to the style  */
.sponsor-info {font-family: Arial, Helvetica, sans-serif; color:#252525}
.sponsor-info h3, 
.sponsor-info h4  {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color:#252525; font-weight:bold;}


/* sponosor info section which is the full width */
.layout-sponsor #content {background:url(../images/sponsor-bkg.png) repeat-x scroll center top #FFFFFF;}
.sponsor-info{margin-bottom:20px;}
.sponsor-info h3 {font-size:1.65em; line-height:1.2em}
.sponsor-info h4, .sponsor-info h4 a  {font-size:1.2em; line-height:1.35em; color:#1f419b; text-decoration:none; }
.sponsor-info p {font-size:1.2em; line-height:1.35em}
.sponsor-info select {margin-right:10px; padding:2px 5px;}

.sponsor-info img.alignright {margin-left: 4em;}
.sponsor-info form {display:inline-block;}


.blue-divider {position:absolute; bottom:0; left:0; height:4px; background:#1f419b; width:100%}
span.orange {color:#fb6b06}
.spacer {height:1em}

/* image alignment */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 2em;
	margin-top: 0;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 2em;
	margin-top: 0;
}
img.moveup {margin-top:-2em}
img.space-right {margin-right:10px;}
