@charset "utf-8";
/* CSS Document */

html {
	background-color: #D0D0D0;
	width:960px;
	margin: 0 auto 0 auto;
	padding: 0;
	font: 0.75em/1.5em Arial, Helvetica, sans-serif; /* the font size in EM */
}
body {
	margin:0;
	padding: 1em;
	background-color: #FFF;
}
.clear{clear:both; line-height:0;}
.errorMessege{
	border:1px solid red;
	color:red;
	font-weigh:bold;
	padding:10px;
	background-color:#FFF;
}
.userListItem{
	padding:4px;
}
hr {
	padding: 0;
	border: 0;
	color: #D0D0D0;
	background-color: #D0D0D0;
	height: 1px;
}
.nowEditing{
	padding:8px;
	text-align:right;
}
.formContainer{
	margin:0 auto;	
}
.success { color:#33FF00; }
.warn { color:#FF0000; }

/* NAVIGATION */
#ddmenu{	
	margin: 0;
	padding: 0;
}

#ddmenu li{	
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

#ddmenu li a{	
	display: block;
	background: #20548E;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	width: 70px;
	color: #EAFFED;
	white-space: nowrap;
}

#ddmenu li a:hover{	
	background: #1A4473;
}

#ddmenu li ul{	
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
}

#ddmenu li ul li{	
	float: none;
	display: inline;
}

#ddmenu li ul li a{	
	width: auto;
	background: #9F1B1B;
}

#ddmenu li ul li a:hover{
	background: #7F1616;
}