#button1, #button2, #button3 {
float:right;
display:block;
width: 121px;
height: 19px;
margin: 0px 0px 0px 0px;
padding: 0;
}	

#button1 a:link, #button1 a:visited, #button2 a:link, #button2 a:visited, #button3 a:link, #button3 a:visited {
display: block;
width: 121px;
height: 19px;
margin: 0px 0px;
padding: 1px 22px;
color: #000;
font-size: .9em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
background-image:url(../img/getstarted.gif);
background-repeat:no-repeat;
text-decoration:none;
}

#button1 a:hover, #button2 a:hover, #button3 a:hover {
display:block;
width: 121px;
height: 19px;
margin: 0px 0px;
padding: 1px 22px;
color: #000;
font-size: .9em; 
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
background-image:url(../img/getstarted2.gif);
background-repeat:no-repeat;
text-decoration:none;

}