#menu0 {
width: 770px;
padding:16px 0px 0px 0px;
border-top: 0px;
background-color: #fff;
height: 26px;
border-bottom:1px solid #042155;
}


#globalnav {
	text-align:center;
	margin: 0 auto 0 auto;
	padding:0px 0px;
	margin:0 0 0 0;
	list-style:none;
	display:inline;
}

#globalnav li {
	float:left;
	padding:0px 0px;
	list-style:none;
	display:inline;
	margin-left: 4px;
	
}


#menu_home a:hover,
#menu_home a:active,

#menu_benefits a:hover,
#menu_benefits a:active,

#menu_apply a:hover,
#menu_apply a:active,

#menu_applications a:hover,
#menu_applications a:active,

{
	background:#fff;
}



#menu_home a {
	font-size: 1em; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-left:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
	margin-left:24px;
	background-color:#eaeaea;
}

#menu_homeh a {
	font-size: 1em; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	padding: 5px 10px;
	border-left:1px solid #042155;	
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
	margin-left:24px;
	background-color:#fff;
}

#menu_benefits a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#eaeaea;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-left:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_benefitsh a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-left:1px solid #042155;	
	border-right:1px solid #042155;
	text-align:center;
}

#menu_apply a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#eaeaea;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-left:1px solid #042155;		
	border-right:1px solid #042155;
	text-align:center;
}

#menu_applyh a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-left:1px solid #042155;	
	border-right:1px solid #042155;
	text-align:center;
}

#menu_applications a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#eaeaea;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-left:1px solid #042155;	
	border-right:1px solid #042155;
	text-align:center;
}

#menu_applicationsh a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-left:1px solid #042155;	
	border-right:1px solid #042155;
	text-align:center;
}


#t1 
{
background-color:#fff;
}