/*CSS Document*/
.topmenu
{
	margin: 0px 20px;
}
#globalnav
{
	margin: 0px;
	padding: 14px 0px 0px;
	list-style: none;
	background: #FFF url(../img/partners/aarpkb/plmenu3.gif) repeat-x bottom left;
	float: left;
	width: 922px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#globalnav LI
{
	float: left;
	margin: 0 4px 0 0;
}
#globalnav A
{
	float: left;
	display: block;
	margin: 0px;
	padding: 4px 12px 6px;
	color: #1f419b;
	text-decoration: none;
	border: 1px solid #1f419b;
	border-bottom: none;
	background: #FFF url(../img/partners/aarpkb/plmenu4.gif) repeat-x bottom left;
}
#globalnav A:hover
{
	padding-bottom: 6px;
	background: #FFF;
}
#on A
{
	font-weight: bold;
	background: #FFF url(../img/partners/aarpkb/plmenu1.gif) repeat-x bottom left;
}
.plimage
{
	margin-left: 16px;
	margin-bottom: 14px;
}
.gnFix
{
	margin-left: 20px;
}
DIV.box-content2b
{
	height: 374px;
}
BODY
{
	background-color: #FFFFFF;
	color: #000;
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.3em;
	margin: 4px 0px 0px;
	padding: 0px;
	text-align: center;
	background-image: none !important;
	background-repeat: repeat-y;
	background-position: center;
}
#topline {
    top: -6px !important;
}