BODY
{
	background: #FFF url(../img/body_bkgd.png) repeat-x;
	color: #000;
	font-size: 11px;
	font: 1em Arial;
}
/*Sticky Footer*/
HTML, BODY, #wrapper
{
	height: 100%;
}
BODY>#wrapper
{
	height: auto;
	min-height: 100%;
}
#footer
{
	position: relative;
	margin-top: -110px;
/*negative value of footer height*/
	height: 100px;
	clear: both;
	background: #2C2C2C;
	width: 100%;
}
#footer_bkgd
{
	position: relative;
	margin-top: -20px;
/*negative value of footer height*/
	height: 110px;
	clear: both;
	background: #2C2C2C;
	width: 100%;
}
/*Opera Fix*/
BODY:before
{
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}
/*END Sticky Footer*/
A
{
	color: #A4BDCD;
	text-decoration: none;
}
A:visited, A:active
{
	color: #A4BDCD;
	text-decoration: none;
}
A:hover
{
	color: #333333;
	text-decoration: none;
	border-bottom: 2px solid #A4BDCD;
	padding-bottom: 0px;
}
H1#logo
{
	background: url(../img/logo.png) no-repeat 25px 25px;
	text-indent: -9999px;
	font: 1em sans-serif;
	padding: 25px 100px 38px 25px;
	margin-top: -33px;
	position: relative;
	z-index: 300;
}
H1
{
	font: bold 48px sans-serif;
	color: #262626;
	margin-bottom: 5px !important;
	padding-bottom: 10px;
	position: relative;
	z-index: 500;
	margin-top: -20px;
}
H1.lightbulb_icon
{
	background: url(../img/lightbulb_icon.png) no-repeat -13px 0px;
	padding-left: 60px;
	padding-top: 5px;
}
H3
{
	font: bold 24px sans-serif;
	color: #262626;
	border-bottom: 3px solid #A4BCCD;
	padding-bottom: 8px;
	margin-bottom: 15px;
}
H5
{
	font: bold 16px sans-serif;
	color: #262626;
	margin: 5px 0px 10px;
}
P
{
	font: inherit 14px sans-serif;
	color: #898080;
	line-height: 24px;
}
IMG
{
	padding: 10px;
}
.container_16
{
	/*[disabled]background:#FFF url(../img/16_col.gif) repeat-y;*/
	/*[disabled]margin-bottom:20px;*/
}
DIV#top_menu_background
{
	background: #2C2C2C;
	width: 100%;
	height: 25px;
	border-bottom: 1px solid #CCCCCC;
}
DIV#tabbed_menu_background
{
	background: #000000;
	width: 100%;
	height: 45px;
	position: absolute;
	top: 110px;
	z-index: 100;
}
DIV#callout_background
{
	background: #A4BCCD;
	width: 100%;
	height: 263px;
	position: absolute;
	top: 278px;
	z-index: 1;
	border-bottom: 3px solid #2C2C2C;
	border-top: 3px solid #2C2C2C;
}
UL#top_menu
{
	height: 25px;
	margin-top: -43px;
	padding: 20px 0px 3px;
	display: block;
	list-style: none;
	font: 12px sans-serif;
}
UL#top_menu LI.main_nav
{
	width: 45px;
	float: left;
	display: inline;
	list-style: none;
	color: #FFFFFF;
	padding: 0px 0px 0px 5px;
	text-align: right;
	z-index: 1000;
	position: relative;
}
UL#top_menu LI.main_nav A
{
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 5px;
	font-weight: bold;
	z-index: 1000;
}
UL#top_menu LI.main_nav A:hover
{
	text-decoration: none;
	color: #CCCCCC;
	border-bottom: 0px solid #000000;
}
UL#top_menu LI.main_nav UL
{
	list-style: none;
	margin-top: 6px;
	margin-left: -35px;
	display: none;
}
UL#top_menu LI.main_nav UL LI
{
	width: 125px;
	background: #2C2C2C;
	border: 1px solid #CCCCCC;
	padding: 5px;
	display: block;
	z-index: 1000;
	position: relative;
	text-align: left;
	font: 12px sans-serif;
	z-index: 999;
}
DIV#tabbed_menu UL
{
	padding: 17px 0px 0px;
	list-style: none;
	position: relative;
	z-index: 700;
}
DIV#tabbed_menu UL LI
{
	display: inline;
	border-left: 1px solid #645F5F;
	height: 35px;
	padding: 7px 0px 10px;
	margin-right: -15px;
}
DIV#tabbed_menu UL LI.tabbed_menu_last
{
	border-right: 1px solid #645F5F;
	padding: 7px 10px 10px 0px;
}
DIV#tabbed_menu UL LI A, DIV#tabbed_menu UL LI A:visited
{
	color: #6F6969;
	font: bold 14px sans-serif;
}
DIV#tabbed_menu UL LI A.active
{
	color: #FFFFFF;
}
DIV#tabbed_menu UL LI A:hover
{
	color: #FFFFFF;
	border-bottom: 0px solid #000000;
}
DIV#tabbed_menu UL LI.home_icon_off
{
	background: url(../img/home_icon_off.png) no-repeat 10px 1px;
	padding-left: 45px;
}
DIV#tabbed_menu UL LI.home_icon_on
{
	background: url(../img/home_icon_on.png) no-repeat 10px 1px;
	padding-left: 45px;
}
DIV#tabbed_menu UL LI.lightbulb_icon_off
{
	background: url(../img/lightbulb_icon_off.png) no-repeat 10px 2px;
	padding-left: 45px;
}
DIV#tabbed_menu UL LI.lightbulb_icon_on
{
	background: url(../img/lightbulb_icon_on.png) no-repeat 10px 2px;
	padding-left: 45px;
}
DIV#tabbed_menu UL LI.bubble_icon_off
{
	background: url(../img/bubble_icon_off.png) no-repeat 10px 1px;
	padding-left: 55px;
}
DIV#tabbed_menu UL LI.bubble_icon_on
{
	background: url(../img/bubble_icon_on.png) no-repeat 10px 1px;
	padding-left: 55px;
}
DIV#tabbed_menu UL LI.tools_icon_off
{
	background: url(../img/tools_icon_off.png) no-repeat 10px 0px;
	padding-left: 50px;
}
DIV#tabbed_menu UL LI.tools_icon_on
{
	background: url(../img/tools_icon_on.png) no-repeat 10px 0px;
	padding-left: 50px;
}
DIV#tabbed_menu UL LI.infobubble_icon_off
{
	background: url(../img/infobubble_icon_off.png) no-repeat 10px 1px;
	padding-left: 55px;
}
DIV#tabbed_menu UL LI.infobubble_icon_on
{
	background: url(../img/infobubble_icon_on.png) no-repeat 10px 1px;
	padding-left: 55px;
}
DIV#tabbed_submenu_background
{
	background: #81ABC8;
	height: 22px;
	width: 100%;
	position: absolute;
	top: 154px;
	border-bottom: 3px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}
DIV#tabbed_submenu
{
	background: #81ABC8;
	color: #FFFFFF;
	position: relative;
	height: 21px;
	clear: both;
	margin-top: -5px;
	margin-bottom: 5px;
	padding-left: 0px;
	z-index: 500;
}
DIV#tabbed_submenu UL
{
	list-style: none;
	display: inline;
}
DIV#tabbed_submenu UL LI
{
	display: inline;
	position: relative;
	z-index: 500;
	/*[disabled]border-right:1px solid #A2A0A0;*/
	padding: 0px 10px 0px 0px;
	/*[disabled]margin-right:-15px;*/
}
DIV#tabbed_submenu UL LI.first
{
	/*[disabled]border-left:1px solid #A2A0A0;*/
	padding-left: 0px;
}
DIV#tabbed_submenu UL LI.last
{
	/*[disabled]border-right:1px solid #A2A0A0;*/
	/*[disabled]padding-right:15px;*/
}
DIV#tabbed_submenu UL LI A
{
	color: #FFFFFF;
	font: normal bold 14px sans-serif;
}
DIV#tabbed_submenu UL LI A:visited
{
	color: #FFFFFF;
}
DIV#tabbed_submenu UL LI.current_submenu A
{
	font-weight: bold;
	color: #FFFFFF;
	/*[disabled]border-bottom:2px solid #000000;*/
	/*[disabled]padding-bottom:3px;*/
}
DIV#tabbed_submenu UL LI A:hover
{
	color: #2C2C2C;
	/*[disabled]border-bottom:2px solid #000000;*/
	/*[disabled]padding-bottom:3px;*/
}
DIV#print_this_page
{
	color: #9C9C9C;
	font: 11px sans-serif;
	padding: 15px 0px 10px;
}
DIV#print_this_page A
{
	color: #9C9C9C;
	font: 11px sans-serif;
	padding: 15px 0px 0px;
	text-decoration: none;
}
DIV#print_this_page A:hover
{
	color: #333333;
	text-decoration: none;
}
DIV#print_this_page SPAN
{
	background: url(../img/print_icon.png) no-repeat;
	text-indent: -9999px;
	display: block;
	padding: 5px 0px;
	margin: -18px 0px 0px 80px;
}
P.callout
{
	font-size: 24px;
	margin-bottom: 16px;
	color: #2C2C2C;
	margin-top: 20px;
	position: relative;
	z-index: 1000;
	line-height: 30px !important;
}
DIV#footer
{
	padding: 10px 0px 0px;
}
DIV#footer UL
{
	margin-top: 5px;
}
DIV.padding_top_30
{
	padding-top: 30px;
}
DIV#footer UL LI
{
	display: inline;
	padding: 0px;
}
DIV#footer UL LI A, DIV#footer UL LI
{
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 5px;
	font-weight: bold;
}
DIV#footer UL LI A:hover
{
	text-decoration: none;
	color: #D3CFCF;
	border-bottom: 0px solid #000000;
}
DIV#ncoa_logo
{
	text-indent: -9999px;
	background: url(../img/ncoa_logo.png) no-repeat 25px 25px;
	padding: 30px 0px 25px;
	margin-top: -10px;
}
DIV#copyright
{
	color: #FFFFFF;
	font: 11px sans-serif;
	text-align: center;
}
.attentionText
{
	font: bold 10px sans-serif;
	padding: 0px 0px 0px 10px;
}
DIV.learn_more
{
	float: right;
	border: 3px solid #CCCCCC;
	font: bold 14px sans-serif;
}
DIV.learn_more_header
{
	background-color: #262626;
	color: #FFFFFF;
	padding: 10px 35px 10px 25px;
	font: bold 18px sans-serif;
	margin-bottom: 10px;
}
DIV.learn_more P
{
	padding: 0px 25px;
}
IMG.image_float_left
{
	float: left;
	padding: 5px 15px 0px;
	position: relative;
	z-index: 1000;
	/*[empty]border:;*/
}
IMG.image_float_right
{
	float: right;
	padding: 5px 15px 0px;
	position: relative;
	z-index: 1000;
}
