/*
Header
------  */

#header {
	position: relative;
	text-align: left;
	height: 167px;
	z-index: 2; /* should go on container*/
}

#satellites ul, #satellites li {
	margin: 0px;
	padding: 0px;
}

#satellites {
	margin: 0px 0px 0px 20px;
}

#satellites ul {
	list-style-type: none;
}

#satellites li {
	float: left;
}

#satellites li a {
	display: block;
	height: 42px;
}

#satellites li a span {
	display: none;
}

li#dotOrg a {
	width: 94px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/hat_dotOrg_s18.gif);
}

li#magazine a {
	width: 124px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/hat_magazine_s18.gif);
}

li#bulletin a {
	width: 91px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/hat_bulletin_s18.gif);
}

li#segunda a {
	width: 149px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/hat_segunda_s18.gif);
}

li#benefits a {
	width: 125px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/hat_benefits_s18.gif);
}

li#foundation a {
	width: 109px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/hat_foundation_s18.gif);
}

li#dwf a {
	width: 109px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/hat_dwf_s18.gif);
}

#satellites li a:hover, #satellites li a.active {
	background-position: 0px -42px;
}

#textResize {
	position: absolute;
	top: 0px;
	left: 804px;
}  

#textResize img {  
	display: block;
	float: left;
}

#textResize a {
	display: block;
	float: left;
	width: 25px;
	height: 42px;
}

#textResize a#small {
	background-image: url(https://assets.aarp.org/aarp.org_/build/header/textSize_small_bg.gif);
}

#textResize a#medium {
	background-image: url(https://assets.aarp.org/aarp.org_/build/header/textSize_medium_bg.gif);
}

#textResize a#large {
	background-image: url(https://assets.aarp.org/aarp.org_/build/header/textSize_large_bg.gif);
}

#logoLockup {
	position: absolute;
	left: 21px;
	top: 62px;
}

#logoLockup img {
	border: none;
}

#searchHeader {
	position: absolute;
	left: 444px;
	top: 68px;
}

#searchHeader input#searchTerms {
	width: 398px;
	font-family: Arial, Verdana, "MS Trebuchet", sans-serif;
	padding: 2px;
	font-size: 15px;
	color: #949189;
}

#searchHeader input#searchAction {
	vertical-align: middle;
	margin-bottom: 5px;
}

#channelNav {
	position: absolute;
	top: 120px;
	left: 20px;
	width: 924px;
}

#channelNav ul, #channelNav li {
	margin: 0px;
	padding: 0px;
}

#channelNav ul, #healthSubNav ul, #moneySubNav ul, #leisureSubNav ul,
#makeadifferenceSubNav ul, #familySubNav ul, #communitySubNav ul, #membershipSubNav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#channelNav li, #healthSubNav li, #moneySubNav li, #leisureSubNav li, 
#makeadifferenceSubNav li, #familySubNav li, #communitySubNav li, #membershipSubNav li {
	float: left;
}

#channelNav li a {
	display: block;
	height: 34px;
}

#healthSubNav, #moneySubNav, #leisureSubNav, #makeadifferenceSubNav, #familySubNav,
#communitySubNav, #membershipSubNav {
	position: absolute;
	top: 152px;
	left: 20px;
	width: 924px;
	background-image: url(https://assets.aarp.org/aarp.org_/build/header/subNav_health_bg.gif);
	height: 29px;
}

#moneySubNav {
	background-image: url(https://assets.aarp.org/aarp.org_/build/header/subNav_money_bg.gif);
}

#leisureSubNav {
	background-image: url(https://assets.aarp.org/aarp.org_/build/header/subNav_leisure_bg.gif);
}

#makeadifferenceSubNav {
	background-image: url(https://assets.aarp.org/aarp.org_/build/header/subNav_contribute_bg.gif);
}

#familySubNav {
	background-image: url(https://assets.aarp.org/aarp.org_/build/header/subNav_family_bg.gif);
}

#communitySubNav {
	background-image: url(https://assets.aarp.org/aarp.org_/build/header/subNav_community_bg.gif);
}

#membershipSubNav {
	background-image: url(https://assets.aarp.org/aarp.org_/build/header/subNav_membership_bg.gif);
}

#healthSubNav li a, #moneySubNav li a, #leisureSubNav li a, #makeadifferenceSubNav li a,
#familySubNav li a, #communitySubNav li a, #membershipSubNav li a {
	display: block;
	height: 29px;
}

#channelNav li a span, #healthSubNav li a span, #moneySubNav li a span, #leisureSubNav li a span,
#makeadifferenceSubNav li a span, #familySubNav li a span, #communitySubNav li a span, #membershipSubNav li a span {
	display: none;
}

#channelNav li a:hover {
	background-position: 0px -34px;
}

#channelNav li a.active, #channelNav li a.currentChannel {
	background-position: 0px -68px;
}

#healthSubNav li a:hover, #moneySubNav li a:hover, #leisureSubNav li a:hover,
#makeadifferenceSubNav li a:hover, #familySubNav li a:hover, #communitySubNav li a:hover,
#membershipSubNav li a:hover {
	background-position: 0px -29px;
}

#healthSubNav li a.active, #moneySubNav li a.active, #leisureSubNav li a.active,
#makeadifferenceSubNav li a.active, #familySubNav li a.active, #communitySubNav li a.active,
#membershipSubNav li a.active {
	background-position: 0px -58px;
}

li#health a {
	width: 113px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/b2s16r4924/navChannel_health.gif);
}

li#money a {
	width: 107px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/b2s16r4924/navChannel_money.gif);
}

li#leisure a {
	width: 118px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/b2s16r4924/navChannel_leisure.gif);
}

li#makeadifference a {
	width: 159px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/b2s16r4924/navChannel_contribute.gif);
}

li#family a {
	width: 115px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/b2s16r4924/navChannel_family.gif);
}

li#community a {
	width: 159px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/b2s16r4924/navChannel_community.gif);
}

li#membership a {
	width: 153px;
	background-image: url(https://assets.aarp.org/aarp.org_/images/header/b2s16r4924/navChannel_membership.gif);
}


/*
Footer
------  */

#footer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}	

#fTopLinks {
	font-size: 12px;
	font-weight: bold;
}

#fTopLinks a {
	padding: 0px 7px;
}

#fBottomLinks {
	font-size: 12px;
	padding: 8px 0px;
}

#fBottomLinks a {
	padding: 0px 7px;
}

#fCopyright {
	font-size: 11px;
	margin-top: 20px;
	color: #666666;
}

#fCopyright a {
	color: #666666;
}

#marginChangedToRemoveWhiteSpace{
margin-top: -35px;
}
