#menu_home a {
	width: 154px;
	font-size: 1em; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
}

#menu_homeh a {
width: 154px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
}

#menu_find a {
width: 154px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
}

#menu_findh a {
width: 154px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
}

#menu_about a {
width: 154px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
}

#menu_abouth a {
width: 154px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
}


#menu_news a {
width: 154px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
}

#menu_newsh a {
width: 154px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
}

#menu_partners a {
width: 154px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
}

#menu_partnersh a {
width: 154px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
}

.partnertable {
width: 364px;
}

.partners3 
{

width: 198px;

}