BODY, HTML
{
	margin: 4px 0px 0px;
	padding: 0px;
	text-align: center;
	background-color: #BDCFC8;
	line-height: 1.3em;
}
.text1
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	margin: 0px 0px 12px;
	padding: 0px;
}
.text2
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	margin: 0px 0px 12px;
	padding: 0px;
}
.text3
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.85em;
	margin: 0px 0px 12px;
	padding: 0px;
}
.printtd
{
	padding: 20px;
}
.topheader
{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #FFF;
	background: url(../img/bculogo2.gif);
	background-repeat: no-repeat;
	width: 770px;
	height: 95px;
}
.topheader2
{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #FFF;
	background: url(../img/bculogo3.gif);
	background-repeat: no-repeat;
	width: 770px;
	height: 95px;
}
.bcu
{
	display: none;
}
.bculogo
{
	float: left;
	display: inline;
	width: 342px;
	margin: 0px;
	padding: 0px 0px 0px 8px;
}
.asof1
{
	padding: 22px 0px 0px;
}
.asofh2
{
	display: inline;
	font-size: 1.1em;
	color: #000;
	font-family: georgia, "times new roman", times, serif;
	padding: 0px;
}
.container1
{
	margin: 0 auto;
/*align for good browsers*/
	text-align: left;
/*counter the body center*/
	width: 770px;
	border-left: 1px solid #000000;
	border-left-color: #042155;
	border-left-style: solid;
	border-right: 1px solid #000000;
	border-right-color: #042155;
	border-right-style: solid;
	border-top: 1px solid #000000;
	border-top-color: #042155;
	border-top-style: solid;
	border-bottom: 1px solid #000000;
	border-bottom-color: #042155;
	border-bottom-style: solid;
	background-color: #FFFFFF;
}
.header1
{
	background-image: none;
	background-color: #FFF;
	margin: 0 auto;
/*align for good browsers*/
	text-align: left;
/*counter the body center*/
	width: 770px;
}
.contentTable
{
	width: 770px;
}
.container2
{
	margin: 0 auto;
/*align for good browsers*/
	text-align: left;
/*counter the body center*/
	width: 770px;
}
IMG
{
	border: 0px solid #000000;
	padding: 0px;
	margin: 0px;
}
.newsdate
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	margin: 0px 0px 12px;
	padding: 0px;
	line-height: 1.2em;
}
.uldefault
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
}
.standardtext
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
}
.turboapp
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.9em;
	margin: 0px;
	padding: 0px;
	line-height: 1.2em;
}
H3
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1em;
	margin: 12px 0px;
	padding: 0px;
	line-height: 1.2em;
	font-weight: bold;
}
.h3b
{
	font-size: 1em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px 0px 12px;
	padding: 0px;
	text-decoration: none;
}
.news UL, .news LI
{
	font-size: 14px;
	font-family: verdana, arial, helvetica, sans-serif;
}
.olli
{
	font-family: verdana, arial, helvetica, sans-serif;
	padding: 12px 0px;
}
.newsdate
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.9em;
	padding: 0px;
	letter-spacing: -0.05em;
	font-weight: bold;
	color: #012A5C;
}
.p2
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	line-height: 1.2em;
/*letter-spacing: .01em;*/
}
.logo
{
	float: left;
	width: 300px;
	height: 66px;
	margin: 16px 8px 8px;
	padding: 0px;
}
.partnerstext
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.75em;
	line-height: 1.3em;
}
BODY
{
	font-size: 13px;
	color: #000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.3em;
}
.h1, .h2
{
	font-size: 1.3em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px 0px 12px;
	padding: 0px;
}
h1.benefitsCheckUpTitle
{
	font-size : 1.8em;
	color: #012A5C;
}
.h3
{
	font-size: 1.2em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px 0px 12px;
	padding: 0px;
}
.h2strong
{
	color: #01295B;
	font-weight: bold;
}
.greenback
{
	background-color: #C6D7D1;
	margin: 0 auto;
/*align for good browsers*/
	text-align: left;
/*counter the body center*/
	width: 770px;
}
.bold
{
	font-size: 1.1em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
}
.clientsh3
{
	font-size: 14px;
	color: #666;
	font-family: georgia, "times new roman", times, serif;
	font-weight: bold;
	padding: 0px 4px;
	margin: 8px 6px;
}
BLOCKQUOTE
{
	margin: 0;
	font-size: 14px;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	padding: 0px 10px 10px;
}
BODY
{
	font-family: verdana, arial, helvetica, sans-serif;
}
.oe
{
	border-right: 1px solid #000000;
	border-right-style: solid;
	border-right-color: #FFF;
}
.icon
{
	float: left;
	margin: 0px;
	padding: 0px;
}
#icon1
{
	float: left;
	width: 31px;
}
/*hide from macie \*/
* HTML #icon1
{
	margin-right: -3px;
}
* HTML .apply
{
	margin-left: 31px;
}
/*end hide*/
* HTML .apply2
{
	margin-left: 31px;
}
/*end hide*/
#rightcol_sponsors
{
	width: 100%;
	margin: 8px 0px;
	background-color: #FFFFFF;
	padding: 8px 0px;
	border-top: 1px solid #606668;
	border-bottom: 1px solid #606668;
	text-align: center;
}
.anim
{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.contentcol
{
	width: 620px;
	padding: 18px 20px;
	margin: 0px;
	background-color: #FFF;
	background: #FFF;
}
.contentcol1
{
	width: 620px;
	padding: 18px 20px;
	margin: 0px;
	background-color: #FFF;
	background: #FFF;
}
.contentcol2
{
	padding: 8px 0px 8px 8px;
	margin: 0px;
	background-color: #FFF;
	background: #FFF;
}
.contentcol3
{
	padding: 18px 20px;
	margin: 0px;
	background-color: #FFF;
	background: #FFF;
}
.nomargin
{
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
}
.contenttitle
{
	display: block;
	width: 770px;
	height: 44px;
	background-color: #012156;
	margin: 0px;
}
.contenttitle0
{
	width: 770px;
	height: 4px;
	background-color: #012156;
	margin: 0px;
	padding: 0px;
	clear: both;
	font-size: 0px;
}
.title, H1.title
{
	padding: 12px 12px 0px;
	background-color: #012156;
	color: #FFF;
	font-family: georgia, "times new roman", times, serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0px 0px 12px;
	text-decoration: none;
	letter-spacing: -0.04em;
}
.reg
{
	font-size: 0.5em;
}
.smallreg
{
	color: #FFFFFF;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.5em;
}
.helped
{
	padding: 22px 0px 0px 80px;
}
.clear
{
	clear: both;
}
.clear3
{
	clear: both;
	font-size: 0px;
	height: 0px;
}
.clients
{
	font-weight: normal;
	font-size: 16px;
	background-color: #D6D8D9;
	width: 150px;
	border-right: 1px solid #000000;
	border-right-color: #606668;
	border-right-style: solid;
	padding: 0px;
}
.line1
{
	background-image: url(../img/line.gif);
	background-repeat: repeat-x;
	height: 1px;
	margin: 8px 0 8px 32px;
	padding: 0;
	width: 336px;
}
.centercol
{
	width: 400px;
	padding: 20px 0px 0px 8px;
	margin: 0px;
	background-color: #FFF;
}
.apply
{
	padding: 0px;
	width: 326px;
	margin: 0px 0px 0px 31px;
}
.apply2
{
	padding: 0px;
	width: 95%;
	margin: 0px 0px 0px 31px;
}
.rightcol
{
	border-left: 1px solid #000000;
	border-left-color: #606668;
	border-left-style: solid;
	width: 220px;
	background-color: #FEFACB;
	padding: 6px;
}
.partners
{
	font-size: 1em;
	border-top: 1px solid #000000;
	border-top-color: #BEBB97;
	border-top-style: solid;
	border-right: 1px solid #000000;
	border-right-color: #7F7D65;
	border-right-style: solid;
	border-bottom: 1px solid #000000;
	border-bottom-color: #7F7D65;
	border-bottom-style: solid;
	border-left: 1px solid #000000;
	border-left-color: #BEBB97;
	border-left-style: solid;
	background-color: #FEFEED;
	padding: 6px;
}
.footer
{
	background-color: #012156;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 25px;
}
.footer1
{
	float: left;
	padding: 4px 15px;
	font-size: 0.85em;
	color: #FFFFFF;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal;
}
.footer2
{
	float: right;
	padding: 4px 15px;
	font-size: 0.85em;
	color: #FFFFFF;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal;
}
A.footerlink:link
{
	font-size: 1em;
	color: #FFFFFF;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}
A.footerlink:visited
{
	font-size: 1em;
	color: #FFFFFF;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}
A.footerlink:hover
{
	font-size: 1em;
	color: #FFFFFF;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: underline;
	font-weight: normal;
}
A.footerlink:active
{
	font-size: 1em;
	color: #FFFFFF;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: underline;
	font-weight: normal;
}
.footerblk
{
	font-size: 0.625em;
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal;
}
A.footerlinkblk:link
{
	font-size: 0.625em;
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}
A.footerlinkblk:visited
{
	font-size: 0.625em;
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}
A.footerlinkblk:hover
{
	font-size: 0.625em;
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: underline;
	font-weight: normal;
}
A.footerlinkblk:active
{
	font-size: 0.625em;
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: underline;
	font-weight: normal;
}
.contact
{
	display: block;
	float: right;
}
.partners2
{
	display: block;
	float: left;
	border-top: 1px solid #000000;
	border-top-color: #BEBB97;
	border-top-style: solid;
	border-right: 1px solid #000000;
	border-right-color: #7F7D65;
	border-right-style: solid;
	border-bottom: 1px solid #000000;
	border-bottom-color: #7F7D65;
	border-bottom-style: solid;
	border-left: 1px solid #000000;
	border-left-color: #BEBB97;
	border-left-style: solid;
	background-color: #FEFEED;
	width: 230px;
	padding: 8px;
	margin: 16px 0px;
}
.casestudies
{
	float: right;
	width: 310px;
	padding: 8px;
	margin: 4px 0px;
}
A.newslink:link, A.newslink:visited
{
	font-size: 14px;
	color: #012A5C;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}
A.newslink:hover, A.newslink:active
{
	text-decoration: underline;
}
A.newslink2:link, A.newslink2:visited
{
	color: #012A5C;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}
A.newslink2:hover, A.newslink2:active
{
	text-decoration: underline;
}
A.helplink:link, A.helplink:visited
{
	font-size: 14px;
	color: #012A5C;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
A.helplink:hover, A.helplink:active, A.helplink:hover, A.helplink:active
{
	font-size: 0.9em;
	color: #012A5C;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
}
A.linkbutton:link, A.linkbutton:visited
{
	margin: 0;
	padding: 2px 13px;
	color: #002155;
	background-color: #A0D9C2;
	font-size: 1em;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	border: 1px solid #000000;
	border-style: solid;
	border-color: #606668;
	font-weight: bold;
	background-image: url(../img/button1.gif);
	background-repeat: no-repeat;
}
A.linkbutton:hover, A.linkbutton:hover
{
	background: #329;
	color: #002155;
	background-color: #FFF;
	background-image: url(../img/button2.gif);
	background-repeat: no-repeat;
}
.h3
{
	font-size: 1.2em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px 0px 12px;
	padding: 0px;
	letter-spacing: -0.05em;
}
A.h1link:link, A.h1link:visited
{
	font-size: 1.2em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px 0px 16px;
	padding: 0px;
	text-decoration: none;
	letter-spacing: -0.05em;
	line-height: 1em;
}
A.h1link:hover, A.h1link:hover
{
	font-size: 1.2em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px 0px 12px;
	padding: 0px;
	text-decoration: underline;
}
.popup
{
	padding: 20px;
	font-size: 1em;
	background: #FFF;
	background-color: #FFF;
	font-family: georgia, "times new roman", times, serif;
}
.ppopup
{
	font-size: 1em;
	font-family: georgia, "times new roman", times, serif;
	background: #FFF;
	background-color: #FFF;
}
.hpopup
{
	font-size: 1.8em;
	font-family: georgia, "times new roman", times, serif;
}
.closefontclass
{
	font-family: georgia, "times new roman", times, serif;
	font-size: 1em;
	font-weight: bold;
}
.printfontclass
{
	font-family: georgia, "times new roman", times, serif;
	font-size: 1em;
	font-weight: bold;
}
.captionfontclass
{
	font-family: georgia, "times new roman", times, serif;
	font-size: 1em;
	font-weight: bold;
}
.cgclass
{
	background-color: #A0D9C2;
	border-bottom: 0px solid #000000;
	border-bottom-color: #002155;
	border-bottom-style: solid;
	font-family: georgia, "times new roman", times, serif;
	font-size: 1em;
	font-weight: bold;
}
.fgclass
{
	background-color: #FFF;
}
.bgclass
{
	background-color: #A0D9C2;
}
.b1
{
	color: #002155;
	background-color: #A0D9C2;
	font-size: 1em;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	border: 1px solid #000000;
	border-style: solid;
	border-color: #606668;
	font-weight: bold;
	background-image: url(../img/button1.gif);
	background-repeat: no-repeat;
}
A.button1:link, A.button1:visited
{
	padding: 2px 8px;
	color: #002155;
	background-color: #FFCC66;
	font-size: 1em;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	border-left: 1px solid #000000;
	border-left-style: solid;
	border-left-color: #000;
	border-top: 1px solid #000000;
	border-top-style: solid;
	border-top-color: #000;
	border-bottom: 1px solid #000000;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-right: 1px solid #000000;
	border-right-style: solid;
	border-right-color: #000;
	font-weight: bold;
}
A.button1:hover, A.button1:active
{
	padding: 2px 8px;
	color: #002155;
	background-color: #FFE2A7;
	font-size: 1em;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	border-left: 1px solid #000000;
	border-left-style: solid;
	border-left-color: #000;
	border-top: 1px solid #000000;
	border-top-style: solid;
	border-top-color: #000;
	border-bottom: 1px solid #000000;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-right: 1px solid #000000;
	border-right-style: solid;
	border-right-color: #000;
}
A.button2:link, A.button2:visited
{
	padding: 2px 8px;
	color: #002155;
	background-color: #A4C3E2;
	font-size: 1em;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	border-left: 1px solid #000000;
	border-left-style: solid;
	border-left-color: #000;
	border-top: 1px solid #000000;
	border-top-style: solid;
	border-top-color: #000;
	border-bottom: 1px solid #000000;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-right: 1px solid #000000;
	border-right-style: solid;
	border-right-color: #000;
	font-weight: bold;
}
A.button2:hover, A.button2:active
{
	padding: 2px 8px;
	color: #002155;
	background-color: #C9DBEE;
	font-size: 1em;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	border-left: 1px solid #000000;
	border-left-style: solid;
	border-left-color: #000;
	border-top: 1px solid #000000;
	border-top-style: solid;
	border-top-color: #000;
	border-bottom: 1px solid #000000;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-right: 1px solid #000000;
	border-right-style: solid;
	border-right-color: #000;
}
.error1
{
	color: #FF0000;
	font-weight: bold;
}
.ulec
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
}
.partnertable
{
	width: 364px;
}
.partners3
{
	font-family: verdana, arial, helvetica, sans-serif;
	border-top: 1px solid #000000;
	border-top-color: #BEBB97;
	border-top-style: solid;
	border-right: 1px solid #000000;
	border-right-color: #7F7D65;
	border-right-style: solid;
	border-bottom: 1px solid #000000;
	border-bottom-color: #7F7D65;
	border-bottom-style: solid;
	border-left: 1px solid #000000;
	border-left-color: #BEBB97;
	border-left-style: solid;
	background-color: #FEFEED;
	width: 180px;
	padding: 8px;
	margin: 0px 0px 8px;
}
H1.sponsor_h1
{
	border-bottom: 2px solid #012A5C;
	font-size: 1.3em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px 0px 12px;
	padding: 4px;
	width: 100%;
}
H2.sponsor_h2
{
	border-bottom: 2px solid #E6E6E6;
	font-size: 1em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px;
	padding: 4px;
	width: 100%;
}
.sponsor_head
{
	background-repeat: repeat-y;
	background-image: url(../img/partners/gradient.gif);
	background-position: center;
	border: 0px none #FFF;
	width: 556px;
	margin: 0px 0px 12px;
	padding: 2px 2px 5px 5px;
}
.sponsor_subhead
{
	background-repeat: repeat-x;
	background-image: url(../img/line.gif);
	background-position: bottom;
	border: 0px none #FFF;
	width: 556px;
	margin: 0px 0px 12px;
}
H1.sponsor_h1
{
	letter-spacing: -0.05em;
	font-size: 1.2em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	border: 0px none #FFF;
	padding: 0px;
	margin: 0px;
}
H2.sponsor_h2
{
	font-size: 0.9em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px;
	padding: 2px 2px 5px 5px;
	border: 0px none #FFF;
	width: 556px;
}
.img1
{
	margin: 8px 32px 16px;
}
.snap_icon
{
	margin: 4px 0px 0px;
}
.snap_icon2
{
	margin: 0px 2px 0px 0px;
}
A.snapLink
{
	width: 200px !important;
}
A.snapLink:link, A.snapLink:visited
{
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	color: #0033FF;
}
A.snapLink:hover, A.snapLink:active
{
	text-decoration: underline;
	color: #0033FF;
}
DIV.online_app
{
	width: 220px !important;
}
H1.snapH1
{
	font-size: 1.8em;
	letter-spacing: -0.02em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 12px 0px;
	padding: 0px;
	width: 385px;
	float: left;
	clear: both;
}
H2.snapH2, .factSheetH2
{
	font-size: 18px;
	color: #012A5C;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	letter-spacing: -0.05em;
}
P.snap
{
	margin: 0px 0px 16px;
	padding: 0px;
}
.snapLegend
{
	font-size: 14px;
}
.snapLegend2
{
	font-size: 0.85em;
}
.snapTable
{
	margin: 0px 16px 16px;
	width: 720px;
}
.snapLeftCol
{
	padding-right: 16px;
	width: 420px;
}
.snapRightCol
{
	padding: 6px 12px 8px;
	background-color: #D7D7D7;
	width: 284px;
}
.food_small
{
	float: left;
	margin: 2px 2px 0px 0px;
}
.sponsorForm
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
}
.sponsorFormLabel
{
	width: 400px;
	display: block;
}
.partners A:link, .partners A:visited
{
	color: #002155;
	text-decoration: none;
}
.partners A:hover, .partners A:active
{
	text-decoration: underline;
}
.partners UL
{
	margin: 0px;
	padding-left: 16px;
	list-style: square;
}
.partners UL LI
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	margin-bottom: 8px;
	color: #BDCFC8;
}
A.h1linkRightcol:link, A.h1linkRightcol:visited
{
	text-decoration: underline;
	font-size: 1.2em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px 0px 16px;
	padding: 0px;
	letter-spacing: -0.05em;
	line-height: 1.2em;
}
A.h1linkRightcol:hover, A.h1linkRightcol:active
{
	text-decoration: underline;
	font-size: 1.2em;
	line-height: 1.2em;
}
A.leftColSponsorLink:link, A.leftColSponsorLink:visited
{
	text-decoration: underline;
	color: #002155;
}
A.leftColSponsorLink:hover, A.leftColSponsorLink:active
{
	text-decoration: underline;
}
#form1 LABEL.error
{
	padding-left: 4px;
	color: #FF0000;
	font-weight: bold;
}
.epName
{
	font-weight: bold;
	font-family: Arial;
	font-size: 16px;
}
H1.locatorH1
{
	font-size: 1.6em;
	letter-spacing: -0.02em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 12px 0px;
	padding: 0px;
	text-align: center;
}
H2.locatorH2
{
	font-size: 1.3em;
	color: #012A5C;
	font-family: georgia, "times new roman", times, serif;
	font-style: normal;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.buttonLeft
{
	float: left;
}
.buttonRight
{
	float: right;
}
.appformsOuter
{
	margin: 0px;
	width: 256px;
	float: right;
	padding: 4px 0px 8px 16px;
	display: block;
}
.appforms
{
	font-size: 12px;
	background-color: #E8E8E8;
	padding: 8px 8px 0px;
	border: 1px solid #CCC;
}
.appforms UL, .appforms LI
{
	margin-left: 8px;
	padding: 0px 0px 4px;
}
.text1fact
{
	/*[disabled]font-family:Arial, Helvetica, sans-serif;*/
	/*[disabled]font-size:12px;*/
	/*[disabled]margin:0px 0px 12px;*/
	/*[disabled]padding:0px;*/
}
DIV.entry_point
{
	/*[disabled]font-size:16px;*/
	margin: -15px 0px 0px;
	padding: 15px 0px;
	/*[disabled]font-family:arial;*/
}
DIV.screeningText UL
{
	margin: 10px 0px;
}
DIV#snap_left_col
{
	float: left;
	/*[disabled]border:1px solid #000000;*/
	width: 710px;
}
DIV#snap_right_col
{
	float: right;
	/*[disabled]border:1px solid #000000;*/
	/*[disabled]position:relative;*/
	padding: 10px 0px 10px 10px;
	width: 309px;
}
DIV#img_apply_gif IMG
{
	margin: 0px;
	padding: 0px;
}
TD.img_apply_gif
{
	/*[disabled]width:24px;*/
}
A.img_apply_gif
{
	width: 24px !important;
	margin-right: 10px !important;
	padding-right: 0px !important;
}
