#menu_home A
{
	width: 69px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #A0D9C2;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_homeh A
{
	width: 69px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #FFF;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_find A
{
	width: 117px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #A0D9C2;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_findh A
{
	width: 117px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #FFF;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_about A
{
	width: 88px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #A0D9C2;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_abouth A
{
	width: 88px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #FFF;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_news A
{
	width: 60px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #A0D9C2;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_newsh A
{
	width: 60px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #FFF;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_partners A
{
	width: 83px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #A0D9C2;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_partnersh A
{
	width: 83px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #FFF;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_donate A
{
	width: 73px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #A0D9C2;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_donateh A
{
	width: 73px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #FFF;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_refer A
{
	width: 123px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #A0D9C2;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_referh A
{
	width: 123px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #FFF;
	padding: 5px 0px;
	border-top: 1px solid #042155;
	border-right: 1px solid #042155;
}
#menu_oe A
{
	width: 157px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #A0D9C2;
	padding: 5px 0px;
	border-top: 1px solid #042155;
}
#menu_oeh A
{
	width: 157px;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	color: #002155;
	text-decoration: none;
	font-weight: bold;
	background: #FFF;
	padding: 5px 0px;
	border-top: 1px solid #042155;
}
.partnertable
{
	width: 364px;
}
.partners3
{
	width: 198px;
}
.line1
{
	padding: 0px;
	margin: 8px 0px 0px 32px;
	width: 336px;
	background-repeat: repeat-x;
	background-image: url(../img/line.gif);
	height: 1px;
}
.line2
{
	margin: 8px 0px 0px 32px;
	width: 95%;
	background-repeat: repeat-x;
	background-image: url(../img/line.gif);
	height: 1px;
}
DIV#web_resource_link
{
	margin: -2px -8px 0px 0px;
}
DIV.screeningText UL
{
	margin: 10px 0px 15px 50px;
}
A.img_apply_gif
{
	width: 24px !important;
	padding: 0px 15px 0px 0px;
}
