#menu0 {
width: 770px;
padding:0px 0px 0px 0px;
border-top: 0px;
border-top-style: solid;
border-top-color: #042155;
background: #002155;
background-color: #bdcfc8;
height: 26px;
background-image: url(../img/menuback.gif);
}


#globalnav {
margin: 0 auto 0 auto;
	padding:0px 0px;
	margin:0 0 0 0;
	list-style:none;
	display:inline;
	
}

#globalnav li {
	float:left;
	padding:0px 0px;
	list-style:none;
	display:inline;
	
}


#menu_home a:hover,
#menu_home a:active,

#menu_find a:hover,
#menu_find a:active,

#menu_about a:hover,
#menu_about a:active,

#menu_news a:hover,
#menu_news a:active,

#menu_partners a:hover,
#menu_partners a:active,

#menu_donate a:hover,
#menu_donate a:active,

#menu_refer a:hover,
#menu_refer a:active
{
	background:#fff;
}



#menu_home a {
width: 68px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_homeh a {
width: 68px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
	
}

#menu_find a {

width: 116px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_findh a {

width: 116px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_about a {
width: 87px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_abouth a {
width: 87px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_news a {
width: 59px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_newsh a {
width: 59px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_partners a {
width: 82px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;

	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_partnersh a {
width: 82px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;

	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_donate a {
width: 72px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_donateh a {
width: 72px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_refer a {
width: 122px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_referh a {
width: 122px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_oe a {
width: 157px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 0px;
	border-top:1px solid #042155;
	text-align:center;
}

#menu_oeh a {
width: 157px;
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 0px;
	border-top:1px solid #042155;
	text-align:center;
}

#t1 
{
background-color:#CC3333;
}

.line1 {
padding:0px;
margin: 20px 0px 10px 32px;
width:336px;
background-repeat:repeat-x;
background-image: url(../img/line.gif);
height: 1px;
	}	
	
.line2 {
margin: 20px 0px 10px 32px;
width: 95%;
background-repeat:repeat-x;
background-image: url(../img/line.gif);
height: 1px;
}	
