#menu0 {
width: 770px;
padding:0px 0px 0px 0px;
border-top: 0px;
border-top-style: solid;
border-top-color: #042155;
background-color: #fff;
height: 26px;

}


#globalnav {
margin: 0 auto 0 auto;
	padding:0px 0px;
	margin:0 0 0 0;
	list-style:none;
	display:inline;
	
}

#globalnav li {
	float:left;
	padding:0px 0px;
	list-style:none;
	display:inline;
	
}


#menu_home a:hover,
#menu_home a:active,

#menu_find a:hover,
#menu_find a:active,

#menu_about a:hover,
#menu_about a:active,

#menu_news a:hover,
#menu_news a:active,

#menu_partners a:hover,
#menu_partners a:active,

#menu_donate a:hover,
#menu_donate a:active,

#menu_refer a:hover,
#menu_refer a:active
{
	background:#fff;
}



#menu_home a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_homeh a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
	
}

#menu_find a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_findh a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_about a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_abouth a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_news a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_newsh a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_partners a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 10px;

	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_partnersh a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;

	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_donate a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_donateh a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_refer a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_referh a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_oe a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#A0D9C2;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#menu_oeh a {
font-size: 1em; 
font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	color:#002155;
	text-decoration:none;
	font-weight:bold;
	background:#fff;
	padding: 5px 10px;
	border-top:1px solid #042155;
	border-right:1px solid #042155;
	text-align:center;
}

#t1 
{
background-color:#CC3333;
}