/* CSS Document */

.topmenu {
	margin: 0px;
}

#globalnav {
	margin: 0px 20px;
	padding: 14px 20px 0 0px;
	list-style: none;
	background: #fff url(../img/partners/aarpkb/plmenu3.gif) repeat-x bottom left;
	float:left;
	width:902px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 

}

#globalnav li {
	float: left;
	margin: 0 4px 0 0;
}

#globalnav a {
	float: left;
	display: block;
	margin: 0px;
	padding: 4px 12px 6px 12px;
	color: #0072bc;
	text-decoration: none;
	border: 1px solid #0072bc;
	border-bottom: none;
	background: #fff url(../img/partners/aarpkb/plmenu4.gif) repeat-x bottom left;	


}

#globalnav a:hover {
	padding-bottom: 6px;
	background: #fff url(../img/partners/aarpkb/plmenu5.gif) repeat-x bottom left;	
}

#on a {
	font-weight:bold;
	background: #fff url(../img/partners/aarpkb/plmenu1.gif) repeat-x bottom left;
}


.plimage {
	margin-left: 16px; 
	margin-bottom:16px;
}

.text4 {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px; 
	margin: 0px 0px 10px 0px;
	padding:0px 0px 0px 34px;
}

.pdbBoxes {
/*	height: 460px;
}

div.box-content2b {
	height: 354px;
} */