UL#tabs
{
	margin: -1px 0px -9px 20px;
	list-style: none;
	padding: 10px 0px 0px;
}
TABLE TBODY TR TD.text1fact
{
	/*[disabled]margin:0px -135px 0px -22px;*/
}
DIV.screeningText DIV TABLE
{
	margin: 0px;
}
UL#tabs LI
{
	display: inline;
	background: #FFFFFF;
	padding: 0px;
	margin: 0px 2px 0px 0px;
}
UL#tabs LI A
{
	text-decoration: none;
	color: #6B4589;
	font: 14px Verdana;
}
TABLE#medication_table TR TD
{
	padding: 10px 0px 0px;
}
.box_color
{
	width: 300px;
	margin-bottom: 15px;
	background: #E1DAE7;
}
.box_color_dark
{
	width: 300px;
	margin-bottom: 15px;
	background: #E1DAE7;
}
SELECT#selDrugNm
{
	margin: 0px 0px 0px 30px;
	width: 250px;
}
SELECT#avlDrugNm
{
	margin: 0px 0px 0px 25px;
	width: 250px;
}
DIV#fact_sheet_container TABLE
{
	width: 641px;
}
DIV#fact_sheet_container TABLE#fact_sheet_footer
{
	width: 281px;
	display: block;
}
TABLE#fact_sheet_buttons TR TD IMG
{
	font: 14px sans-serif;
	margin: 0px !important;
	float: left;
	vertical-align: top;
	padding: 0px !important;
}
DIV#results_button
{
	margin: 35px 0px 0px !important;
}
DIV.appforms TABLE
{
	overflow: auto;
	width: 250px !important;
}
TABLE#frmquestions_table TR TD
{
	padding: 0px;
}
DIV.container_12 TABLE TBODY TR TD SELECT
{
	margin: -12px 0px 0px;
	border: 1px solid #CCCCCC;
}
IMG.snap_icon2
{
	margin: 0px !important;
}
TABLE#fact_sheet_buttons
{
	margin: 0px 35px !important;
	width: 691px !important;
}
DIV.appforms TABLE TR TD.text1fact A
{
	margin: 0px !important;
	float: left;
	padding: 0px !important;
}
DIV.appforms TABLE TR TD.text1fact IMG
{
	margin: 0px 5px !important;
	padding: 0px !important;
	float: left;
	/*[empty]border:;*/
}
IMG.snap_icon2
{
	padding: 27px 0px 0px !important;
}
DIV.appforms TABLE TR TD.text1fact
{
	margin: 0px 0px 0px 5px !important;
	padding: 0px !important;
}
DIV.link_padding
{
	margin: 3px 2px 0px 0px !important;
	clear: both;
	float: left;
}
