#main-nav, .menu-main-menu-container
{
	height: 30px;
	width: 936px;
	margin: 0 auto;
}
#main-nav LI
{
	margin-top: 0;
	height: 30px;
	width: 155px;
	float: left;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	background:#f1601b;
        border-left:none;
	border-right:solid 1px #fff;
	text-shadow: none;
}

#main-nav UL
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main-nav UL#home 
{
	background: #FDB813;
}
#main-nav UL#home LI
{
	color: #1F419B;
	text-shadow: none;
}

#main-nav li#esi-home {
width:120px;
border-left: 1px solid #CCCCCC !important;
}

#main-nav li#esi-findfood {
width:180px;
}


#main-nav li#esi-findhelp{
width:180px;
}

#main-nav li#esi-taxrelief {
width:160px;
}

#main-nav li#esi-about {
width:134px;
border-right: 1px solid #CCCCCC !important;
}

#main-nav li#esi-benefits {
width:155px;
}

div#main-nav li a.current_tab 
{ 
background: #FDB813;
color: #1F419B;
} 

#footer {
margin-top: 0;
padding-top: 20px;
clear: both;
background: #CBE4ED;
border-top: 1px solid #CCC;
}

#footer .sub-wrapper #bcu {
background: white;
width: 150px;
padding: 0px 10px 65px 10px;
}

#footer .sub-wrapper #bcu a {
color: #F2681F;
font-weight: bold;
}

#footer .sub-wrapper a {
color: #1F419B;
font-size: 13px;
}
