@import url(https://fonts.googleapis.com/css?family=Kalam:400,300,700);

* Bootstrap Overrides *

/

/* Journal font from ncoa main site.  */
@font-face {
    font-family: 'JournalRegular';
    src: url('/cf/bootstrap/css/fonts/journal-webfont.eot');
    src: url('/cf/bootstrap/css/fonts/journal-webfont.eot?#iefix') format('embedded-opentype'),
    url('/cf/bootstrap/css/fonts/journal-webfont.woff') format('woff'),
    url('/cf/bootstrap/css/fonts/journal-webfont.ttf') format('truetype'),
    url('/cf/bootstrap/css/fonts/journal-webfont.svg#JournalRegular') format('svg');
}

@font-face {
    font-family: 'Kalam', cursive;
    font-weight: normal;
    font-style: normal;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background: url("images/bl_grdnt_bg.gif") repeat-x scroll center top #FFFFFF;
}

p { /*break on long url-s */
    word-break: break-word;
    font-size: 0.9em;
    line-height: 1.7em;
}

blockquote {
    border: none;
    padding-left: 0;
    font-style: italic;
}

blockquote p {
    margin-bottom: 0;
    font-size: 0.875em;
    font-weight: normal;
    line-height: auto;
}

/*a, a:hover, a:focus {color: #8388c2;}*/
a, a:hover, a:focus {
    color: #1f419b;
    text-decoration: underline;
}

b, strong {
    font-weight: 500;
}

.container {
    background: #fff;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

#top-bar.container {
    border: none;
}

#header.container {
    padding-bottom: 1em;
}

.esiFooter {

    font-size: 14px;

}

.bottom-wrapper {
    background-color: #EDF7FA;
}

#footer.container {
    border: none;
    padding: 1em 0;
    background: none;
}

#footer-primary {
    clear: both;
    background: #EDF7FA;
    border-top: 1px solid #CCC;
    padding: 20px 0 48px;
}

#footer-primary.container {
    border: none;
    padding: 1em 0;
    background: none;
}

#footer-nav .container {
    width: inherit;
    padding: 0;
    border-left: none;
    border-right: none;
}

#top-logo {
    width: 100%;
    background: url(images/bcu-top-bkg.png) repeat-x;
    height: 35px;
    text-align: right;
    z-index: 999;
    margin: 0;
}

#header_logo img {
}

img.moveup {
    margin-top: -.5em
}

@media (min-width: 50em) {
    #header_logo img {
        margin-left: 1em;
    }
}

@media (min-width: 60em) {
    img.moveup {
        margin-top: -2em;
    }
}

/*#horizontal-sidebar {border-top: 2px solid #00479D;}*/
#horizontal-sidebar {
    border-top: 1px solid #cbe4ed;
}

#content {
    font-size: .95em;
    line-height: 1.35em;
    padding: .5em;
    padding-top: 1.5em;
}

@media (min-width: 50em) {
    #content, {
        padding: 1em;
    }

    #horizontal-sidebar, #inner-content {
        padding-left: 1em;
        padding-right: 1em;
    }

}

pre {
    font-family: "Trebuchet MS", arial, sans-serif;
}

textarea {
    font-family: "Trebuchet MS", arial, sans-serif;
}

#logo.statistics {
    font-family: "Trebuchet MS", arial, sans-serif;
    color: #666;
    font-weight: normal;
    line-height: 24px;
    text-rendering: optimizelegibility;
    font-size: 1.3em;
}

#logo.statistics strong {
    color: #333;
}

#logo.statistics p {
    padding: 0.9em .2em .2em .2em;
}

b, strong {
    font-weight: 700;
}

/* Main Navigation --------------------------------------------- */

#main-nav {
    clear: both;
    min-height: 30px;
    margin: 0 auto;
}

#main-nav .container {
    border: none;
    background: #1F419B;
}

#main-nav .nav-bkg {
    background: #1F419B;
}

#main-nav ul {
    list-style: none;
    margin: 0;
    clear: both;
}

#main-nav .btn.btn-navbar {
    border: none;
    background: #1F419B;
    box-shadow: none;
    margin-top: 0;
}

#main-nav li a {
    color: #fff;
    padding-left: 15px;
    line-height: 2.3;
    display: block;
    text-decoration: none;
}

#main-nav li:hover {
    background: #fdb813;
    color: #1F419B;
}

#main-nav li a:hover {
    background: #fdb813;
    color: #1f419b;
}

#main-nav li a.current {
    background: #FDB813;
    color: #1F419B;
    display: block;
}

.navbar-inner {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
}

#main-nav .nav-collapse.in.collapse {
    background: #1F419B;
    z-index: 999;
}

#main-nav .nav-collapse.in.collapse ul {
    padding-bottom: 1em;
}

#main-nav .nav-collapse.in.collapse li a {
    display: block;
    padding: .5em 1em;
    color: #fff;
    text-decoration: none;
}

#main-nav .nav-collapse.collapse li a {
    display: none;
}

#main-nav .navbar-inner {
    min-height: 30px;
}

/* large screens */
@media (min-width: 979px) {

    #main-nav .nav-collapse {
        padding: 0;
    }

    #main-nav li a {
        padding-left: 0;
        line-height: inherit;
    }

    #main-nav li {
        margin-top: 0;
        margin-left: 0px;
        height: 30px;
        float: left;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        background: #1F419B;
        width: 155px;
        border-right: 2px #fff solid;
    }

    #main-nav li:last-child {
        border-right: none;
    }

    #main-nav li a {
        display: block;
        width: 100%;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }

    #main-nav .nav-collapse.collapse li a {
        display: block;
    }

    .navbar-inner .container {
        background: #1F419B;
    }
}

/* Footer --------------------------------------------- */

#footer-nav {
    background: #CBE4ED;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    clear: both;
    margin-top: 0;
    padding: 0;
}

#footer-nav h2 {
    color: #333333;
    font-size: .88em;
    line-height: 1.1em;
    font-weight: 400;
}

#footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer-nav li {
    float: none;
    font-size: .80em;
    line-height: 1.2em;
    margin: 10px 0;
    width: auto;
}

#footer-nav .sub-wrapper {
    background: #CBE4ED;
    clear: both;
    margin-left: 0em;
}

#footer-nav .sub-wrapper a {
    color: #1F419B;
    font-family: Arial, Helvetica, sans-serif;
}

#footer-nav .sub-wrapper a:hover {
    color: #6D761D;
}

#footer-nav .sub-wrapper #bcu {
    background: #FFF;
    margin-left: 0;
    padding-left: 1em;
    overflow: hidden;
}

/*#footer-nav .sub-wrapper #bcu a {
    color: #F2681F;
    font-weight: bold;
}*/

#f-stay-connected li {
    background: url("images/icons/facebook_sm.gif") no-repeat scroll left top transparent;
    padding-bottom: 2px;
    padding-left: 22px;
}

#f-stay-connected li.twitter {
    background-image: url("images/icons/twitter_sm.gif");
}

#f-stay-connected LI.youtube {
    background-image: url(images/icons/youtube_sm.png);
}

#f-stay-connected LI.linkedin {
    background-image: url(images/icons/icn-linkedin.png);
}

#f-stay-connected li.cr {
    background-image: url("images/icons/community_sm.gif");
}

#f-stay-connected li.rss {
    background-image: url("images/icons/rss_sm.gif");
}

/* large screen */
@media (min-width: 768px) {
    #footer-nav h2 {
        font-weight: 700;
    }

    #content #sidebar {
        width: 90%;
    }
}

/* footer adjustments for small */
@media (max-width: 767px) {
    #footer-nav .row .span2 {
        padding-left: 1.5em;
    }

    #footer-nav .sub-wrapper #bcu {
        margin-left: 0;
        padding-left: 1.5em;
    }

    #footer-nav {
        padding: 0;
        border-bottom: none;
    }

    #footer-nav h2 {
        font-weight: 700;
    }
}

/* The main content font for the site will be Arial instead of Trebuchet MS because of all the issue with the fuzzy lettering. 
/* note: Trebuchet MS display issues will occur in IE for font size less than 17px. To fix this - add font-weight:bold to the style  */
.home .container #content {
    background: #fff url("images/bg/yl_grdnt_bg.gif") repeat-x;
}

#content #main {
    font-family: Arial, Helvetica, sans-serif;
    color: #252525
}

h1, h2, h3, h4, button {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #252525
}

#main h1 {
    font-size: 1.5em;
    margin-top: 0;
}

#content #main h1 {
    color: #1E429A;
    font-weight: normal;
}

#content #main .feature h1 {
    font-family: "JournalRegular", 'Kalam', cursive, "Trebuchet MS", Arial, serif;
    color: #00479d;
    line-height: 1em;
    font-weight: lighter;
    font-size: 4em;
    letter-spacing: -0.05em;
}

#content #main h2 {
    color: #333;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.4em;

}

#content #main .snapheading h1, h2 {
    color: #1E429A;
    font-weight: normal;
}

#content #main .feature p {
    font-size: 0.95em;
}

#content #main .feature {
    margin-bottom: 20px;
}

#content #main .medicine h2, #content #main .food h2 {
    font-weight: 400;
}

#content #main .success h2 {
    font-size: 1.5em;
    font-weight: 400;
}

#content #main .success {
    border-top: 1px dotted #666;
    padding-top: 20px;
}

#content #main .success img {
    padding-top: 10px;
}

#content #main h2.feature {
    font-family: "JournalRegular", 'Kalam', cursive, "Trebuchet MS", Arial, serif;
    color: #00479d;
    line-height: 1em;
    font-weight: lighter;
    font-size: 2.9em;
    letter-spacing: -0.05em;

}

.home #content #main h2.feature {
    text-align: center;

}

#content #main h3 {
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: normal;
    color: #1E429A;;
    font-weight: 700;
    clear: left;
}

#content #main h2.snapheading {
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: normal;
    color: #1E429A;;
    font-weight: 700;
    clear: left;
}

#content #main h1.snapheading {
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: normal;
    color: #1E429A;;
    font-weight: 700;
    clear: left;
}

#content #main .medicine h2, #content #main .food h2 {
    clear: left;
}

#content #main h4 {
    color: #1E429A;
    font-weight: normal;
}

/* featured section which is the full width */
/*#content #top-content .featured {background:none; border-bottom: 2px solid #00479D;}*/
#content #top-content .featured {
    background: none;
    border-bottom: 1px solid #cbe4ed;
}

#content #top-content h2.feature {
    font-size: 2.9em;
    font-weight: normal;
}

#content #top-content h3 {
    font-size: 1.35em;
    font-weight: bold;
}

#content #top-content h4, #content #top-content h4 a {
    color: #1E429A;
}

#content #top-content p {
    font-size: 1.1em
}

#content #top-content #content div.row-fluid {
    padding-top: 30px;
    padding-bottom: 20px;
}

/
/
Dave
    /* selection-box is used for the half size boxes with the go button.    */
    /*
    .selection-box {display:inline-block; width:275px; min-height:150px; background:#fff5db; border:1px solid #dbdbdb; vertical-align: top; padding:20px; margin:5px; position:relative;}
    .selection-box {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;}
    .selection-box h3  {color:#fa6300; font-size:1.45em; font-weight:bold; margin-top:0 }
    .selection-box p {margin-bottom:1em; font-size:1.1em; font-weight:bold; color:#464646;}
    .selection-box .button {position:absolute; left:20px; bottom:20px;}
    */
    /* selection box on home page */
    /*
    #content #main .home-selection-box {display:inline-block; width:275px; min-height:150px; background:#fff5db; border:1px solid #dbdbdb; vertical-align: top; padding:20px; margin:5px; position:relative;}
    #content #main .home-selection-box {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;}
    #content #main .home-selection-box h3  {color:#fa6300; font-size:1.25em; font-weight:bold; margin-top:0 }
    #content #main .home-selection-box p {margin-bottom:1em; font-size:.96em; font-weight:bold; color:#464646;}
    #content #main .home-selection-box .button {position:absolute; left:20px; bottom:20px;}
    */
    /* top content */
.content-box {
    margin-top: 0;
    padding-right: 2em;
}

.content-box p {
    font-size: 1.1em;
}

/* secondary content */
.story-box {
    margin-top: 2em;
    padding-right: 2em;
}

.story-box p {
    font-size: 1em;
}

.story-box img.alignright, img.alignright {
    margin-left: 0;
}

#inner-content {
    padding-bottom: 1em;
}

#left-content, #sidebar {
    margin-left: 0;
    margin-bottom: 1em;
}

#sidebar h2 {
    font-weight: 400;
}

#sidebar h3 {
    color: #003e9c;
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: .5em
}

#sidebar h3.stayConnected {
    margin-top: 2em
}

#sidebar h3 a {
    color: #003e9c
}

#sidebar p {
    font-size: .96em
}

#sidebar .sponsor-block {
    margin: 0;
}

#sidebar .signup input {
    display: block
}

#sidebar .signup input[type="text"] {
    width: 80%;
    border-radius: 0;
    font-style: italic
}

#sidebar li {
    list-style: none;
}

/* social media buttons  */
/*.email, .facebook, .twitter, .print {height:38px; width:42px; display:inline-block} */
.email {
    background: url(/cf/bootstrap/css/images/icon-email.png) no-repeat;
}

.facebook {
    background: url(/cf/bootstrap/css/images/icon-facebook.png) no-repeat;
}

.twitter {
    background: url(/cf/bootstrap/css/images/icon-twitter.png) no-repeat;
}

.print {
    background: url(/cf/bootstrap/css/images/icon-print.png) no-repeat;
}

/* lighten the button when hovering by adjusting the opacity */
.email:hover, .facebook:hover, .twitter:hover, .print:hover {
    opacity: .7
}

.spacer {
    height: 1em
}

#rotating-item-wrapper {
    position: relative;
    width: 180px;
    height: 150px;
}

.rotating-item {
    display: none;
    position: absolute;
}

.learnmoreModal_outer {
    margin: 10px;
}

.learnmoreModal_inner {
    margin: 20px;
}

/* configurable buttons */
/* default configuration */
.button {
    display: inline-block;
    width: auto;
    padding: 2px 5px;
    border: 1px solid #bbb;
    color: #00469c;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0;
    background: url(/cf/bootstrap/css/images/button-bkg-blue.png) repeat-x;
}

.button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button:hover {
    color: #464646
}

/* larger orange button */
.button.orange {
    background: url(/cf/bootstrap/css/images/button-bkg-orange.png) repeat-x;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 10px;
    font-size: .95em;
}

.button.orange:hover {
    color: #464646
}

.button a:hover {
    text-decoration: none;
}

/* image alignment */
.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 2em;

}

.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 2em;

}

/* ncoa responsive fix - force top ncoa logo in the right corner of the page instead of the window */
#header {
    position: relative
}

#topbar {
    right: 0px;
    top: -13px;
}

/* ESI questions - get started */
/*.nav-list > li > a,.nav-list > li > form > a, .nav-list .nav-header {  color: #8388C2;}*/
.nav-list > li > a, .nav-list > li > form > a, .nav-list .nav-header {
    color: #1f419b;
    text-decoration: none;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: rgb(221, 72, 20);
    text-decoration: none;
}

legend {
    color: #8388c2;
}

.sidebar-nav legend {
    color: #DD4814;
}

input, input[disabled] {
    width: auto
}

input, select, .page_wrapper input, .page_wrapper select {
    width: 160px;
    /*margin-right: 5px;*/
    vertical-align: middle;

}

input[type="text"], select {
    border: 1px solid #CCC;
    font-size: 12px;
    font-style: italic;
    background: #ffff;
    color: #333;
    padding: 5px;
    border-radius: 0;
    float: left;
    line-height: 18px
}

a.go-button {
    display: block;
    margin: 3px 4px;
    vertical-align: middle;
    float: left;
}

.well {
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    background: url("images/bg/yl_grdnt_bg.gif") 0 -10px repeat-x;
}

#esiForm .btn-group {
    white-space: normal;
}

#content #main .popover-title {
    font-size: 14px;
    font-weight: normal;
    background: url("images/bg/yl_grdnt_bg.gif") 0 -10px repeat-x;
}

.icon-question-sign:hover, .icon-question-sign:focus {
    text-decoration: none
}

#content #main .modal-header h2 {
    color: #DD4814;
    font-weight: normal
}

#thesuperfooter .sub-wrapper, #footer .sub-wrapper {
    /*  padding-left: 10%;*/
    background:
}

#superFooter {

    padding-left: 0px;
    width: 70%;
    background: #CBE4ED;

}

#superFooter .sub-wrapper .this-site {

    background: #FFFFFF;
    padding-left: 10px;

}

#footer-nav .row .span2 {
    width: 140px;
}

.container {
    max-width: 940px
}

#content #main div.selection-box-container.row {
    margin-left: 0;
}

#content #main div.selection-box-container.row div.selection-box {
    background: #fff5db;
    border: 1px solid #dbdbdb;
    border-radius-5px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 190px;
}

#content #main div.selection-box-container.row .selection-box h3 {
    color: #fa6300;
    font-size: 1.34em;
    font-weight: bold;
    margin-top: 0;
}

#content #main div.selection-box-container.row .selection-box p {
    color: #464646;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    min-height: 70px;
}

/*.printButton .btn{font-family: 'Roboto Condensed', sans-serif; color:#8B0000; text-transform:uppercase; font-weight:600; background: Salmon; margin-top:15px;
}*/
.printButton .btn {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background: #f47735;
    margin-top: 15px;
    text-decoration: none;
}

.btn:hover, .btn:focus {
    color: #fff;
}

.btn .icon-chevron-right {
    display: none;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    -moz-transform: scale(1.2, 1.2); /* FF only */
    height: 17px;
    width: 17px;
    margin-top: 1px;
}

.checkbox input[type="checkbox"] {
    margin-left: -22px;
}

.pull-right .checkbox input[type="checkbox"] {
    margin-left: 0;
}

tr.dataBridge td {
    width: 300px;
}

tr.dataBridge td div {
    margin-bottom: 20px;
}

label {
    cursor: text
}

@media print {
    .navbar,
    #footer {
        display: none;
    }

    .container {
        border: none
    }

    a:link:after, a:visited:after {
        content: "";
    }

    a:link:before, a:visited:before {
        content: "";
    }
}

/* sidebar */
.widget {
    list-style: none;
}

h2.widgettitle {
    color: #1F419B;
    margin-bottom: 5px;
    margin: 0 !important;
    padding: 10px 0 5px;
    font-size: 1.125em;
    line-height: 1.3em;
}

div.AdvancedText {
    padding: 0 0 10px;
}

/*snap prod*/

@media (min-width: 980px) {
    .page-id-11936 #content, .page-id-11936 #inner-content {
        padding: 0;
    }

    .page-id-11936 .snapApplication {
        background-image: url('/wp-content/uploads/2014/07/BCU_SNAP_revised2.png');
        background-repeat: no-repeat;
        height: 240px;
        padding: 0px 10px 0px 10px;
    }

    .page-id-11936 .snapLeft {
        margin-top: 100px;
        margin-bottom: 10px;
        float: left;
    }

    .page-id-11936 #selectState.snapApplicationInner {
        margin-top: 50px;
        margin-left: 122px;
    }

    .page-id-11936 #selectState.snapApplicationInner select {
        width: 200px;
        height: 35px;
    }

    .page-id-11936 #selectState.snapApplicationInner input {
        margin-top: -5px;
        width: 40px;
    }

    .page-id-11936 p.fullPage {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 18px;
        line-height: 23px;
        margin-top: 18px;
    }

    .page-id-11936 .rowcol1.fullPage {
        margin-left: 50px;
        margin-top: 20px;
        width: 375px;
        float: left;
        font-size: 18px;
    }

    .page-id-11936 .rowcol2.fullPage {
        margin-right: 20px;
        margin-top: 5px;
        width: 375px;
        float: right;
        font-size: 18px;
    }

    .page-id-11936 .rowcol1.fullPage h3, .page-id-11936 .rowcol2.fullPage h3 {
        font-size: 24px;
    }

    .page-id-11936 #successStories {
        clear: both;
        background-image: url('/wp-content/themes/bcuwptheme/images/SNAPSuccessBanner.png');
        background-repeat: no-repeat;
        padding: 0px 10px 0px 10px;
        /*width: 937px;*/
        height: 290px;
        /*overflow: visible;*/
        margin-top: 40px;
        margin-left: 0px;
        /*margin-bottom: -30px;*/
        display: inline-block;
    }

    .page-id-11936 #successImage {
        float: left;
    }

    .page-id-11936 #successText {
        margin-left: 320px;
        margin-top: 75px;
        display: inline-block;
    }

    .page-id-11936 #content #main h3.successLeft {
        font-size: 24px;
        margin-right: 30px;
    }

    .page-id-11936 .successRight {
        margin-top: -5px;
        font-size: 1.3em;
        float: right;
        margin-right: 30px;
        font-style: italic;
    }

    .page-id-11936 #didYouKnow {
        margin-left: 25px;
        margin-top: 30px;
        display: inline-block;
    }

    .page-id-11936 #didYouKnow p {
        font-size: 22px;
    }
}

.page-id-11936 #selectAState {
    margin-right: 5px;
}

/* snap dev*/
@media (min-width: 980px) {
    .page-id-13244 #content, .page-id-13244 #inner-content {
        padding: 0;
    }

    .page-id-13244 .snapApplication {
        background-image: url('/wp-content/uploads/2014/07/BCU_SNAP_revised2.png');
        background-repeat: no-repeat;
        height: 240px;
        padding: 0px 10px 0px 10px;
    }

    .page-id-13244 .snapLeft {
        margin-top: 100px;
        margin-bottom: 10px;
        float: left;
    }

    .page-id-13244 #selectState.snapApplicationInner {
        margin-top: 50px;
        margin-left: 122px;
    }

    .page-id-13244 #selectState.snapApplicationInner select {
        width: 200px;
        height: 35px;
    }

    .page-id-13244 #selectState.snapApplicationInner input {
        margin-top: -5px;
        width: 40px;
    }

    .page-id-13244 p.fullPage {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 18px;
        line-height: 23px;
        margin-top: 18px;
    }

    .page-id-13244 .rowcol1.fullPage {
        margin-left: 50px;
        margin-top: 20px;
        width: 375px;
        float: left;
        font-size: 18px;
    }

    .page-id-13244 .rowcol2.fullPage {
        margin-right: 20px;
        margin-top: 5px;
        width: 375px;
        float: right;
        font-size: 18px;
    }

    .page-id-13244 .rowcol1.fullPage h3, .page-id-13244 .rowcol2.fullPage h3 {
        font-size: 24px;
    }

    .page-id-13244 #successStories {
        clear: both;
        background-image: url('/wp-content/themes/bcuwptheme/images/SNAPSuccessBanner.png');
        background-repeat: no-repeat;
        padding: 0px 10px 0px 10px;
        /*width: 937px;*/
        height: 290px;
        /*overflow: visible;*/
        margin-top: 40px;
        margin-left: 0px;
        /*margin-bottom: -30px;*/
        display: inline-block;
    }

    .page-id-13244 #successImage {
        float: left;
    }

    .page-id-13244 #successText {
        margin-left: 320px;
        margin-top: 75px;
        display: inline-block;
    }

    .page-id-13244 #content #main h3.successLeft {
        font-size: 24px;
        margin-right: 30px;
    }

    .page-id-13244 .successRight {
        margin-top: -5px;
        font-size: 1.3em;
        float: right;
        margin-right: 30px;
        font-style: italic;
    }

    .page-id-13244 #didYouKnow {
        margin-left: 25px;
        margin-top: 30px;
        display: inline-block;
    }

    .page-id-13244 #didYouKnow p {
        font-size: 22px;
    }
}

.page-id-13244 #selectAState {
    margin-right: 5px;
}

#text-size #largest,
#text-size #largest_disabled {
    font-size: 32px;
}

#text-size #larger,
#text-size #larger_disabled {
    font-size: 28px;
}

#text-size a {
    text-decoration: none;
}

/* BCU QuickCheckup */
#bcuQuickcheckClose {
    float: right;
}

#bcuQuickcheckTitle {
    border-bottom: 2px solid #00479d;
    margin-bottom: 7px;
}

#bcu_quickcheck h2.bcuQuickcheckTitle {
    color: #1F419B !important;
    font-size: 31.5px !important;
}

@media (min-width: 768px) {
    #bcu_quickcheck {
        width: 90%;
        margin-left: -45%;
    }

    #bcu_quickcheck .well {
        min-height: 430px !important;
    }
}

@media (max-width: 768px) {
    #bcu_quickcheck {
        width: 90%;
        margin-left: 2%;
        max-height: 95% !important;
    }
}

#bcu_quickcheck .alert-bcuQuickCheck {
    margin: 6px 0 !important;
}

#bcu_quickcheck .bcuQuestionSet {
    margin-bottom: 5px;
}

.bcuQuickcheckQuestion .radio, .bcuQuickcheckQuestion .checkbox {
    margin-top: 4px;
}

#esiQuickcheckCheckboxes {
    margin-top: 6px;
}

#esiQuickcheckResultsButton {
    cursor: pointer;
    margin-bottom: 10px;
}

#bcuQuickcheckForm {
    margin: 0 0 5px;
}

#esiQuickcheckCheckboxes .first-column {
    width: 50%;
    float: left;
}

#esiQuickcheckCheckboxes .last-column {
    width: 50%;
    float: left;
    display: block;
}

@media (max-width: 480px) {

    #esiQuickcheckCheckboxes .first-column {
        width: 100%;
        float: left;
    }

    #esiQuickcheckCheckboxes .last-column {
        display: none
    }
}

div#bcu_quickcheck {
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-body {
    max-height: inherit;
}

h2.benefitsCheckUpTitle {
    font-size: 1.8em !important;
    color: #012A5C !important;
}

#esiMenuToggleButton {
    display: none;
    padding: 0;
    margin-bottom: 10px;
    background: #f1601b;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 0;
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
    zoom: 1;
    /*top: ;*/
    left: 0;
    float: none;
    position: absolute;
    z-index: 10;
    color: white;
}

.well.modal-body {
    overflow-y: scroll;
}

.frozenBody {
    overflow-x: hidden;
    overflow-y: hidden;
    z-index : -1;
}