#thesuperfooter .sub-wrapper,#footer .sub-wrapper {
  padding-left: 15%;
width: 100%;
background: 
}



#superFooter {

padding-left: 0px;
width: 70%;
background: #CBE4ED;

}

#superFooter .sub-wrapper .this-site {

background: #FFFFFF;
padding-left: 10px;

}

#superFooter.footer-ncoa #thesuperfooter .linkset1 {
    width: 20% !important;
}


