/* ! Basic Layout ========================== */ 

.calc-container {
	@extend .inset-box-full;
	padding-top: 35px;
	padding-bottom: 55px;
	}

.compare-container {
	@extend .shadow-box;
	@include border-top-radius(4px);
	padding: 25px;
	position: relative;
	z-index: 1;
	}

.compare-h {
	margin-bottom: 16px;
	}

.json-payload {
	display: none;
	}



/* ! Form & Inputs ========================== */

/* Universal */

.mtg-data-inputs {
	margin-bottom: 35px;
	}

.input-row {
	@include pie-clearfix;
	&:not(:last-child) {
		margin-bottom: 32px;
		}
	}

.mtg-data-input-group {
	@include float-left;
	&:not(:last-child) {
		margin-right: 24px;
		}
	}

.mtg-length-label {
	display: block;
	margin-bottom: 8px;
	&:before {
		bottom: 1px;
		}
	}

.mtg-length-yrs-group {
	font-size: 16px;
	color: #000;
	top: 1px;
	position: relative;
	margin-left: 2px;
	}

.mtg-length-slider-group {
	width: 325px;
	height: 65px;
	background: transparent url(../_images/mtg-length-slider.png) no-repeat 1px 41px;
	}


/* Compare Table */

.compare-table {
	@extend .table-lined;
	margin-bottom: 0;
	
	.mtg-payment-at-th {
		padding-right: 24px;
		text-align: center;
		
		.info-box:after {
			bottom: 0;
			}
		
		.tooltip {
			width: 300px;
			margin-left: -185px;
			&:before {
				left: 235px;
				}
			&:after {
				left: 237px;
				}
			}	
		}

	/* 	Rates Jump Checkbox */
	
	.rates-jump-label {
		font-size: 14px;
		}

	.rates-jump-checkbox {
		position: relative;
		top: -2px;
		margin-right: 4px;
		}
			
	} /* end .compare-table */

	.cash-out-label,
	.rates-jump-label {
		padding: 5px;
		background-color: $note-yellow;
		}


#ma-compare-table,
#refi-compare-table {

	td {
		padding: 13px 10px 0px;
		}

	input, select, .select-input {
		margin-top: 0;
		@extend .input-grey;
		&::-webkit-input-placeholder,
		input:-moz-placeholder {
			color: $text-black;
			padding-top: 5px;
			}
		}
	
	.mtg-payment-data,
	.mtg-payment-data-at {
		@extend .money-number-med;
		}
	
	.refi-mtg-group,
	.mtg-group-51_arm,
	.mtg-group-71_arm {
		 td {
			border-bottom: 0;
			}
		}

	.mtg-compare-data,
	.ma-adjustable-after-group {
		.tooltip {
			width: 240px;
			}
		}


	/* 	Adjustable Rate Group */

	.ma-adjustable-after-group,
	.refi-mtg-group-adjusted {
		td {
			padding-top: 0px;
			padding-bottom: 10px;
			border-bottom: 1px solid $light-gray;
			}
		
		.mtg-type-data,
		.mtg-compare-data {
			color: $med-gray;
			font-weight: 300;
			}

		.mtg-payment-data,
		.mtg-payment-data-at {
			color: $green;
			padding-bottom: 20px;
			}
			
		.mtg-payment-data-monthly,
		.mtg-payment-data-monthly-at {
			display: inline-block;
			min-width: 45px;
			}
		
		} /* end adjustable after groups */

	.mtg-int-adjusted {
		font: normal 700 16px $museo-sans;
		margin-left: 11px;
		margin-right: 6px;
		}
	
	.mtg-int-data-adjusted,
	.ma-adjustable-after-group .mtg-int-data {
		position: relative;
		.pct {
			@extend .unit-default;
			position: absolute;
			top: 0;
			right: -29px;
			}
		.info-box:after {
			right: -14px;
			bottom: 3px;
			}
		}
	
	.more {
		@extend .more;
		}

	.less {
		@extend .less;
		}
	
	} /* end #ma-compare-table #refi-compare-table */


/* Compare Footnote */

.compare-footnote {
	font-size: 11px;
	color: $med-gray;
	margin: -2px 0 30px;
	}


/* ! Compare Explainers  */

.compare-explainer {
	@extend .text-graphic-large;	
	line-height: 160%;
	@extend .shadow-box;
	padding-top: 35px;
	margin-top: -5px;
	background-color: rgba(255, 255, 255, .85);
	@include box-shadow(rgba(0,0,0,0.075) 0.5px 0.5px 6px 1px);
	a {
		@extend .link-underline;
		}
	}

.compare-explainer-h {
	@extend .form-label-h1;
	margin-bottom: 12px;
	}

.highlight-fig {
	color: $green-dark;
	}

.bottom-line {
	font-size: 15px;
	}

.bottom-line-txt {
	font-style: italic;
	}

.bottom-line-h {
	font-style: normal;
	}

/* ! Advanced */

.advanced-btn-group {
	@include float-right;
	margin-top: 23px;
	}

.advanced-container {
	margin-bottom: 20px;
	}
	
.advanced-btn {
	display: inline-block;
	margin-right: 12px;	
	}

.advanced-subtext {
	display: inline-block;
	color: $med-gray;
	}

.advanced-form {
	//@extend .inset-box;
	@include ui-grid-2(28%, 72%, 0%);
	}

.adv-h,
.adv-assume-h {
	font: normal 700 16px/130% $museo-sans;
	}

.adv-h {
	color: $med-gray;
	}

.adv-assume-h {
	margin-bottom: 24px;
	}

.adv-assume-form-field {
	@extend .form-field-med;
	font: normal 300 16px $museo-sans;
	color: $text-black;
	margin-bottom: 16px;

	.assume-input {
		margin: 0 6px;
		position: relative;
		top: -2px;
		}

	select {
		width: auto;
		}
	
	.closing-costs-input {
		@extend .text-input-med-dollar;
		width: 100px;
		}

	&.closing-costs-form-field {	
			.dollar {
			top: 0;
			left: 14px;
			z-index: 1;
			}
		}

	.marginal-tax-select,
	.pay-pts-adj-select,
	.pay-pts-fixed-select {
		padding-right: 40px;
		background-position: 86% 55%;
		}

	.pay-pts-adj-select,
	.pay-pts-fixed-select {
		padding-right: 30px;
		background-position: 81% 55%;
		}

	input::-webkit-input-placeholder {
		color: $text-black;
		}
	input:-moz-placeholder {
		color: $text-black;
		}
	
	.info-box {
		display: inline-block;
		}

	} /* end adv-assume-form-field */
	
/* Plus & Minus Signs */

.plus,
.minus {
	@include border-radius(100px);
	display: inline-block;
	padding: 2px;
	margin-right: 6px;
	height: 18px;
	width: 18px;
	font-size: 12px;
	font-weight: 900;
	text-align: center;
	color: white;
	top: -3px;
	position: relative;
	}

.plus {
	background-color: $orange;
	}

.minus {
	background-color: $green-dark;	
	}

.more,
.highlight-fig-more {
	color: $orange;
	}

.less,
.highlight-fig-less {
	color: $green-dark;
	}


/* Footer Explanations */

.explanations-container {
	.explanations-section {
		margin-bottom: 40px;
		}
	}