/* !============================================= */

/* ! Graph Colors (via Jared) 					  */ 

/* !============================================= */

.bar-graph-blue {
	background-color:#afc3d2;
	}

.bar-graph-blue-light {
	background-color:#c0d0db;
	}

.bar-graph-blue-lighter {
	background-color:#d2dce5;
	}

.bar-graph-blue-dark {
	background-color:#9ab4c6;
	}

.bar-graph-green {
	background-color:#b0d235;
	}

.bar-graph-green-light {
	background-color:#cee188;
	}

.bar-graph-canary {
	background-color:#fef9a5;
	}

.bar-graph-gold {
	background-color:#fedb6f;
	}
	
@mixin bar-gradient {
   background: #b0d235; /* Old browsers */
   @include background-image(linear-gradient(#b0d235, #8fc400)); 
}


/* !============================================= */

/* ! Layout 							   		  */ 

/* !============================================= */

.frame-page {
	padding-top: 80px;
}
body.frame-page {
	padding-top:0px;
}

/* !Intro slides 3-list */

.intro-list {
	@include ui-grid-3(33.333%, 33.333%, 33.333%, 4%);
	text-align: center;

	.intro-item {
		padding: 0 6px;		
		}

	.intro-link {
		display: block;
		width: 175px;
		margin: auto;
		}

	.intro-img {
		max-width: 100%;
		}
		
	.intro-header {
		@extend .frame-h3-strong;
		margin-bottom: 6px;
		}
		
	.intro-text {
		font: normal 300 15px/140% $museo-sans;
		}	

	}

/* !Frames */

.frame-container {
	width: 920px;
	//width: 65.948276%;							/* !765/1160 */
	margin: 0 auto 55px;
	}

.action-frame {
	//width: 90%;
	margin: auto;
	}

.frame-container:first-child {
		margin-top: 20px;
	}

.frame {
	position: relative;
	}

/* !When the action-menu is present, add extra margin */
.frame-page.action-menu-on {
	/*padding-top: 130px;*/
	}

.frame-page #main {
	position: relative;
	}

.col-75 {
	width: 75%;
	margin: auto;
	position: relative;
	}

.col-50 {
	width: 50%;
	margin: auto;
	position: relative;
	}

.col-25 {
	width: 25%;
	margin: auto;
	position: relative;
	}



/* !Index Page Header */

.index-page-header {
	background-color: $brown;
	height: 200px;
	border-bottom: 1px dashed $manila;
	margin: 0 0 $spacer-large 0;
	}


/* !Treatment Header */

.treatment-header,
.treatment-header-mini {
	background: $grey-blue url(../_images/noise-bg-dark.gif) repeat 0 0;
	z-index: 800;	
	@include border-bottom-left-radius(2px);
	@include border-bottom-right-radius(2px);
	}

.treatment-header {
	padding: 16px 20px 20px 20px;
	margin: 0px 10px 80px 10px;
	position: relative;
	z-index: 1001;
	
	> .ui-grid-2 {
		@include ui-grid-2(70%, 30%);
		}
	
	}

.treatment-header-mini {
	@include ui-grid-lr;

	padding: 7px 10px 10px 10px;
	height: 35px;
	width: auto !important;
	position: fixed;
	right: 10px;
	left: 10px;
	top: 0;
	z-index: 1000;
		
		.treatment-title {
			font-size: 16px;
			@include text-shadow(none);
			text-align: center;
			}	
		
		.header-logo-small {
			margin-top: 3px;
			}
	
	}

.treatment-title {
	font:normal 500 40px $museo-slab;
	color: #fff;
	margin-bottom: 10px;
	@include text-shadow(#000, -1px, -1px, 0);
	letter-spacing: -0.03em;

	> a {
		color: #fff;
		}
	}

.treatment-sub {
	font:normal 100 18px $museo-sans;
	color: #fff;
	margin-bottom: 25px;
	}

.treatment-section {
	display: block;
	@include float-left;
	margin-top: -1px;
	}

.treatment-section-current {
	font:normal 300 16px $museo-slab;
	color: $light-gray;
	}


/* !Treatment menu */

.big-mini-menu-items {
	> a {
		color: $grey-blue;
		@include opacity(0.4);
		background-color: #fff;
		}	

	> a:hover {
		@include opacity(.85);
		}

	&.active > a {
		@include opacity(1);
		cursor: default;
		}
	}

.treatment-header .treatment-menu {
	font:normal 300 14px $museo-sans;
	color: $grey-blue;
	@include ui-grid-3;

	.treatment-menu-item {
		@extend .big-mini-menu-items;
		
		> a {
			display: block;
			text-align: center;
			padding: 8px;
			width: 100%;	
			@include border-radius(60px);
			@include trans;
			}
	}
}

.treatment-header-mini {

	.treatment-menu {
		font:normal 300 12px $museo-sans;
		width: 100%;
		}
	
	.treatment-title-col {
		width: 33%;
		display: block;
		margin: -1px auto 0;
		@include pie-clearfix;
		}

} /* !end treatment-header-mini */


.treatment-submenu-trigger {
	position: relative;
	
	.treatment-title {
		display: block;
		}
	
	.treatment-submenu > a {
		@include transition-property(none);
		width: 26px;
		padding-left: 9px;
		text-align: left;
		}
	
	.treatment-submenu > a:hover,
	.treatment-submenu.active > a {
		width: 26px;
		padding-left: 9px;
		@include opacity(1);
		@include border-bottom-left-radius(0px);
		@include border-bottom-right-radius(0px);
		}
	
	&.active .treatment-submenu,
	&:hover .treatment-submenu {
		max-height: 300px;
		}

	&.active .down-arrow-white,
	&:hover .down-arrow-white {
		@include opacity(1);
		}

	}


.treatment-submenu {
	@include trans(.4s, all, linear);
	font: normal 300 12px $museo-sans;	
	background-color: #fff;
	@include border-radius(16px);
	position: absolute;
	max-height: 0px;
	overflow: hidden;
	display: block;
	width: 300px;
	z-index: 900;
	margin: -5px 0 0 0;
	left: 10%;
	@include box-shadow(#ccc, 1px, 1px, 5px);
	
	.y-scroll {
		width: 100%;
		max-height: 300px;
		overflow: auto;
		}

	.treatment-submenu-item {
		
		> a {
			@include trans;
			color: $grey-blue;
			display: block;
			padding: 6px 15px 9px;
			border-bottom: 1px solid $light-gray;
			}

		&.first > a,
		&:first-child > a {
			padding-top: 10px;
			}

		&.last > a,
		&:last-child > a {
			border-bottom: none;
			}

		a:hover {
			color: $orange;
			}
		}
	
	.submenu-number {
		font-weight: 700;
		display: inline-block;
		width: 10px;
		margin-right: 6px;
		text-align: center;
		}
	
	.back-to-dash {
		@include border-bottom-left-radius(8px);
		@include border-bottom-right-radius(8px);
		position: relative;
		
		> a {
			color: $med-gray;
			}
		
		}
	
/*
	.back-to-dash > a:before {
		color: $grey-blue;
		content: "\00A0\279C";
		font: normal 7px $symbol;
		position: absolute;
		top: 2px;
		margin-right: 2px;
		@include rotate(180deg);
		}
*/
	

	} /* !end treatment submenu */


.prev-next-mini {
	@include prev-next-mini;
	@include ui-grid-rl;
	width: 50px;
	}



/* !Index Page Header Small */

.site-header-small {
	background-color: $grey-blue;
	height: 35px;
	padding: 8px 16px;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	width: auto !important;
	z-index: 555;

	.col.last,
	.col:last-child {
		text-align: right;
		}
	}

.header-logo-small {
	@include trans;
	@include opacity(0.9);
	display: block;

	&:hover {
		@include opacity(.75);
		}
	
	}

.index-page-title {
	font: normal 900 12px $museo-sans;
	color: #fff;
	letter-spacing: .1em;
	text-align: center;
	@include text-shadow(#000, -1px, -1px, 0px);
	
	a {
	color:#fff;
	}

	}

.index-menu {
	display: none;
	font: normal 500 12px $museo-sans;
	}

.index-menu-item {
	@include trans;

	> a {
		color: $light-gray;
		}
	
	> a:hover {
		color: $yellow;
		}

	&.login,
	&.login > a {
		//color: $yellow;
		}
	}


/* Spacers */

.frame {

	&.spacer {
		margin-bottom: $spacer;
		}
	
	&.spacer-small {
		margin-bottom: $spacer-small;
		}
	
	&.spacer-med {
		margin-bottom: $spacer-med;
		}
	
	&.spacer-large {
		margin-bottom: $spacer-large;
		}
	
	&.spacer-xlarge {
		margin-bottom: $spacer-xlarge;	
		}
	
	&.spacer-xxlarge {
		margin-bottom: $spacer-xxlarge;	
		}
	
	}



/* !============================================= */

/* ! Typography 							   	  */ 

/* !============================================= */


/* !Frame Type */

.frame-hgroup {
	margin-bottom: 30px;
	}


.frame-intro,
.frame-h1-title,
.frame-h1, .head-large,
.frame-h2, .frame-head-med,
.frame-h3, .frame-head-small {
	text-align: center;
	display: block;
	}

.frame-h1-title,
.frame-h1, .head-large,
.frame-h2, .frame-head-med,
.frame-h3, .frame-head-small {

		a {
			@include trans;
			border-bottom: 1px dotted $med-gray;
			}
		
		a:hover {
			color: $orange;
			border-bottom-color: $orange;
			}
	}


.frame-h1, .head-large {
	font: normal 700 36px/115% $museo-slab;
	letter-spacing: -0.03em;
	color: #000;
	margin-bottom: 16px;
	
	a {
		color: #000;
		}
	}

.frame-h1-alt, .head-large-alt {
	@extend .frame-h1;
	color: $grey-blue;
	
	a {
		color: $grey-blue;
		}
	}

.frame-h2, .frame-head-med {
	font: normal 100 22px/140% $museo-sans;	
	color: $text-black;
	margin-bottom: 16px;
	
	a {
		color: $text-black;
		}

	strong, .strong {
	font-weight: 500;
		}
	}

.frame-h3, .frame-head-small {
	font: normal 100 18px/130% $museo-sans;
	color: $text-black;
	margin-bottom: 16px;

	a {
		color: $text-black;
		}
	}

.frame-h3-strong, .frame-head-small-strong {
	@extend .frame-h3;
	font-weight: 700;
	}

.frame-title-container {
	text-align: center;
	}

.frame-title {
	font: normal 700 11px $museo-slab;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	@include text-shadow(#444, -1px, -1px, 0px);
	display: inline-block;
	background-color: $orange-dark;
	padding: 7px 30px 9px;
	margin: 0 auto 35px;
	position: relative;

		&:after,
		&:before {
			@include simple-transform(1, 20deg, 0, 0, 20deg, 0, 0, 0);	
			height: 15px;
			width: 30px;
			background-color: $orange-darker;
			content: '\0020';
			position: absolute;
			text-align: left;
			z-index: -1;
			}
		
		&:after {
			@include linear-gradient(color_stops($orange-darkest 0%, $orange-darker 100%));			
			left: 0;
			bottom: -1px;
			}

		&:before {
			@include linear-gradient(color_stops($orange-darker 0%, $orange-darkest 100%));
			right: -2px;
			top: -12px;
			}

	}


.frame-intro {
	@include text-graphic-small;
	color: $med-gray;
	margin-bottom: $spacer-large;
	@include text-shadow(#fff, -1px, -1px, 0px);	
	}

.footnote {
	@extend .frame-intro;
	margin-bottom: 0;
	}

.frame-number {
	color: $blue-dark;
	}

.frame-linklist {
	list-style-type: disc;
	margin-left: 50px;

	
	.frame-linklist-item {
		margin: 12px;
		}	
	
	}

.section-head {
	margin-bottom: 10px;

	a {
	/*color:#000;*/
	}

	}

h4, .h4, .text-head {
	/*font: normal 700 13px/120% $sans;	*/
	}


/* !============================================= */

/* ! Navigation						   			 */ 

/* !============================================= */


/* !Frame Menu */

.frame-page .frame-menu,
.action-menu-on #frame-menu {
	display: block;
	}

.action-menu-on #main {
	padding-top:64px;
}

#frame-menu {
	display: none;
	padding:10px;
	z-index: 666;
	margin: 0;
	@include ui-grid-2(70%, 30%);

	&.fixed {
		position: fixed; 
		margin: 0;
		top:0;
		}

	.col.last,
	.col:last-child {
		text-align: right;
		}
	
	}


@media screen and (max-width: 900px) {
	#frame-menu {
		height: 110px;
		}
	.head-group {
		.menu-head,
		.head-modifier {
			float: none;
			}
		}
	}/*/mediaquery*/

@media screen and (min-width: 1160px) {
	.frame-stage {
		width: 1160px;
		}	
	}/*/mediaquery*/
	
@media screen and (max-width: 480px) {
	#frame-menu {
		height: 155px;
		}
	
	.menu-nav-item {
		display: block;
		}
	}/*/mediaquery*/


/* !Action Plan Menu */

.action-savings {
	height: 55px;
	background-color: #fff;
	@include opacity(.9);
	@include trans;
	@include border-radius(2px);
	
			&:hover {
			@include opacity(1.0);
		}
	}

.action-menu {
	@extend .action-savings;
	
	.circle-down-arrow-white {
		float: right;
		position: relative;
		top: 4px;
		}
	
	&:hover .circle-down-arrow-white {
		background-color: $med-gray;
		}

	.action-list {
		display: none;
		}
	
	.todo-no-items {
		display: none;
		}
	
	.todo-no-items-msg {
		@include text-graphic-large;
		margin: 20px auto;
		text-align: center;
		color: $med-gray;
		}
		
	}

.action-menu-action-h1 {
	@extend .nav-head-h2;
	float: left;
	}

.action-menu-goal-h1 {
	@extend .nav-head-h2-alt;
	}

.action-dropdown {
	padding: 11px 20px;
	}

.action-list {
	width: 100%;
	padding: 20px;
	margin: -10px 0 0 0;
	background-color: #fff;
	z-index: 777;
	
	.y-scroll {
		height: 250px;
		overflow: auto;
		}

	.nav-head-small {
		margin-top: 16px;
		padding: 15px 7px 7px;
		border-bottom: 1px solid $light-gray;
		}
	
	.action-item {

		> a {
			display: block;
			font: normal 100 30px $museo-sans;
			color: $med-gray;
			padding: 15px 7px;
			border-bottom: 1px solid $light-gray;
			}
		
		> a:hover {
			color: $orange;
			}
		
		}
	
	.todo-table .todo-savings {
		text-align: right;
		}
	
	
	}/* ! action list */

.todo-body {
	.checkbox-input {
		-webkit-appearance: none;
		@include trans;
		width: 18px;
		height: 18px;
		display: block;
		@include border-radius(4px);
		background: #fff url(../_images/check-checkbox-action.png) 50% 0% no-repeat;
		border: 1px solid $med-gray;
		@include opacity(.5);
		&:hover {
			@include opacity(1);
			}
		&:checked {
			background-position: 50% 110%;
			@include opacity(1);
			}	
		}
	}


/* !Savings menu */

.savings-menu {
	@extend .action-savings;
	margin-left: 5px;
	padding: 8px 11px;

	.money-saved {
		margin-top: -2px;
		}


	.money-number {
		font: normal 700 24px $museo-sans;
		color: $green;
		
			.dollar, .slash {
				//font-size: 17px;
				font-weight: 300;
				color: $med-gray;	
				position: relative;
				top: -4px;
				}
			
			.dollar {
				margin-right: 4px;
				}
			
			.slash {
				font-size: 65%;
				}
		}
			
	}

.savings-menu-text {
	@include ui-grid-lr;
	}

.money-bar {
	$h: 7px; //height of money-bar

	margin-top: 4px;
	height: $h;	
	width: 100%;
	background-color: $light-gray;
	display: block;
	@include pie-clearfix;	

		.money-bar-leader {
			display: block;
			float: left;
			height: $h;
			width: 0%;
			background-color: $green;
			@include trans;
			}
	
	}


/* !============================================= */

/* ! Jared Ish								     */

/* !============================================= */

.ftr-nav-front {
	margin-bottom: 100px;
	}

.ftr-front-btn {
	@extend .btn-dark-big;
	margin: auto;
	width: 25%;
	}

.footer-nav-front {
	margin-bottom: 50px;
	}

/* !Footer nav */

.footer-nav {
	width: 90%;
	margin: 0 auto 50px;
	padding-top: 25px;
	@extend .double-line-top;
	}

// Splits the columns on every except Action, where there is only one button

@media screen and (min-width: 480px) and (max-width: 768px) {
	body:not(.action-page) .footer-nav {
		@include ui-grid-rl(45%, 45%);	
		}
}/*/mediaquery*/

@media screen and (max-width: 480px) {
	.footer-nav {
		width: 90%;
		}
	}


.footer-next-msg {
	@extend .frame-h3;
	color: $med-gray;
	display: block;
	margin: auto;
	@include trans(.3s);

		&:hover {
			color: $grey-blue;
			}
	}
	
.footer-page-count {
	font: normal 100 17px $museo-sans;
	color: $grey-blue;
	text-align: center;
	width: 60px;
	margin: 12px auto 0;
	}

.footer-nav-button.prev {
	@include opacity(.3);
	}

.footer-nav-button.next {
	@include opacity(.8);
	}

.footer-nav-button {
	@include btn-big;
	}


/* !== 3.1 Action Plan ========================== */ 

// On the action page, there is only one button -- no back

@media screen and (min-width: 768px) {
	body:not(.action-page) .footer-nav {
		@include ui-grid-rl(35%, 35%);
		}
	}/*/mediaquery*/

.action-page {

	.footer-nav {
		margin-top: 30px;
	
		> .col {
			width: 33%;
			margin: auto;
			}
		
		.arrow-right-large {
			display: none;	
			}
		}	
	} /* end action page */

.action-header {
	margin-bottom: 15px;
	}

.action-header-group {
	margin: 0 20px 16px;	
	}

.action-explainer {
	@extend .note-box;
	padding: 20px 20px 25px;
	@include trans(.3s, all, linear);
	-webkit-transition-property: height;
	transition-property: height;
	//@include apply-origin(0% 0%);
	@include transform-origin(0% 0%);
	max-height: 200px;
	@include border-radius(6px);
	//@include box-shadow(rgba(0,0,0,.15), 0, -1px, 14px, 0, inset);
	}

.action-explainer-closed {
	max-height: 0;
	padding: 0 20px;
	border: 0;
	overflow: hidden;
	}

.action-close-btn {
	@include float-right;
	height: 24px;
	width: 24px;
	padding: 5px 6px;
	margin: -12px -12px 0 0;
	background-color: #fff;
	border: 2px solid $grey-blue;
	overflow: hidden;
	@include border-radius(100px);
	@include trans(.2s);
	@include opacity(.65);
		
		&:hover {
			@include opacity(1);
			}
		
		&:hover .action-close-x {
			//@include opacity(.9);
			}
		
	}

.action-close-x {
	@include trans(.2s);
	@include sprite;
	background-position: 0 -57px;
	height: 9px;
	width: 9px;
	}

.action-close-txt {
	text-indent: -9999em;
	display: block;	
	}

.action-explainer-h1 {
	font: normal 500 19px $museo-sans;
	margin-bottom: 6px;
	}

.action-explainer-h2 {
	@extend .text-graphic-large;

	> a {
		@extend .link-underline;
		}
	}

.action-progress .action-prog-text .col {
	display: inline-block;
	margin-right: 4px;
	}

@media screen and (min-width: 700px) {
	.action-header-group {
		@include ui-grid-lr(40%, 40%);
		}	
	}/* mediaquery */

@media screen and (max-width: 700px) {
	.action-h1 {
		margin-bottom: 16px;
		}
	}/* mediaquery */

.action-h1 {
	@extend .nav-head-h1;
	}

.action-h2,
.todo-h2 {
	@extend .nav-head-h2;
	margin-bottom: 5px;
	}

.action-h2-sub,
.todo-h2-sub {
	@extend .nav-h2-sub;
	}

.action-progress {

	.action-prog-text {
		padding: 0 10px;
		font-family: $museo-sans;
		font-size: 13px;
		
		> .col {
			display: inline-block;
			margin-right: 4px;
			}
		}
	
	.next-step {
		font-weight: 300;
		}
	
	.next-step-label {
		font-weight: 700;
		text-transform: capitalize;
		}
	
	// Hide pct-complete message but keep it around for reading progress pct
	.col-1 {
		display: none;
		}
	
	.pct-complete {
		font-weight: 700;
		}

	} /* /.action-progress */

.action-prog-bar {
	$h: 12px; //height of prog-bar

	margin-top: 6px;
	height: $h;	
	width: 100%;
	background-color: #fff;
	display: block;
	@include box-shadow(rgba(0,0,0,.3), 1px, 1px, 2px, 0px, inset);
	@include border-radius(100px);
	@include pie-clearfix;	

		.action-prog-bar-leader {
			display: block;
			float: left;
			height: $h;
			width: 50%;
			background-color: $blue-dark;
			@include linear-gradient(color_stops(#12557d 0%, $blue-dark 100%));
			@include trans(.3s);
			@include border-left-radius(100px);
			}
	
	}

/* !Reminders */

.remind-container,
.todo-container {
	@include shadow-box;
	margin-bottom: 15px;
	}

.remind-container {
	@include ui-grid-2(30,70,5%);
	}

.remind-icon,
.todo-icon {
	@extend .imageblock-image;
	margin-top: 5px;
	}

.remind-hgroup-text {
	@extend .imageblock-content;
	}

.remind-inputs {
	@include ui-grid-3(36%, 36%, 28%, 7%);
	}

.remind-button {
	margin-top: 26px;
	}

.remind-time-select {
	@extend .select-input;
	font-weight: 300;
	}

.remind-email-input {
	@extend .text-input;	
	font-weight: 300;
	}

.remind-time-select,
.remind-email-input {
	background-color: $eggshell;
	margin-bottom: 0;
	}

.remind-button {
	@extend .btn-dark;
	display: block;
	margin-top: 10px;
	width: 100%;
	margin-top: 26px;
	}

.remind-complete-msg {
	display: none;
	@include text-graphic-large;
	color: $med-gray;
	margin-top: 5px;
	}

.remind-complete-hgroup {
	@include pie-clearfix;
	margin-bottom: 5px;
	}

.remind-complete-h1 {
	font-weight: 700;
	color: $grey-blue;
	@include float-left;
	}

.change-remind-btns {
	font-size: 11px;
	font-weight: 500;
	@include float-right;
	padding: 3px 0 3px 10px;
	border-left: 1px solid $light-gray;
	}

.change-remind-btn,
.cancel-remind-btn {
	@extend .btn-light-small;
	@include float-right;	
	}

.change-remind-link {
	@extend .link-underline;	
	}

.change-remind-label {
	color: $dark-gray;
	}	


/* !To Do Header */

.todo-header {
	margin-bottom: 40px;
	}

.todo-print-btn {
	@extend .btn-light;
	float: right;
	}

.todo .target {
	@extend .money-number;
	}

.todo-hgroup {
	@include pie-clearfix;
	padding: 9px 10px 10px 0;
	border-bottom: 1px solid $light-gray;
	
	.todo-h1 {
		float: left;
		}

	.arrow-button-small {
		@include float-right;
		margin: -5px 0 0 0;
		position: relative;
		top: 3px;
		}
	}
	
.todo-light {
	font: normal 300 16px $museo-sans;
	color:#999;
}


.todo-h1 {
	font: normal 700 16px $museo-sans;

	.todo-target {
		@extend .money-number-med;
		}
	}

.todo-goal {
	border-bottom: 1px solid $light-gray;
	padding: 0 10px 10px 0;
	}

@media screen and (min-width: 700px) {
	.todo-goal {
		@include ui-grid-lr;
		width:auto;
		display:block;
		}
}/* mediaquery */

.todo-goal-h1,
.todo-goal-h1-sub {
	font: normal 700 14px $museo-sans;
	color: $orange-dark;
	display: block;
	text-transform: uppercase;
	min-width:500px;
	}
	
.todo-goal-h1-sub {
	font-weight: 300;
	color: $med-gray;
	}


.todo-section {
	margin-bottom: 30px;
	}

.todo-table {
	@extend .table-lined;
	margin-bottom: 0;
	
	th {
		background-color: #fafafa;
		}
	
	th.todo-type {
		width: 60%;
		}

	th.todo-savings {
		width: 20%;
		}
	
	.todo-link {
		text-align: right;
		}
	
	td.todo-link {
		font-size: 12px;
		line-height: 130%;
		vertical-align: center;
			
			.link-text {
				position: relative;
				top: 4px;
				}
		}
	
	.checkbox-container {
		width: 1%;
		}

	.todo-type.checked {
		@include trans(.3s);
		color: $med-gray;
		text-decoration: line-through;
		}
	
	.todo-target {
		@extend .money-number-med;
		}

	.todo-savings {
		//text-align: right;
		}
	
	td.todo-savings {
		@extend .money-number-med;
		}

	} /* !todo table */


.action-page .todo-table td.todo-type {
	//padding-left: 0;
	}

.todo-footer {
	margin: 20px 25px 0;
	@include ui-grid-lr;

		.todo-print-btn {
			position: relative;
			top: -6px;
			}

	}

.todo-back-btn {
	font: normal 500 13px $museo-sans;
	@include trans(.2s);
	color: $med-gray;
		
		&:hover {
			color: $orange;
			}
	}

.todo-change-goal-btn {
	@extend .change-goal-link;
	margin-top: 8px;
	}


/* !============================================= */

/* ! Jared Ish								     */

/* !============================================= */

.blank-input {
	outline: none; 
	border: 0px; 
	background: transparent
	}

.page-item {
	margin-right: -100%; 
	position: absolute; 
	top: 200px;
	}

.target-short-group {
	@include trans(500ms, top, ease-in-out);
	}

#graph-short_by .amount {
	display: none;
	}

#graph-spendless-amt {
	background-color: #DBDBDB; 
	@include box-shadow(rgba(0, 0, 0, .5) 0px 0px 2px inset);
}

#graph-spendless-amt .amount {
	display: none;
	}

.output-relative {
	position: relative;
	}
	
/* !============================================= */

/* ! Fixed Prev/Next Buttons					  */

/* !============================================= */

.sticky-btn-prev,
.sticky-btn-next {
	background: #fff;
	@include border-radius(3px);
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	display: block;
	width: 50px;
	height: 50px;	
	top: 160px;
	z-index:1000;
	&:hover {
		@include box-shadow(rgba(0, 0, 0, .15) 0px 0px 6px);		
		}
	}

.sticky-btn-prev {
	background-image: url("/wp-content/themes/shebang/_images/prev.png");
	left: 15px;
}

.sticky-btn-next {
	background-image:url("/wp-content/themes/shebang/_images/next.png");
	right: 15px;
}