/* !============================================= */

/* ! Stacked Bar for Target, Drawdown, etc. 	  */ 

/* !============================================= */

.output {
	position: relative;
	height: 500px;
	}

.output-fixed,
.output-absolute {
	width: 552px;
	}

.output-fixed {
	position: fixed; 
	top: 50px;
	}

.output-absolute {
	position: absolute;
	}	

/* Target Graphs */

.graph-hgroup {
	text-align: center;
	height: 75px;
	}

.graph-header {
	@extend .form-label-h1;
	margin-bottom: 4px;
	}

.graph-key-label {
	font: normal 300 14px $museo-sans;
	color: $med-gray;
	}

.graph-number {
	@extend .big-number;
	margin-bottom: 4px;
	
	.dollar {
		@extend .unit-default;
		position: relative;
		top: -3px;
		}
	
	}

.graph-key-number {
	font: normal 700 29px/115% $museo-sans;
	color: $text-black;
	
	.dollar {
		@extend .unit-default;
		position: relative;
		top: -3px;
		margin-right: 3px;
		}
	
	}

.graph-text {
	@include text-graphic-med;
	color: $med-gray;
	}

.graph-container {
	position: relative;
	width: 100%;
	margin-bottom: 16px;
	}

.graph {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	}

.bg-bar,
.bar-graph-bar {
	width: 100%;
	overflow: hidden;
	@include trans(.25s, height, linear);

	.graph-category {
		margin: 4px 6px;
		@include pie-clearfix;
		}

	.graph-cat-text {
		@include float-left;
		width: 70%;
		height: 16px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		}	
	
	.amount-group {
		@include float-right;
		width: 25%;
		text-align: right;
		font-weight: 300;
		}
	
	}

/* If the bar is too short, the text can't be read. 
   Increase bar height on hover to make readable. */

.too-small-bar:hover {
	position: relative;
	height: 25px !important;
	}


.estimate-note {
	@include text-graphic-small;
	color: $med-gray;
	display: block;
	}