
.benefits-slider-container {
  margin-top: 20px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .benefits-slider-container {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (min-width: 1200px) and (max-width: 1470px) {
  .benefits-slider-container {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.benefits-slider-header {
  text-align: center;
  padding-bottom: 20px; }

.benefits-slider-circle-nav {
  text-align: justify;
  height: 140px; }
  .benefits-slider-circle-nav > div {
    width: 100px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: top; }
    .benefits-slider-circle-nav > div span {
      color: #1F3D7D; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .benefits-slider-circle-nav > div span {
          font-size: 14px;
          line-height: 1.3; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .benefits-slider-circle-nav > div {
        width: 80px; } }
  .benefits-slider-circle-nav:after {
    content: "";
    width: 100%;
    display: inline-block; }
  .benefits-slider-circle-nav .benefits-slider-icon-container {
    display: inline-block; }
  .benefits-slider-circle-nav .benefits-slider-icon {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    background-color: #FFF;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .benefits-slider-circle-nav .benefits-slider-icon img {
      height: 50px;
      width: 50px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .benefits-slider-circle-nav .benefits-slider-icon img {
          height: 40px;
          width: 40px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .benefits-slider-circle-nav .benefits-slider-icon {
        height: 60px;
        width: 60px; } }
  .benefits-slider-circle-nav > div:hover span {
    color: #115e99; }
  .benefits-slider-circle-nav > div:hover .benefits-slider-icon {
    background-color: #CCCCCC;
    border: #FFF 2px solid; }
  .benefits-slider-circle-nav .benefits-slider-icon.benefits-slider-active {
    background-color: #CCCCCC;
    border: #FFF 2px solid; }
  @media (max-width: 991px) {
    .benefits-slider-circle-nav {
      display: none; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .benefits-slider-circle-nav {
      height: 130px; } }

.benefits-slider-carousel {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  margin-bottom: 40px;
  position: relative;
  border: 1px solid #CCCCCC; }
  @media (max-width: 991px) {
    .benefits-slider-carousel {
      text-align: center;
      margin-bottom: 10px;
      height: 100%;
      padding-bottom: 20px; } }
  .benefits-slider-carousel:after, .benefits-slider-carousel:before {
    bottom: 100%;
    left: 3vw;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
    @media (max-width: 991px) {
      .benefits-slider-carousel:after, .benefits-slider-carousel:before {
        display: none; } }
  .benefits-slider-carousel:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #FFF;
    border-width: 20px;
    margin-left: -20px; }
  .benefits-slider-carousel:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #CCCCCC;
    border-width: 22px;
    margin-left: -22px; }

  @media (max-width: 991px) {
    .benefits-slider-carousel .benefits-slider-arrow {
      display: none;
    }
  }

  .benefits-slider-carousel .benefits-slider-arrow:hover {
    color: #115e99;
  }

  .benefits-slider-carousel .benefits-slider-arrow.fa-chevron-left,
  .benefits-slider-carousel .benefits-slider-arrow.fa-chevron-right {
    position: absolute;
    top: 120px;
  }

  .benefits-slider-carousel .benefits-slider-arrow.fa-chevron-left {
    left: -55px;
  }

  .benefits-slider-carousel .benefits-slider-arrow.fa-chevron-right {
    right: -55px;
  }

  .benefits-slider-carousel .row {
    padding: 0 30px 0 30px;
    display: none; }
    .benefits-slider-carousel .row h3 {
      margin-top: 0;
      color: #1888de; }
    .benefits-slider-carousel .row > div {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .benefits-slider-carousel .row.benefits-slider-active {
      display: block; }
    .benefits-slider-carousel .row p {
      padding-bottom: 25px; }
  @media (max-width: 991px) {
    .benefits-slider-carousel .btn-tertiary {
      margin-top: 20px; } }

.benefits-slider-arrow {
  color: #1888de;
  font-size: 3em;
  cursor: pointer; }
  @media (max-width: 991px) {
    .benefits-slider-arrow {
      font-size: 2em; } }

.benefits-slider-divider {
  border-left: #CCCCCC 1px solid; }
  @media (max-width: 991px) {
    .benefits-slider-divider {
      display: none; } }

.benefits-slider-header-img {
  height: 40px;
  width: 40px;
  display: none; }
  @media (max-width: 991px) {
    .benefits-slider-header-img {
      display: inline-block; } }

.benefits-slider-mobile-controls {
  display: none;
  text-align: center; }
  .benefits-slider-mobile-controls .fa {
    font-size: 30px; }
  @media (max-width: 991px) {
    .benefits-slider-mobile-controls {
      display: block; } }
  .benefits-slider-mobile-controls > div {
    display: inline-block; }
  .benefits-slider-mobile-controls .benefits-slider-index {
    padding: 0 20px 40px 20px;
    position: relative;
    top: -5px; }

.benefits-slider-sliver {
  background-color: #FFF;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  width: 7%;
  position: absolute; }
  @media (min-width: 992px) {
    .benefits-slider-sliver {
      display: none; } }

.benefits-slider-sliver-left {
  border-right: 1px solid #CCCCCC; }

.benefits-slider-sliver-right {
  border-left: 1px solid #CCCCCC; }