
.cta-full {
  color: #fff;
  text-align: center;
  padding: 48px 20px 60px; }
  .cta-full h1 {
    color: #fff;
    margin: 0;
    padding: 0 0 15px 0;
    font-weight: 700; }
  .cta-full h5 {
    color: #fff;
    font-weight: 500;
    font-size: 1.556em;
    line-height: 1.5;
    margin-top: 0;
  }
  .cta-full p {
    width: 100%;
    font-size: 1em;
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      .cta-full p {
        width: 50%;
        margin-right: auto;
        margin-left: auto; } }
  .cta-full input.form-control, .cta-full .prescreen-questions .zip-search input.zipcode-formatted, .prescreen-questions .zip-search .cta-full input.zipcode-formatted {
    width: 40%;padding: 6px 12px }
    @media (max-width: 767px) {
      .cta-full input.form-control, .cta-full .prescreen-questions .zip-search input.zipcode-formatted, .prescreen-questions .zip-search .cta-full input.zipcode-formatted {
        width: 100%;
        margin-top: 20px; } }
  .cta-full button {
    width: 100%;
    white-space: normal;
    line-height: 1.4;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px; }
    @media (min-width: 768px) {
      .cta-full button {
        width: auto;
        margin-top: 0; } }
    @media (max-width: 767px) {
      .cta-full button {
        margin-top: 20px; } }

.cta-green {
  background-color: #F1FCF0;
  padding: 20px;
  border-radius: 5px; }
  .cta-green strong {
    color: #317C60; }

.cta-yellow {
  border-radius: 6px;
  background: #FFF9E9;
  font-size: 25px;
  padding: 20px; }
  .cta-yellow strong {
    color: #FFB902; }

.cta-red {
  background-color: #fcf3f3;
  padding: 20px;
  border-radius: 5px; }
  .cta-red strong {
    color: red; }

.cta-hero-alternate {
  text-align: center;
  padding: 40px 0; }
  .cta-hero-alternate h1 {
    padding: 0;
    margin-top: 0;
    color: #fff; }
  .cta-hero-alternate .error-state {
    display: none; }

.connected-cta {
  text-align: center;
  padding-bottom: 20px; }
  .connected-cta h3 {
    color: #1888de;
    margin-top: 0; }
  .connected-cta .btn.btn-tertiary {
    padding-top: 8px;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    min-width: 100%;
    transition: min-width 500ms ease; }
    @media (min-width: 992px) {
      .connected-cta .btn.btn-tertiary {
        min-width: 60%; } }
  .connected-cta ul {
    padding: 0;
    margin: 0; }
    .connected-cta ul li {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-block; }
  .connected-cta .connected-container {
    border-top: 2px solid #ccc;
    padding-top: 40px; }
  .connected-cta .stay-connected {
    border-bottom: 2px solid #ccc;
    padding-bottom: 30px; }
    @media (min-width: 768px) {
      .connected-cta .stay-connected {
        border-bottom: none;
        height: 180px;
        position: relative; }
        .connected-cta .stay-connected:after {
          content: ' ';
          display: inline-block;
          position: absolute;
          height: 100%;
          width: 2px;
          border-right: 2px solid #ccc;
          right: 0;
          top: 0; } }
  .connected-cta .spread-the-word {
    padding-top: 20px; }
    @media (min-width: 768px) {
      .connected-cta .spread-the-word {
        height: 200px;
        padding-top: 0; } }
  .connected-cta .social-jewlery li {
    background: #fff;
    border-radius: 100%;
    border: 2px solid #1888de;
    font-size: 1.667em;
    padding: 10px 15px; }
    .connected-cta .social-jewlery li:nth-child(2) {
      padding: 10px 20px;
      margin: 0 15px; }
    .connected-cta .social-jewlery li a {
      color: #1888de; }
    .connected-cta .social-jewlery li:hover {
      background: rgba(0, 0, 0, 0.15); }