
@media print {
  .print-header {
    margin-top: 40px; }
    .print-header > hr {
      padding-top: 10px; }
    .print-header > .pull-right {
      width: 200px;
      height: 66px;
      display: table; }
      .print-header > .pull-right > span {
        display: table-cell;
        vertical-align: bottom;
        font-weight: 700; }
  .print-logo {
    height: 66px;
    width: 310px; } }
